interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://northernterritoryrdr.usedirect.com/NorthernTerritoryRDR/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.0824 ms size 2445 bytes on IP-AC120527","UnitCategories":[{"UnitCategoryId":2,"UnitCategoryName":"Campsite","HasEquipment":true,"Icon":"campsite"}],"NightlySleepingUnits":[{"UnitCategoryId":2,"SleepingUnitId":85,"SleepingUnitName":"Camper
                  Trailer","IsWheeled":true,"Icon":"campertrailer"},{"UnitCategoryId":2,"SleepingUnitId":88,"SleepingUnitName":"Caravan","IsWheeled":true,"Icon":"caravan"},{"UnitCategoryId":2,"SleepingUnitId":92,"SleepingUnitName":"Motorhome","IsWheeled":true,"Icon":"motorhome"},{"UnitCategoryId":2,"SleepingUnitId":84,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"}],"MinVehicleLengths":[{"SleepingUnitId":85,"MinVehicleLength":10,"MinVehicleName":"<
                  10","Icon":"10"},{"SleepingUnitId":85,"MinVehicleLength":20,"MinVehicleName":"<
                  20","Icon":"20"},{"SleepingUnitId":85,"MinVehicleLength":30,"MinVehicleName":"<
                  30","Icon":"30"},{"SleepingUnitId":85,"MinVehicleLength":40,"MinVehicleName":"<
                  40","Icon":"40"},{"SleepingUnitId":85,"MinVehicleLength":50,"MinVehicleName":"<
                  50","Icon":"50"},{"SleepingUnitId":85,"MinVehicleLength":60,"MinVehicleName":"<
       [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://northernterritoryrdr.usedirect.com/NorthernTerritoryRDR/rdr/fd/citypark
      response:
          body:
              string:
                  '{"2":{"CityParkId":2,"Name":"Iytwelepenty / Davenport Ranges National
                  Park","Latitude":-20.827455,"Longitude":134.9749879,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":2},"3":{"CityParkId":3,"Name":"Karlu
                  Karlu / Devil''s Marbles Conservation Reserve","Latitude":-20.566108,"Longitude":134.292247,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":4},"4":{"CityParkId":4,"Name":"Chambers
                  Pillar Historical Reserve","Latitude":-24.8698,"Longitude":133.824668,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":5},"5":{"CityParkId":5,"Name":"Channel
                  Poin[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://northernterritoryrdr.usedirect.com/NorthernTerritoryRDR/rdr/fd/places
      response:
          body:
              string:
                  "[{\"PlaceId\":2,\"RegionId\":2,\"Name\":\"Iytwelepenty / Davenport
                  Ranges National Park\",\"ShortName\":\"Iytwelepenty / Davenport Ranges National
                  Park\",\"Description\":\"Iytwelepenty / Davenport Ranges National Park\",\"OrderBy\":0,\"AllowWebBooking\":true,\"InventoryLocking\":false,\"InventoryLockDuration\":0,\"UsePrepend\":true,\"PrependCode\":\"FFC\",\"Address1\":\"Iytwelepenty
                  / Davenport Ranges National Park\",\"Address2\":\"\",\"City\":\"Davenport\",\"State\":\"NT\",\"Zip\":\"0872\",\"VoicePhone\":\"\",\"FaxPhone\":\"\",\"UDate\":\"2022-01-26T12:20:07.647\",\"UserId\":1,\"RowGuid\":\"2740721c-7b49-450e-84d2-a3961643fb89\",\"CatalogToken\":null,\"IsWebViewable\":true,\"Superintendent\":null,\"WeekdayCheckdays\":0,\"WeekendCheckdays\":0,\"Latitude\":-20.827455520629883,\"Longitude\":134.97499084472656,\"IsAvailableForGreatwalk\":false,\"Parksize\":\"Small\",\"ParkCategoryid\":1,\"ParkActivity\":1,\"ParkPopularity\":0,\"SkipNightlyUnitsMaxOccupancyCheck\":0,\"SkipGroupByFacility\":0,\"IsAvailableForFixedgreatwalk\":false,\"ShipAddress1\":\"Iytwelepenty
                  / Davenport Ranges National Park\",\"ShipAddress2\":\"\",\"ShipCity\":\"Davenport\",\"ShipState\":\"NT\",\"ShipZip\":\"0872\",\"UseBillingAddress\":true,\"NumberofPerson\":0,\"FacilityDefaultZoom\":13},{\"PlaceId\":4,\"RegionId\":2,\"Name\":\"Karlu
                  Karlu / Devil's Marbles Conservation Reserve\",\"ShortName\":\"Karlu Karlu
                  / Devil's Marbles Conservation Reserve\",\"Description\":\"Karlu Karlu / Devil's
                  Marbles Conservation Reserve\",\"OrderBy\":0,\"AllowWebBooking\":true,\"InventoryLocking\":false,\"InventoryLockDuration\":0,\"UsePrepend\":true,\"PrependCode\":\"D9E\",\"Address1\":\"Karlu
                  Karlu / Devil's Marbles Conserv[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://northernterritoryrdr.usedirect.com/NorthernTerritoryRDR/rdr/fd/facilities
      response:
          body:
              string:
                  "[{\"FacilityId\":2,\"RegionId\":2,\"PlaceId\":2,\"Name\":\"Frew River
                  4WD Track Campground 1\",\"ShortName\":\"Frew River 4WD Track Campground 1\",\"Description\":\"Frew
                  River 4WD Track Campground 1\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"FFC\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2022-09-20T11:23:45.133\",\"RowGuid\":\"9ab35eb9-54fe-4666-b35e-b6dbad7128d6\",\"FacilityTypeNew\":3,\"MaxPersonOccupancy\":10,\"IsAvailableForGroup\":false,\"IsAvailableForPatron\":true,\"IsAvailableForEducationalGorup\":true,\"IsAvailableForCto\":false,\"IsCaptcha\":false,\"FacilityBehaviourType\":0,\"EnableCheckOccupancy\":true,\"IsTrail\":false,\"TimebaseMaxHours\":0,\"TimebaseMinHours\":0,\"TimebaseDuration\":0},{\"FacilityId\":3,\"RegionId\":2,\"PlaceId\":2,\"Name\":\"Frew
                  River 4WD Track Campground 2\",\"ShortName\":\"Frew River 4WD Track Campground
                  2\",\"Description\":\"Frew River 4WD Track Campground 2\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"FFC\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2022-09-20T11:27:20.327\",\"RowGuid\":\"06891ed4-b622-44f5-8bff-336933e601c9\",\"FacilityTypeNew\":3,\"MaxPersonOccupanc[...]
