interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://ohiordr.usedirect.com/ohiordr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.1228 ms size 4050 bytes on OHIORDR1","UnitCategories":[{"UnitCategoryId":3,"UnitCategoryName":"Cabins","HasEquipment":false,"Icon":"cabins"},{"UnitCategoryId":1,"UnitCategoryName":"Camping","HasEquipment":false,"Icon":"camping"},{"UnitCategoryId":6,"UnitCategoryName":"Day
                  use","HasEquipment":false,"Icon":"dayuse"},{"UnitCategoryId":2,"UnitCategoryName":"Equestrian
                  Camping","HasEquipment":false,"Icon":"equestriancamping"},{"UnitCategoryId":4,"UnitCategoryName":"Group
                  Camps","HasEquipment":false,"Icon":"groupcamps"},{"UnitCategoryId":5,"UnitCategoryName":"Unique
                  Getaways","HasEquipment":false,"Icon":"uniquegetaways"}],"NightlySleepingUnits":[],"MinVehicleLengths":[],"UnitTypesGroups":[{"UnitCategoryId":1,"UnitTypesGroupId":5,"UnitTypesGroupName":"Campsite
                  premium non-electric","Icon":"campsitepremiumnonelectric"},{"UnitCategoryId":1,"UnitTypesGroupId":7,"UnitTypesGroupName":"Campsite
                  tent only","Icon":"campsitetentonly"},{"UnitCategoryId":1,"UnitTypesGroupId":40,"UnitTypesGroupName":"Campsite
                  electric","Icon":"campsiteelectric"},{"UnitCategoryId":1,"UnitTypesGroupId":41,"UnitTypesGroupName":"Campsite
                  full hookup","Icon":"campsitefullhookup"},{"UnitCategoryId":1,"Uni[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://ohiordr.usedirect.com/ohiordr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"2237":{"CityParkId":2237,"Name":"Lebanon","Latitude":39.4248,"Longitude":-84.2139,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"2238":{"CityParkId":2238,"Name":"Roseville","Latitude":39.8066,"Longitude":-82.0756,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"2239":{"CityParkId":2239,"Name":"Saint
                  Henry","Latitude":40.4208,"Longitude":-84.6326,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"2240":{"CityParkId":2240,"Name":"Sandusky","Latitude":41.4472,"Longitude":-82.7009,"IsActive":true,"EntityType":"City","EnterpriseId":1,[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://ohiordr.usedirect.com/ohiordr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":103,"RegionId":30,"Name":"Hocking Hills State Park","ShortName":"Hocking
                  Hills State Park","Description":"Hocking Hills State Park","OrderBy":1,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":10,"UsePrepend":true,"PrependCode":"0905","Address1":"19852
                  ST. RT 664 S","Address2":"","City":"Logan","State":"OH","Zip":"43138","VoicePhone":"740-385-6842","FaxPhone":"(740)380-3318","UDate":"2022-11-10T20:26:55.413","UserId":1,"RowGuid":"10be0659-bd02-4bdf-96fb-5c61947d6165","CatalogToken":null,"IsWebViewable":true,"Superintendent":"960009","WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":39.4279482205945,"Longitude":-82.5400436401366,"IsAvailableForGreatwalk":false,"Parksize":"Medium","ParkCategoryid":1,"ParkActivity":1,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":"","ShipAddress2":"","ShipCity":"","ShipState":"","ShipZip":"","UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":104,"RegionId":29,"Name":"East
                  Harbor State Park","ShortName":"East Harbor State Park","Description":"East
                  Harbor State Park","OrderBy":2,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":10,"UsePrepend":true,"PrependCode":"0805","Address1":"1169
                  NORTH BUCK ROAD","Address2":"","City":"Lakeside-Marblehead","State":"OH","Zip":"43440","VoicePhone":"4197344424","FaxPhone":"(419)
                  734-1473","UD[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://ohiordr.usedirect.com/ohiordr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":12,"RegionId":30,"PlaceId":103,"Name":"Hocking Hills
                  Ash Cave Shelter","ShortName":"Hocking Hills Ash Cave Shelter","Description":"Hocking
                  Hills Ash Cave Shelter","OrderBy":5,"FacilityType":2,"UsePrepend":true,"PrependCode":"0905","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2022-11-10T20:45:13.57","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":60,"RegionId":27,"PlaceId":108,"Name":"A.W.
                  Marion Campground","ShortName":"A.W. Marion Campground","Description":"A.W.
                  Marion Campground","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"0655","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2021-03-26T08:55:05.38","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailab[...]
