interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://virginiardr.usedirect.com/virginiardr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.7508 ms size 22480 bytes on IP-AC12030E","UnitCategories":[{"UnitCategoryId":7,"UnitCategoryName":"Breaks
                  Cabin","HasEquipment":false,"Icon":"breakscabin"},{"UnitCategoryId":5,"UnitCategoryName":"Bunkhouse","HasEquipment":false,"Icon":"bunkhouse"},{"UnitCategoryId":3,"UnitCategoryName":"Cabins","HasEquipment":false,"Icon":"cabins"},{"UnitCategoryId":1,"UnitCategoryName":"Camping","HasEquipment":true,"Icon":"camping"},{"UnitCategoryId":12,"UnitCategoryName":"Camping
                  Cabin","HasEquipment":false,"Icon":"campingcabin"},{"UnitCategoryId":6,"UnitCategoryName":"Day
                  Use","HasEquipment":false,"Icon":"dayuse"},{"UnitCategoryId":11,"UnitCategoryName":"Equestrian
                  Camping","HasEquipment":true,"Icon":"equestriancamping"},{"UnitCategoryId":2,"UnitCategoryName":"Group
                  Camping","HasEquipment":true,"Icon":"groupcamping"},{"UnitCategoryId":9,"UnitCategoryName":"Hotel","HasEquipment":false,"Icon":"hotel"},{"UnitCategoryId":4,"UnitCategoryName":"Lodge","HasEquipment":false,"Icon":"lodge"},{"UnitCategoryId":10,"UnitCategoryName":"Marina","HasEquipment":false,"Icon":"marina"},{"UnitCategoryId":14,"UnitCategoryName":"Permits","HasEquipment":false,"Icon":"permits"},{"UnitCategoryId":8,"UnitCategoryName":"Yurt","HasEquipment":false,"Icon":"yurt"}],"NightlySleepingUnits":[{"UnitCategoryId":1,"SleepingUnitId":27,"SleepingUnitName":"Boat","IsWheeled":false,"Icon":"boat"},{"UnitCategoryId":1,"SleepingUnitId":28,"SleepingUnitName":"Canoe/Kayak","IsWheeled":false,"Icon":"canoekayak"},{"UnitCategoryId":1,"SleepingUnitId":23,"SleepingUnitName":"Car","IsWheeled":true,"Icon":"car"},{"UnitCategoryId":1,"SleepingUnitId":18,"SleepingUnitName":"Caravan/Camper
                  Van","IsWheeled":true,"Icon":"caravancampervan"},{"UnitCategoryId":1,"SleepingUnitId":26,"SleepingUnitName":"Horse
                  Trailer","IsWheeled":true,"Icon":"horsetraile[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://virginiardr.usedirect.com/virginiardr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"4468":{"CityParkId":4468,"Name":"Accomac","Latitude":37.7022,"Longitude":-75.6592,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"4469":{"CityParkId":4469,"Name":"Rhoadesville","Latitude":38.3017,"Longitude":-77.9011,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"4470":{"CityParkId":4470,"Name":"Dulles","Latitude":39.0021,"Longitude":-77.4421,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"4471":{"CityParkId":4471,"Name":"Atlantic","Latitude":37.9006,"Longitude":-75.5052,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://virginiardr.usedirect.com/virginiardr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1,"RegionId":4,"Name":"Bear Creek Lake State Park","ShortName":"Bear
                  Creek Lake State Park","Description":"Bear Creek Lake State Park","OrderBy":1,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"VABC","Address1":"22
                  BEAR CREEK LAKE ROAD","Address2":"","City":"CUMBERLAND","State":"Virginia","Zip":"230409518","VoicePhone":"8044924410","FaxPhone":"8044929523","UDate":"2022-03-11T09:25:49.11","UserId":1,"RowGuid":"495784b0-9576-4e93-86cd-88c34972fc75","CatalogToken":null,"IsWebViewable":true,"Superintendent":null,"WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":37.531773,"Longitude":-78.271589,"IsAvailableForGreatwalk":false,"Parksize":"Large","ParkCategoryid":1,"ParkActivity":4,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":"","ShipAddress2":"","ShipCity":"","ShipState":"","ShipZip":"","UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":2,"RegionId":1,"Name":"Belle
                  Isle State Park","ShortName":"Belle Isle State Park","Description":"Belle
                  Isle State Park","OrderBy":2,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"VABI","Address1":"1632
                  Belle Isle Rd.","Address2":"","City":"LANCASTER","State":"Virginia","Zip":"225039425","VoicePhone":"8044620164","FaxPhone":"8044620164","UDate":"2021-11-23T08:49:30.24",[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://virginiardr.usedirect.com/virginiardr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":1,"RegionId":4,"PlaceId":1,"Name":"Acorn Campground","ShortName":"Acorn
                  Campground","Description":"Acorn Campground","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"VABC","AllowWebBooking":true,"AutoOpenInventory":false,"UDate":"2021-10-06T15:01:41.153","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":2,"RegionId":4,"PlaceId":1,"Name":"Acorn
                  Campground Waterview Sites","ShortName":"Acorn Campground Waterview Sites","Description":"Acorn
                  Campground Waterview Sites","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"VABC","AllowWebBooking":true,"AutoOpenInventory":false,"UDate":"2021-10-06T15:01:41.153","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailabl[...]
