interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://alabamardr.usedirect.com/alabamardr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.2285 ms size 5340 bytes on USE-CENTRALRDR2","UnitCategories":[{"UnitCategoryId":1,"UnitCategoryName":"Backcountry
                  Camping","HasEquipment":false,"Icon":null},{"UnitCategoryId":4,"UnitCategoryName":"Camping
                  Cabins","HasEquipment":false,"Icon":null},{"UnitCategoryId":5,"UnitCategoryName":"Equestrian
                  Camping","HasEquipment":false,"Icon":null},{"UnitCategoryId":7,"UnitCategoryName":"Improved
                  Camping","HasEquipment":false,"Icon":null},{"UnitCategoryId":8,"UnitCategoryName":"Meeting
                  and Event Space","HasEquipment":false,"Icon":null},{"UnitCategoryId":9,"UnitCategoryName":"Picnic
                  Pavilions","HasEquipment":false,"Icon":null},{"UnitCategoryId":11,"UnitCategoryName":"Primitive
                  Camping","HasEquipment":false,"Icon":null}],"NightlySleepingUnits":[],"MinVehicleLengths":[],"UnitTypesGroups":[{"UnitCategoryId":1,"UnitTypesGroupId":1,"UnitTypesGroupName":"Backcountry
                  Campsite","Icon":null},{"UnitCategoryId":4,"UnitTypesGroupId":5,"UnitTypesGroupName":"Camping
                  Cabin (Large)","Icon":null},{"UnitCategoryId":4,"UnitTypesGroupId":6,"UnitTypesGroupName":"Camping
                  Cabin (Standard)","Icon":null},{"UnitCategoryId":5,"UnitTypesGroupId":7,"UnitTypesGroupName":"Equestrian:
                  W/E","Icon":null},{"UnitCategoryId":5,"UnitTypesGroupId":8,"UnitTypesGroupName":"Equestrian:
                  W/E/S","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":4,"UnitTypesGroupName":"Camping
                  Cabin - RRM","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":10,"UnitTypesGroupName":"Gulf
                  Short Term Rental: W/E/S","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":11,"UnitTypesGroupName":"Improved
                  Tent: W/E","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":16,"UnitTypesGroupName":"Premium
                  Waterfront: W/E/S","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":17,"UnitTypesGroupName":"Premium:
                  W/E","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":18,"UnitTypesGroupName":"Premium:
                  W/E/S","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":26,"UnitTypesGroupName":"Standard:
                  W/E","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId":27,"UnitTypesGroupName":"Standard:
                  W/E/S","Icon":null},{"UnitCategoryId":7,"UnitTypesGroupId[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://alabamardr.usedirect.com/alabamardr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"3351":{"CityParkId":3351,"Name":"Mc Intosh","Latitude":31.227,"Longitude":-88.0869,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3352":{"CityParkId":3352,"Name":"Jackson","Latitude":31.5369,"Longitude":-87.8266,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3353":{"CityParkId":3353,"Name":"Opp","Latitude":31.2936,"Longitude":-86.2595,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3354":{"CityParkId":3354,"Name":"Remlap","Latitude":33.8308,"Longitude":-86.5947,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://alabamardr.usedirect.com/alabamardr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1,"RegionId":1,"Name":"Bladon Springs State Park","ShortName":"Bladon
                  Springs State Park","Description":"Bladon Springs State Park","OrderBy":1,"AllowWebBooking":false,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"120","Address1":"3921
                  Bladon Road","Address2":null,"City":"Bladon Springs","State":"AL","Zip":"36919","VoicePhone":"205-459-3459","FaxPhone":null,"UDate":"2020-03-18T14:22:33.41","UserId":1,"RowGuid":"fe19f8a0-1ec6-4fe0-b7f1-48a99f4defda","CatalogToken":null,"IsWebViewable":true,"Superintendent":null,"WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":31.7317523956299,"Longitude":-88.1925430297852,"IsAvailableForGreatwalk":false,"Parksize":"Small","ParkCategoryid":1,"ParkActivity":4,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":null,"ShipAddress2":null,"ShipCity":null,"ShipState":null,"ShipZip":null,"UseBillingAddress":false,"NumberofPerson":0},{"PlaceId":2,"RegionId":1,"Name":"Blue
                  Springs State Park","ShortName":"Blue Springs State Park","Description":"Blue
                  Springs State Park","OrderBy":2,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"130","Address1":"2595
                  AL-10","Address2":null,"City":"Clio","State":"AL","Zip":"36017","VoicePhone":"334-397-4875","FaxPhone":null,"UDate":"2020-03-18T14:22:33.427","UserId":1,"RowGuid":"f[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://alabamardr.usedirect.com/alabamardr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":1,"RegionId":1,"PlaceId":2,"Name":"Camper Storage","ShortName":"Camper
                  Storage","Description":"Camper Storage","OrderBy":5,"FacilityType":2,"UsePrepend":true,"PrependCode":"130","AllowWebBooking":false,"AutoOpenInventory":true,"UDate":"2020-10-08T13:18:46.373","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":2,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":3,"RegionId":1,"PlaceId":2,"Name":"Camping
                  Cabins","ShortName":"Camping Cabins","Description":"Camping Cabins","OrderBy":2,"FacilityType":2,"UsePrepend":true,"PrependCode":"130","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2020-10-08T13:18:33.747","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCt[...]
    - request:
          body:
              '{"StartDate": "07-01-2023", "WebOnly": true, "EndDate": "07-31-2023", "UnitSort":
              "orderby", "InSeasonOnly": true, "FacilityId": 114}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://alabamardr.usedirect.com/alabamardr/rdr/search/grid
      response:
          body:
              string:
                  '{"Message":"Built in 74.6717 ms size 1240328 bytes on USE-CENTRALRDR2","Filters":{"InSeasonOnly":"True","WebOnly":"True"},"UnitTypeId":0,"StartDate":"2023-07-01","EndDate":"2023-07-31","NightsRequested":31,"NightsActual":31,"TodayDate":"2023-06-05","TimeZone":"Central
                  Standard Time","TimeStamp":"2023-06-05 22:17:03","MinDate":"2023-06-05","MaxDate":"2023-12-05","AvailableUnitsOnly":false,"UnitSort":"orderby","TimeGrid":false,"ForUnit":false,"UnitId":0,"TimeBetween":"","TimeBetweenEval":"n/a","Facility":{"FacilityId":114,"Name":"Improved
                  Campground: B Section","Description":"Improved Campground: B Section","FacilityType":2,"FacilityBehaviourType":0,"FacilityMapSize":true,"FacilityImage":"Alabama/Facilities/114.jpg","FacilityImageVBT":null,"DatesInSeason":31,"DatesOutOfSeason":0,"SeasonDates":{"2023-07-01T00:00:00":true,"2023-07-02T00:00:00":true,"2023-07-03T00:00:00":true,"2023-07-04T00:00:00":true,"2023-07-05T00:00:00":true,"2023-07-06T00:00:00":true,"2023-07-07T00:00:00":true,"2023-07-08T00:00:00":true,"2023-07-09T00:00:00":true,"2023-07-10T00:00:00":true,"2023-07-11T00:00:00":true,"2023-07-12T00:00:00":true,"2023-07-13T00:00:00":true,"2023-07-14T00:00:00":true,"2023-07-15T00:00:00":true,"2023-07-16T00:00:00":true,"2023-07-17T00:00:00":true,"2023-07-18T00:00:00":true,"2023-07-19T00:00:00":true,"2023-07-20T00:00:00":true,"2023-07-21T00:00:00":true,"2023-07-22T00:00:00":true,"2023-07-23T00:00:00":true,"2023-07-24T00:00:00":true,"2023-07-25T00:00:00":true,"2023-07-26T00:00:00":true,"2023-07-27T00:00:00":true,"2023-07-28T00:00:00":true,"2023-07-29T00:00:00":true,"2023-07-30T00:00:00":true,"2023-07-31T00:00:00":true},"TrafficStatuses":{},"UnitCount":222,"AvailableUnitCount":204,"SliceCount":6882,"AvailableSliceCount":2623,"Restrictions":{"FutureBookingStarts":"2023-06-05T00:00:00-05:00","FutureBookingEnds":"2024-06-05T00:00:00-05:00","MinimumStay":1,"MaximumStay":14,"IsRestrictionValid":true},"Units":{"786.1":{"UnitId":2545,"Name":"Standard:
                  W/E/S #B001","ShortName":"B001","RecentPopups":0,"IsAda":false,"AllowWebBooking":true,"MapInfo":{"UnitImage":"Alabama/Units/Generic","UnitImageVBT":null,"ImageCoordinateX":259,"ImageCoordinateY":827,"ImageWidth":35,"ImageHeight":35,"FontSize":8.0,"Latitude":0.0,"Longitude":0.0},"IsWebViewable":true,"IsFiltered":false,"UnitCategoryId":7,"SleepingUnitIds":[9,10],"UnitTypeGroupId":27,"UnitTypeId":27,"UseType":4,"VehicleLength":48,"OrderBy":308,"SliceCount":31,"AvailableCount":13,"Slices":{"2023-07-01T00:00:00":{"Date":"2023-07-01","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":853533,"Lock":null,"MinStay":2},"2023-07-02T00:00:00":{"Date":"2023-07-02","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":853533,"Lock":null,"MinStay":1},"2023-07-03T00:00:00":{"Date":"2023-07-03","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":853533,"Lock":null,"MinStay":1},"2023-07-04T00:00:00":{"Date":"2023-07-04","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":853533,"Lock":null,"MinStay":1},"2023-07-05T00:00:00":{"Date":"2023-07-05","IsFree":false,"IsBlocked":fals[...]
