interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://fairfaxrdr.usedirect.com/FCPARDR/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.4403 ms size 14241 bytes on USEFAIRFAXRDR1","UnitCategories":[{"UnitCategoryId":26,"UnitCategoryName":"Amphitheater","HasEquipment":false,"Icon":"amphitheater"},{"UnitCategoryId":1042,"UnitCategoryName":"Birthday
                  Party","HasEquipment":true,"Icon":"birthdayparty"},{"UnitCategoryId":1040,"UnitCategoryName":"Camping","HasEquipment":false,"Icon":"camping"},{"UnitCategoryId":1036,"UnitCategoryName":"Canopy","HasEquipment":false,"Icon":"canopy"},{"UnitCategoryId":1043,"UnitCategoryName":"Court","HasEquipment":true,"Icon":"court"},{"UnitCategoryId":1044,"UnitCategoryName":"Field
                  House","HasEquipment":true,"Icon":"fieldhouse"},{"UnitCategoryId":1038,"UnitCategoryName":"Gazebo","HasEquipment":false,"Icon":"gazebo"},{"UnitCategoryId":28,"UnitCategoryName":"Picnic
                  Area","HasEquipment":true,"Icon":"picnicarea"},{"UnitCategoryId":1035,"UnitCategoryName":"School
                  Field Trips","HasEquipment":false,"Icon":"schoolfieldtrips"},{"UnitCategoryId":30,"UnitCategoryName":"Shelter","HasEquipment":false,"Icon":"shelter"},{"UnitCategoryId":1034,"UnitCategoryName":"Sports
                  Bag","HasEquipment":false,"Icon":"sportsbag"},{"UnitCategoryId":29,"UnitCategoryName":"Volleyball
                  Court","HasEquipment":false,"Icon":"volleyballcourt"},{"UnitCategoryId":1039,"UnitCategoryName":"WM
                  Rentals","HasEquipment":false,"Icon":"wmrentals"}],"NightlySleepingUnits":[{"UnitCategoryId":1042,"SleepingUnitId":75,"SleepingUnitName":"New
                  Sleeping Unit","IsWheeled":true,"Icon":"newsleepingunit"},{"UnitCategoryId":1042,"SleepingUnitId":76,"SleepingUnitName":"New
                  Sleeping Unit","IsWheeled":false,"Icon":"newsleepingunit"},{"UnitCategoryId":1042,"SleepingUnitId":78,"SleepingUnitName":"Pop-up","IsWheeled":false,"Icon":"popup"},{"UnitCategoryId":1042,"SleepingUnitId":77,"SleepingUnitName":"RV","IsWheeled":false,"Icon":"rv"},{"UnitCategoryId":1042,"SleepingUnitId":74,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":10[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://fairfaxrdr.usedirect.com/FCPARDR/rdr/fd/citypark
      response:
          body:
              string:
                  '{"563":{"CityParkId":563,"Name":"Riverbend Park","Latitude":39.017635,"Longitude":-77.255431,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":7977},"564":{"CityParkId":564,"Name":"Roundtree
                  Park","Latitude":38.852284,"Longitude":-77.190931,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":7978},"592":{"CityParkId":592,"Name":"Stuart
                  High School","Latitude":38.856707,"Longitude":-77.149451,"IsActive":false,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"601":{"CityParkId":601,"Name":"Turner
                  Farm Park","Latitude":38.996407,"Longit[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://fairfaxrdr.usedirect.com/FCPARDR/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1186,"RegionId":1,"Name":"Park Services Division","ShortName":"Park
                  Services Division","Description":"Pk Svcs","OrderBy":223,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":10,"UsePrepend":true,"PrependCode":"A926","Address1":"12055
                  Government Center Pkwy","Address2":"12055 Government Center Pkwy","City":"Fairfax","State":"VA","Zip":"22035","VoicePhone":"","FaxPhone":"","UDate":"2018-04-09T14:56:47.627","UserId":1,"RowGuid":"6a3e40c8-be05-4cba-b1ad-cdb83ea77081","CatalogToken":null,"IsWebViewable":true,"Superintendent":null,"WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":0.0,"Longitude":0.0,"IsAvailableForGreatwalk":false,"Parksize":"small","ParkCategoryid":1,"ParkActivity":1,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":null,"ShipAddress2":null,"ShipCity":null,"ShipState":null,"ShipZip":null,"UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":7762,"RegionId":1,"Name":"Adventure
                  Links","ShortName":"Adventure Links","Description":"AdvLinks","OrderBy":1,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"18F","Address1":"21498
                  Blue Ridge Mtn. Rd.","Address2":"21498 Blue Ridge Mtn. Rd.","City":"Paris","State":"VA","Zip":"20130","VoicePhone":"8008770954","FaxPhone":"","UDate":"2021-04-08T10:00:10.737","UserId":1,"RowGuid":"51c5ab20-22[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://fairfaxrdr.usedirect.com/FCPARDR/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":1030,"RegionId":1,"PlaceId":7768,"Name":"Picnics and
                  Shelters","ShortName":"Picnics and Shelters","Description":"Arrowbrook Park","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"0F1","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2022-11-28T14:34:42.18","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":null,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":4,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":1031,"RegionId":1,"PlaceId":8056,"Name":"Picnics
                  and Shelters","ShortName":"Picnics and Shelters","Description":"Braddock Park","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"618","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2022-11-28T14:35:34.33","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":null,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":fals[...]
