interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://maricopardr.usedirect.com/maricopardr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 1.1858 ms size 29275 bytes on USED-MT-RDR1","UnitCategories":[{"UnitCategoryId":1,"UnitCategoryName":"Camping","HasEquipment":true,"Icon":"camping"},{"UnitCategoryId":3,"UnitCategoryName":"Group","HasEquipment":true,"Icon":"group"},{"UnitCategoryId":6,"UnitCategoryName":"Ramada","HasEquipment":true,"Icon":"ramada"},{"UnitCategoryId":8,"UnitCategoryName":"Weddings","HasEquipment":true,"Icon":"weddings"}],"NightlySleepingUnits":[{"UnitCategoryId":1,"SleepingUnitId":9,"SleepingUnitName":"1
                  Tent w RV/Trailer","IsWheeled":true,"Icon":"1tentwrvtrailer"},{"UnitCategoryId":1,"SleepingUnitId":7,"SleepingUnitName":"1
                  Tent","IsWheeled":false,"Icon":"1tent"},{"UnitCategoryId":1,"SleepingUnitId":8,"SleepingUnitName":"2
                  Tent","IsWheeled":false,"Icon":"2tent"},{"UnitCategoryId":1,"SleepingUnitId":14,"SleepingUnitName":"Camper/Van","IsWheeled":true,"Icon":"campervan"},{"UnitCategoryId":1,"SleepingUnitId":13,"SleepingUnitName":"Lrg
                  Trailer (30+ ft)","IsWheeled":true,"Icon[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://maricopardr.usedirect.com/maricopardr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"1108":{"CityParkId":1108,"Name":"HQ","Latitude":0.0,"Longitude":0.0,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":9},"1109":{"CityParkId":1109,"Name":"Lake
                  Pleasant Regional Park","Latitude":0.0,"Longitude":0.0,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":10},"1":{"CityParkId":1,"Name":"Alpha
                  Park","Latitude":0.0,"Longitude":0.0,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Large","PlaceId":1},"1110":{"CityParkId":1110,"Name":"Maricopa
                  Trail","Latitude":0.0,"Longitude":0.0,"IsActive":true,"EntityTyp[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://maricopardr.usedirect.com/maricopardr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1,"RegionId":1,"Name":"Alpha Park","ShortName":"Alpha Park","Description":"Alpha
                  Park","OrderBy":0,"AllowWebBooking":false,"InventoryLocking":false,"InventoryLockDuration":10,"UsePrepend":true,"PrependCode":"51","Address1":"Address
                  1","Address2":"Address 2","City":"City 1","State":"NY","Zip":"11577","VoicePhone":"
                  ","FaxPhone":"","UDate":"2020-09-14T16:56:24.773","UserId":1,"RowGuid":"a8ae5117-4b7d-4561-8efc-b38cf9b34430","CatalogToken":null,"IsWebViewable":false,"Superintendent":null,"WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":0.0,"Longitude":0.0,"IsAvailableForGreatwalk":false,"Parksize":"Large","ParkCategoryid":1,"ParkActivity":4,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":"Address
                  1","ShipAddress2":"Address 2","ShipCity":"City 1","ShipState":"NY","ShipZip":"11577","UseBillingAddress":true,"NumberofPerson":0},{"PlaceId":2,"RegionId":2,"Name":"Adobe
                  Mountain Regional Park","ShortName":"Adobe Mountain Regional Park","Description":"Adobe
                  Mountain Regional Park","OrderBy":1,"AllowWebBooking":false,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"108","Address1":"23280
                  N. 43rd Avenue","Address2":"","City":"Glendale","State":"AZ","Zip":"85310","VoicePhone":"6025062930\r\n","FaxPhone":"","UDate":"2020-11-04T14:28:30.[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://maricopardr.usedirect.com/maricopardr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":1,"RegionId":2,"PlaceId":5,"Name":"Family Campground","ShortName":"Family
                  Campground","Description":"Family Campground","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"100","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2020-10-29T08:21:00.953","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":2,"RegionId":2,"PlaceId":5,"Name":"Lava
                  Overflow","ShortName":"Lava Overflow","Description":"Lava Overflow","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"100","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2020-10-29T08:21:00.97","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":f[...]
