default_stages: [commit]
fail_fast: false

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-ast
          - id: check-docstring-first
          - id: check-merge-conflict
          - id: mixed-line-ending

    - repo: https://github.com/timothycrosley/isort
      rev: 5.12.0
      hooks:
          - id: isort
            args: [--profile, black]

    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black-jupyter

    - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
      rev: v2.7.0
      hooks:
          - id: pretty-format-ini
            args: [--autofix]
          - id: pretty-format-toml
            args: [--autofix]

    - repo: https://github.com/PyCQA/autoflake
      rev: v2.0.1
      hooks:
          - id: autoflake
            args:
                [
                    --in-place,
                    --expand-star-imports,
                    --remove-all-unused-imports,
                    --remove-duplicate-keys,
                    --remove-unused-variables,
                    --ignore-pass-after-docstring,
                ]

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.0.0-alpha.4
      hooks:
          - id: prettier
            args: [--print-width=88, --tab-width=4]
            exclude: |
                (?x)(
                  docs/cli.md|
                  PULL_REQUEST_TEMPLATE.md
                )
            additional_dependencies:
                - prettier

    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.252
      hooks:
          - id: ruff

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false
