interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/234708?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[{"ActivityID":9,"ActivityName":"CAMPING","FacilityActivityDescription":"Camping","FacilityActivityFeeDescription":"Camping","FacilityID":"234708"},{"ActivityID":20,"ActivityName":"PICNICKING","FacilityActivityDescription":"Picnic
                  Tables","FacilityActivityFeeDescription":"","FacilityID":"234708"}],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"AZ","City":"Springerville","FacilityAddressID":"20440090","FacilityAddressType":"Default","FacilityID":"234708","FacilityStreetAddress1":"Apache
                  Sitgreaves National Forest","FacilityStreetAddress2":"","FacilityStreetAddress3":"","LastUpdatedDate":"2023-04-22","PostalCode":"85938"}],"FacilityAdaAccess":"N","FacilityDescription":"<h2>Overview</h2>\nApache
                  Trout Campground is one of five campgrounds at the Big Lake Recreation Area
                  in Apache-Sitgreaves National Forest, and is especially popular for group
                  camping. \n<br/><br/>\nWith boating and fishing facilities and a variety of
                  amenities, Apache Trout is a convenient and comfortable place to stay. Plenty
                  of open space, shaded forests and mountain scenery make for a pleasant outdoor
     [...]
[...]
