interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/234708?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[{"ActivityID":9,"ActivityName":"CAMPING","FacilityActivityDescription":"Camping","FacilityActivityFeeDescription":"Camping","FacilityID":"234708"},{"ActivityID":20,"ActivityName":"PICNICKING","FacilityActivityDescription":"Picnic
                  Tables","FacilityActivityFeeDescription":"","FacilityID":"234708"}],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"AZ","City":"Springerville","FacilityAddressID":"20440090","FacilityAddressType":"Default","FacilityID":"234708","FacilityStreetAddress1":"Apache
                  Sitgreaves National Forest","FacilityStreetAddress2":"","FacilityStreetAddress3":"","LastUpdatedDate":"2023-04-22","PostalCode":"85938"}],"FacilityAdaAccess":"N","FacilityDescription":"<h2>Overview</h2>\nApache
                  Trout Campground is one of five campgrounds at the Big Lake Recreation Area
                  in Apache-Sitgreaves National Forest, and is especially popular for group
                  camping. \n<br/><br/>\nWith boating and fishing facilities and a variety of
                  amenities, Apache Trout is a convenient and comfortable place to stay. Plenty
                  of open space, shaded forests and mountain scenery make for a pleasant outdoor
     [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A234708&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","asset_id":"234708","asset_name":"APACHE
                  TROUT CAMPGROUND","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":82,"attribute_name":"Site
                  Rating","attribute_value":"Standard"},{"attribute_category":"site_details","attribute_id":65,"attribute_name":"Pets
                  Allowed","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":48,"attribute_name":"Location
                  Rating","attribute_value":"Good"},{"attribute_category":"site_details","attribute_id":10,"attribute_name":"Capacity/Size
                  Rating","attribute_value":"Double"},{"attribute_category":"site_details","attribute_id":52,"attribute_name":"Max
      [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/234708/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"79064":{"availabilities":{"2023-09-01T00:00:00Z":"Reserved","2023-09-02T00:00:00Z":"Reserved","2023-09-03T00:00:00Z":"Reserved","2023-09-04T00:00:00Z":"Reserved","2023-09-05T00:00:00Z":"Reserved","2023-09-06T00:00:00Z":"Reserved","2023-09-07T00:00:00Z":"Reserved","2023-09-08T00:00:00Z":"Reserved","2023-09-09T00:00:00Z":"Reserved","2023-09-10T00:00:00Z":"Reserved","2023-09-11T00:00:00Z":"Not
                  Reservable","2023-09-12T00:00:00Z":"Not Reservable","2023-09-13T00:00:00Z":"Not
                  Reservable","2023-09-14T00:00:00Z":"Not Reservable","2023-09-15T00:00:00Z":"Not
                  Reservable","2023-09-16T00:00:00Z":"Not Reservable","2023-09-17T00:00:00Z":"Not
                  Reservable","2023-09-18T00:00:00Z":"Not Reservable","2023-09-19T00:00:00Z":"Not
                  Reservable","2023-09-20T00:00:00Z":"Not Reservable","2023-09-21T00:00:00Z":"Not
                  Reservable","2023-09-22T00:00:00Z":"Not Reservable","2023-09-23T00:00:00Z":"Not
                  Reservable","2023-09-24T00:00:00Z":"Not Reservable","2023-09-25T00:00:00Z":"Not
                  Reservable","2023-09-26T00:00:00Z":"Not Reservable","2023-09-27T00:00:00Z":"Not
                  Reservable","2023-09-28T00:00:00Z":"Not Reservable","2023-09-29T00:00:00Z":"Not
                  Reservable","2023-09-30T00:00:00Z":"Not Reservable"},"campsite_id":"79064","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"STANDARD
                  ELECTRIC","capacity_rating":"Single","loop":"Aspen Loop (Sites 1-63)","max_num_people":8,"min_num_people":1,"quantities":{"2023-09-01T00:00:00Z":0,"2023-09-02T00:00:00Z":0,"2023-09-03T00:00:00Z":0,"2023-09-04T00:00:00Z":0,"2023-09-05T00:00:00Z":0,"2023-09-06T00:00:00Z":0,"2023-09-07T00:00:00Z":0,"2023-09-08T00:00:00Z":0,"2023-09-09T00:00:00Z":0,"2023-09-10T00:00:00Z":0,"2023-09-11T00:00:00Z":1,"2023-09-12T00:00:00Z":1,"2023-09-13T00:00:00Z":1,"2023-09-14T00:00:00Z":1,"2023-09-15T00:00:00Z":1,"2023-09-16T00:00:00Z":1,"2023-09-17T00:00:00Z":1,"2023-09-18T00:00:00Z":1,"2023-09-19T00:00:00Z":1,"2023-09-20T00:00:00Z":1,"2023-09-21T00:00:00Z":1,"2023-09-22T00:00:00Z":1,"2023-09-23T00:00:00Z":1,"2023-09-24T00:00:00Z":1,"2023-09-25T00:00:00Z":1,"2023-09-26T00:00:00Z":1,"2023-09-27T00:00:00Z":1,"2023-09-28T00:00:00Z":1,"2023-09-29T00:00:00Z":1,"2023-09-30T00:00:00Z":1},"site":"46","supplemental_camping":null,"type_of_use":"Overnight"},"79094":{"availabilities":{},"campsite_id":"79094","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"STANDARD
                  ELECTRIC","capacity_rating":"Single","loop":"Aspen Loop (Sites 1-63)","max_num_people":8,"min_num_people":1,"quantities":{"2023-09-01T00:00:00Z":1,"2023-09-02T00:00:00Z":1,"2023-09-03T00:00:00Z":1,"2023-09-04T00:00:00Z":1,"2023-09-05T00:00:00Z":1,"2023-09-06T00:00:00Z":1,"2023-09-07T00:00:00Z":1,"2023-09-08T00:00:00Z":1,"2023-09[...]
