interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/300004?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[],"FacilityAdaAccess":"N","FacilityDescription":"In
                  the high desert country that was to become Joshua Tree National Park, rugged
                  individuals tried their luck at cattle ranching, mining, and homesteading.
                  The story of William F. Keys and his family is particularly representative
                  of the hard work and ingenuity it took to settle and prosper in the Mojave
                  Desert. <br/> The ranger-guided tour of the ranch includes the colorful story
                  of the 60 years Bill and Frances spent working together to make a life and
                  raise their five children in this remote location. The ranch house, school
                  house, store, and workshop still stand; the orchard has been replanted; and
                  the grounds are full of the cars, trucks, mining equipment, and spare parts
                  that are a part of the Desert Queen Ranch story.","FacilityDirections":"To
                  find the ranch, pass the entrance to Hidden Valley Campground, turn left at
                  the Y-intersection, follow the road approximately two miles to the locked
                  gate. Your guide will meet you there. (See map.) Please arrive at the ranch
                  gate 15 minutes prior to your tour.","FacilityEmail":"jotr_info@nps.gov","FacilityID":"300004","FacilityLatitude":0,"FacilityLongitude":0,"FacilityMapURL":"","FacilityName":"Joshua
                  Tree National Park Tours","FacilityPhone":"760-367-5500","FacilityReservationURL":"","FacilityTypeDescription":"Ticket
                  Facility","FacilityUseFeeDescription":"","GEOJSON":{"COORDINATES":null,"TYPE":""},"Keywords":"Joshua
                  Tree, Joshua Tree tours, Keys Ranch, Keys Ranch tours, Keys Ranch Joshua Tree,
                  Bill and Frances Keys","LINK":[],"LastUpdatedDate":"2021-09-23","LegacyFacilityID":"","MEDIA":[{"Credits":"NPS/Robb
                  Hannawacker","Description":"Keys Ranch is closed to the public, only accessible
                  via a ranger-led hike. For more information on ranch tours, visit www.nps.gov/jotr/planyourvisit/ranchtour.htm.","EmbedCode":"","EntityID":"300004","EntityMediaID":"e4ba6206-d745-4560-b9a0-4958541fd024","EntityType":"Facility","Height":525,"IsGallery":false,"IsPreview":true,"IsPrimary":false,"MediaType":"Image","Subtitle":"","Title":"Historic
                  ranch showing a wood and corrugated metal home, garden area, rusted out cars,
                  and a few out buildings. The ranch is surrounded by large boulder piles in
                  a desert environment.","URL":"https://cdn.recreation.gov/public/2019/08/13/15/36/300004_fa074a68-8910-4cfe-a161-b99d6d12685a_700.jpg","Width":700},{"Credits":"NPS/Robb
                  Hannawacker","Description":"Keys Ranch is closed to the public, only accessible
                  via a ranger-led hike. For more information on ranch tours, visit www.nps.gov/jotr/planyourvisit/ranchtour.htm.","EmbedCode":"","EntityID":"300004","EntityMediaID":"97f79d98-2cd0-43ff-b7d8-edb2891cb022","EntityType":"Facility","Height":340,"IsGallery":false,"IsPreview":false,"IsPrimary":true,"MediaType":"Image","Subtitle":"","Title":"Historic
             [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search?fq=asset_id%3A300004&fq=entity_type%3Atour&size=1000&start=0
      response:
          body:
              string:
                  "{\"results\":[{\"aggregate_cell_coverage\":0.8400000083446503,\"average_rating\":4.808219,\"campsite_type_of_use\":[\"na\"],\"description\":\"Discover
                  the colorful lives of Bill and Frances Keys and learn how they survived and
                  raised a family in the harsh desert environment on the Keys Ranch Tour. Explore
                  the ranch house, school room, store, workshop, and more treasures from the
                  60 years the Keys called this area home. Listed on the National Register of
                  Historic Places in 1975, the property is located in a remote, rocky canyon
                  in Joshua Tree National Park. To preserve its historic character, admission
                  to the ranch is restricted to guided walking tours. The tours are a half-mile
                  in length and last 90 minutes. Group size is limited to 25 people.\",\"directions\":\"\\u003cp\\u003e\\u003cstrong\\u003eRanger
                  Naturalist Programs \\u003c/strong\\u003eat Sky's The Limit meet at 9697 Utah
                  Trail in Twentynine Palms, California (not at the visitor center).\\u003c/p\\u003e\\n\\u003cp\\u003e\\u003cstrong\\u003eKeys
                  Ranch Tours\\u003c/strong\\u003e meet at the Keys Ranch locked gate inside
                  Joshua Tree National Park (not at the visitor center).\_\_\\u003c/p\\u003e\\n\\n\\u003cp\\u003e\\u003cstro[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/ticket/availability/facility/300004?date=2023-07-06
      response:
          body:
              string: "[]

                  "
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
version: 1
