interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/campsites/84865
      response:
          body:
              string:
                  '[{"ATTRIBUTES":[{"AttributeName":"GRILLS","AttributeValue":"Y"},{"AttributeName":"Condition
                  Rating","AttributeValue":"Good"},{"AttributeName":"Site Access","AttributeValue":"Drive-In"},{"AttributeName":"Location
                  Rating","AttributeValue":"Good"},{"AttributeName":"Campfire Allowed","AttributeValue":"Yes"},{"AttributeName":"Capacity/Size
                  Rating","AttributeValue":"Single"},{"AttributeName":"Checkin Time","AttributeValue":"2:00
                  PM"},{"AttributeName":"Checkout Time","AttributeValue":"12:00 PM"},{"AttributeName":"Driveway
                  Entry","AttributeValue":"Back-In"},{"AttributeName":"IS EQUIPMENT MANDATORY","AttributeValue":"true"},{"AttributeName":"Site
                  Length","AttributeValue":"38"},{"AttributeName":"Max Vehicle Length","AttributeValue":"38"},{"AttributeName":"Max
                  Num of Vehicles","AttributeValue":"2"},{"AttributeName":"Driveway Surface","AttributeValue":"Gravel"},{"AttributeName":"Min
                  Num of Vehicles","AttributeValue":"0"},{"AttributeName":"Picnic Table","AttributeValue":"Y"},{"AttributeName":"Site
                  Rating","AttributeValue":"Standard"},{"AttributeName":"Min Num of People","AttributeValue":"1"},{"AttributeName":"Max
                  Num of People","AttributeValue":"6"},{"AttributeName":"Shade","AttributeValue":"Yes"},{"AttributeName":"Pets
                  Allowed","AttributeValue":"Yes"}],"CampsiteAccessible":false,"CampsiteID":"84865","CampsiteLatitude":47.354304,"CampsiteLongitude":-121.243135,"CampsiteName":"116","CampsiteReservable":true,"CampsiteType":"STANDARD
                  NONELECTRIC","CreatedDate":"2014-05-02","ENTITYMEDIA":[],"FacilityID":"232064","LastUpdatedDate":"2022-06-29","Loop":"Thetis
                  Creek","PERMITTEDEQUIPMENT":[{"EquipmentName":"Tent","MaxLength":38},{"EquipmentName":"RV","MaxLength":38},{"EquipmentName":"Trailer","MaxLength":38}],"TypeOfUse":"Overnight"}]

                  '
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
[...]
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/232064?full=True
      response:
          body:
              string:
                  "{\"ACTIVITY\":[{\"ActivityID\":5,\"ActivityName\":\"BIKING\",\"FacilityActivityDescription\":\"Biking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"},{\"ActivityID\":11,\"ActivityName\":\"FISHING\",\"FacilityActivityDescription\":\"Fishing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"},{\"ActivityID\":20,\"ActivityName\":\"PICNICKING\",\"FacilityActivityDescription\":\"Picnicking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"},{\"ActivityID\":100000,\"ActivityName\":\"MOTOR
                  BOAT\",\"FacilityActivityDescription\":\"Motor Boat\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"},{\"ActivityID\":100007,\"ActivityName\":\"KAYAKING\",\"FacilityActivityDescription\":\"Kayaking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"},{\"ActivityID\":100017,\"ActivityName\":\"BIRDING\",\"FacilityActivityDescription\":\"Birding\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232064\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"WA\",\"City\":\"Easton\",\"FacilityAddressID\":\"20437419\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"232064\",\"FacilityStreetAddress1\":\"8000
                  Lake Kachess Rd\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"98925\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview</h2>\\nKachess
                  Campground sits just off the forested northwest shore of Kachess Lake in Okanogan-Wenatchee
                  National Forest.<br/><br/> \\n\\nSet in dense old-growth conifer forest and
                  surrounded by high mountains, Kachess Campground is considered one of the
                  most beautiful sites in the Cle Elum Ranger District.<h2>Recreation</h2>\\n<p>Kachess
                  is a prime location for  fishing, swimming, boating, paddling and mountain
                  biking in summer and early fall.\_\_</p>\\n<p>The campground is also a great
                  base camp for day-hikers and overnight backpackers. Several access trails
                  from the area give hikers the chance to create their own excursions, whether
                  it be a day hike or an overnight trip.  <br><br>Starting at the campground,
                  the Kachess Lake Trail is a short loop next to the lake, enjoyable for hikers
                  of all levels.   <br><br>Anglers enjoy fishing for rainbow trout, cutthroat
                  trout and kokanee salmon from boat or shoreline.  Box Canyon Creek is closed
                  to all fishing from the mouth, 2-miles up to the falls. Check current WDFW
                  fishing regulations for additional restrictions.</p>\\n<h2>Facilities</h[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A232064&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","asset_id":"232064","asset_name":"KACHESS","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":48,"attribute_name":"Location
                  Rating","attribute_value":"Good"},{"attribute_category":"site_details","attribute_id":56,"attribute_name":"Min
                  Num of People","attribute_value":"1"},{"attribute_category":"site_details","attribute_id":9,"attribute_name":"Campfire
                  Allowed","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":10,"attribute_name":"Capacity/Size
                  Rating","attribute_value":"Single"},{"attribute_category":"site_details","attribute_id":11,"attribute_name":"Checkin
    [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/232064/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"105092":{"availabilities":{"2023-09-01T00:00:00Z":"Not
                  Reservable","2023-09-02T00:00:00Z":"Not Reservable","2023-09-03T00:00:00Z":"Not
                  Reservable","2023-09-04T00:00:00Z":"Not Reservable","2023-09-05T00:00:00Z":"Not
                  Reservable","2023-09-06T00:00:00Z":"Not Reservable","2023-09-07T00:00:00Z":"Not
                  Reservable","2023-09-08T00:00:00Z":"Not Reservable","2023-09-09T00:00:00Z":"Not
                  Reservable","2023-09-10T00:00:00Z":"Not Reservable","2023-09-11T00:00:00Z":"Not
                  Reservable","2023-09-12T00:00:00Z":"Not Reservable","2023-09-13T00:00:00Z":"Not
                  Reservable","2023-09-14T00:00:00Z":"Not Reservable","2023-09-15T00:00:00Z":"Not
                  Reservable","2023-09-16T00:00:00Z":"Not Reservable","2023-09-17T00:00:00Z":"Not
                  Reservable","2023-09-18T00:00:00Z":"Not Reservable","2023-09-19T00:00:00Z":"Not
                  Reservable","2023-09-20T00:00:00Z":"Not Reservable","2023-09-21T00:00:00Z":"Not
                  Reservable","2023-09-22T00:00:00Z":"Not Reservable","2023-09-23T00:00:00Z":"Not
                  Reservable","2023-09-24T00:00:00Z":"Not Reservable","2023-09-25T00:00:00Z":"Not
                  Reservable","2023-09-26T00:00:00Z":"Not Reservable","2023-09-27T00:00:00Z":"Not
                  Reservable","2023-09-28T00:00:00Z":"Not Reservable","2023-09-29T00:00:00Z":"Not
                  Reservable","2023-09-30T00:00:00Z":"Not Reservable"},"campsite_id":"105092","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"STANDARD
                  NONELECTRIC","capacity_rating":"Double","loop":"GALE CREEK","max_num_people":12,"min_num_people":1,"quantities":{"2023-09-01T00:00:00Z":1,"2023-09-02T00:00:00Z":1,"2023-09-03T00:00:00Z":1,"2023-09-04T00:00:00Z":1,"2023-09-05T00:00:00Z":1,"2023-09-06T00:00:00Z":1,"2023-09-07T00:00:00Z":1,"2023-09-08T00:00:00Z":1,"2023-09-09T00:00:00Z":1,"2023-09-10T00:00:00Z":1,"2023-09-11T00:00:00Z":1,"2023-09-12T00:00:00Z":1,"2023-09-13T00:00:00Z":1,"2023-09-14T00:00:00Z":1,"2023-09-15T00:00:00Z":1,"2023-09-16T00:00:00Z":1,"2023-09-17T00:00:00Z":1,"2023-09-18T00:00:00Z":1,"2023-09-19T00:00:00Z":1,"2023-09-20T00:00:00Z":1,"2023-09-21T00:00:00Z":1,"2023-09-22T00:00:00Z":1,"2023-09-23T00:00:00Z":1,"2023-09-24T00:00:00Z":1,"2023-09-25T00:00:00Z":1,"2023-09-26T00:00:00Z":1,"2023-09-27T00:00:00Z":1,"2023-09-28T00:00:00Z":1,"2023-09-29T00:00:00Z":1,"2023-09-30T00:00:00Z":1},"site":"009","supplemental_camping":null,"type_of_use":"Overnight"},"83003":{"availabilities":{"2023-09-01T00:00:00Z":"Reserved","2023-09-02T00:00:00Z":"Reserved","2023-09-03T00:00:00Z":"Reserved","2023-09-04T00:00:00Z":"Reserved","2023-09-05T00:00:00Z":"Available","2023-09-06T00:00:00Z":"Available","2023-09-07T00:00:00Z":"Available","2023-09-08T00:00:00Z":"Reserved","2023-09-09T00:00:00Z":"Reserved","2023-09-10T00:00:00Z":"Available","2023-09-11T00:00:00Z":"Not
                  Reservable","2023-09-12T00:00:00Z":"Not Reservable","2023-09-13T00:00:[...]
