interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/campsites/40107
      response:
          body:
              string:
                  '[{"ATTRIBUTES":[{"AttributeName":"Fire Pit","AttributeValue":"Y"},{"AttributeName":"Picnic
                  Table","AttributeValue":"Y"},{"AttributeName":"Checkout Time","AttributeValue":"12:00
                  PM"},{"AttributeName":"Pets Allowed","AttributeValue":"Yes"},{"AttributeName":"Shade","AttributeValue":"Yes"},{"AttributeName":"Max
                  Num of People","AttributeValue":"8"},{"AttributeName":"Capacity/Size Rating","AttributeValue":"Single"},{"AttributeName":"Checkin
                  Time","AttributeValue":"3:00 PM"},{"AttributeName":"Min Num of People","AttributeValue":"1"},{"AttributeName":"Campfire
                  Allowed","AttributeValue":"Yes"},{"AttributeName":"Max Num of Vehicles","AttributeValue":"1"},{"AttributeName":"Driveway
                  Surface","AttributeValue":"Paved"},{"AttributeName":"Driveway Entry","AttributeValue":"Back-In"},{"AttributeName":"IS
                  EQUIPMENT MANDATORY","AttributeValue":"true"},{"AttributeName":"Max Vehicle
                  Length","AttributeValue":"40"}],"CampsiteAccessible":false,"CampsiteID":"40107","CampsiteLatitude":40.7405084000001,"CampsiteLongitude":-111.0943189,"CampsiteName":"058","CampsiteReservable":true,"CampsiteType":"STANDARD
                  NONELECTRIC","CreatedDate":"2014-05-02","ENTITYMEDIA":[{"Credits":"Utah Recreation
                  Company","Description":"Ledgefork Campground B - 058","EmbedCode":"","EntityID":"40107","EntityMediaID":"2dc27313-4cab-4460-818f-6b1ad1a69a62","EntityType":"Campsite","Height":525,"IsGallery":false,"IsPreview":true,"IsPrimary":false,"MediaType":"Image","Subtitle":"","Title":"Ledgefork
                  Campground B - 058","URL":"https://cdn.recreation.gov/public/2020/01/29/15/59/40107_ff3d00e3-87c3-4564-a379-6e66a4f6f957_700.jpg","Width":700},{"Credits":"Utah
                  Recreation Company","Description":"Ledgefork Campground B - 058","EmbedCode":"","EntityID":"40107","EntityMediaID":"108a2d27-374d-48e6-95fd-e3ab46d4d9e5","EntityType":"Campsite","Height":960,"IsGallery":true,"IsPreview":false,"IsPrimary":false,"MediaType":"Image","Subtitle":"","Title":"Ledgefork
                  Campground B - 058","URL":"https://cdn.recreation.gov/public/2020/01/29/15/58/40107_4085b1dc-8bc2-48c4-99a1-9a046ed738be_1440.jpg","Width":1440},{"Credits":"Utah
                  Recreation Company","Description":"Ledgefork Campground B - 058","EmbedCode":"","EntityID":"40107","EntityMediaID":"846e206f-a77b-4a02-bad3-0a9b18164ec0","EntityType":"Campsite","Height":340,"IsGallery":false,"IsPreview":false,"IsPrimary":true,"MediaType":"Image","Subtitle":"","Title":"Ledgefork
                  Campground B - 058","URL":"https://cdn.recreation.gov/public/2020/01/29/15/58/40107_d738a541-453c-4755-89d5-fe2acd9109f3_1440.jpg","Width":1440}],"FacilityID":"231939","LastUpdatedDate":"2022-06-29","Loop":"B","PERMITTEDEQUIPMENT":[{"EquipmentName":"Trailer","MaxLength":40},{"EquipmentName":"Tent","MaxLength":40},{"EquipmentName":"RV","MaxLength":40}],"TypeOfUse":"Overnight"}]

                  '
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/231939?full=True
      response:
          body:
              string:
                  "{\"ACTIVITY\":[{\"ActivityID\":6,\"ActivityName\":\"BOATING\",\"FacilityActivityDescription\":\"Boating\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":11,\"ActivityName\":\"FISHING\",\"FacilityActivityDescription\":\"Fishing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":26,\"ActivityName\":\"WILDLIFE
                  VIEWING\",\"FacilityActivityDescription\":\"Wildlife Viewing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":106,\"ActivityName\":\"SWIMMING\",\"FacilityActivityDescription\":\"Swimming\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":100007,\"ActivityName\":\"KAYAKING\",\"FacilityActivityDescription\":\"Kayaking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"},{\"ActivityID\":100008,\"ActivityName\":\"CANOEING\",\"FacilityActivityDescription\":\"Canoeing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"231939\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"\",\"AddressStateCode\":\"UT\",\"City\":\"Pleasant
                  Grove\",\"FacilityAddressID\":\"2319390\",\"FacilityAddressType\":\"Mailing\",\"FacilityID\":\"231939\",\"FacilityStreetAddress1\":\"564
                  W 700 S\",\"FacilityStreetAddress2\":\"Ste.305, Box #5\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"84062\"},{\"AddressCountryCode\":\"\",\"AddressStateCode\":\"UT\",\"City\":\"Kamas\",\"FacilityAddressID\":\"2319391000\",\"FacilityAddressType\":\"Physical\",\"FacilityID\":\"231939\",\"FacilityStreetAddress1\":\"Uinta
                  Wasatch Cache National Forest\",\"FacilityStreetAddress2\":\"FR051\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"84036\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview</h2>\\nLedgefork
                  Campground is located just above Smith and Morehouse Reservoir on the western
                  edge of the Uinta Mountains in northeastern Utah. The town of Oakley is just
                  14 miles away. Visitors enjoy fishing, canoeing and exploring the Smith and
                  Morehouse Trail.<h2>Recreation</h2>\\n<p>The reservoir is open to motorized
                  boats, though a wake-less speed is enforced, making it an excellent place
                  for canoeing and kayaking. A boat ramp is located on the northwest shore.
                  Anglers enjoy fishing for stocked rainbow trout and other native fish species.
                  <br><br><br>The 12-mile round-trip Smith and Morehouse Trail is popular with
                  hikers and backpackers. The trail begins in the campground and leads through
                  forests, meadows and a marsh before spurring off to Erickson Basin and Island
                  Lake.</p>\\n<h2>Facilities</h2>\\n<p>The campground contains several single
                  and double sites with picnic tables and campfire rings. Vault toilets are
                  provided. Firewood is available for purchase from the host.\_</p>\\n<h2>Natural
                  Features</h2>\\nThe campground is situated within a quarter-mile of the reservoir
                  in a scenic conifer and aspen forest at an elevation of 7,800 feet. Smith
                  and Morehouse Creek runs through the campground. A variety of wildlife makes
                  its home around the reservoir, including moose and deer. Summer temperatures
                  range from 65-75 degrees in the day to 40-50 at night.\\n<h2>contact_info</h2>\\nFor
                  facility specific information, please call (385) 273-1100.<h2>Charges & Cancellations</h2>\\n<p><strong>Change
                  and Cancellation Policies and Fees</strong></p>\\n<ul>\\n<li>Overnight and
                  Day Use Facilities: To ensure fairness, reservation arrival or departure dates
                  may not be changed beyond the booking window until 18 days after booking the
                  reservation.</li>\\n<li>Camping / Day Use: A $10.00 service fee will apply
                  if you change or cancel your reservation (including campsites, cabins, lookouts,
                  group facilities, etc.). The $10.00 service fee will be deducted from the
          [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A231939&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","aggregate_cell_coverage":0.6,"asset_id":"231939","asset_name":"LEDGEFORK","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":77,"attribute_name":"Shade","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":52,"attribute_name":"Max
                  Num of People","attribute_value":"16"},{"attribute_category":"site_details","attribute_id":10,"attribute_name":"Capacity/Size
                  Rating","attribute_value":"Double"},{"attribute_category":"site_details","attribute_id":11,"attribute_name":"Checkin
                  Time","attribute_value":"3:00 PM"},{"attribute_category":"site_details","attribute_id":56,"attribute_name":"Min
       [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/231939/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"10198102":{"availabilities":{"2023-09-01T00:00:00Z":"NYR","2023-09-02T00:00:00Z":"NYR","2023-09-03T00:00:00Z":"NYR","2023-09-04T00:00:00Z":"NYR","2023-09-05T00:00:00Z":"NYR","2023-09-06T00:00:00Z":"NYR","2023-09-07T00:00:00Z":"NYR","2023-09-08T00:00:00Z":"NYR","2023-09-09T00:00:00Z":"NYR","2023-09-10T00:00:00Z":"NYR","2023-09-11T00:00:00Z":"NYR","2023-09-12T00:00:00Z":"NYR","2023-09-13T00:00:00Z":"NYR","2023-09-14T00:00:00Z":"NYR","2023-09-15T00:00:00Z":"NYR","2023-09-16T00:00:00Z":"NYR","2023-09-17T00:00:00Z":"NYR","2023-09-18T00:00:00Z":"NYR","2023-09-19T00:00:00Z":"NYR","2023-09-20T00:00:00Z":"NYR","2023-09-21T00:00:00Z":"NYR","2023-09-22T00:00:00Z":"NYR","2023-09-23T00:00:00Z":"NYR","2023-09-24T00:00:00Z":"NYR","2023-09-25T00:00:00Z":"NYR","2023-09-26T00:00:00Z":"NYR","2023-09-27T00:00:00Z":"NYR","2023-09-28T00:00:00Z":"NYR","2023-09-29T00:00:00Z":"NYR","2023-09-30T00:00:00Z":"NYR"},"campsite_id":"10198102","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"MANAGEMENT","capacity_rating":"Single","loop":"S&P","max_num_people":8,"min_num_people":1,"quantities":{"2023-09-01T00:00:00Z":1,"2023-09-02T00:00:00Z":1,"2023-09-03T00:00:00Z":1,"2023-09-04T00:00:00Z":1,"2023-09-05T00:00:00Z":1,"2023-09-06T00:00:00Z":1,"2023-09-07T00:00:00Z":1,"2023-09-08T00:00:00Z":1,"2023-09-09T00:00:00Z":1,"2023-09-10T00:00:00Z":1,"2023-09-11T00:00:00Z":1,"2023-09-12T00:00:00Z":1,"2023-09-13T00:00:00Z":1,"2023-09-14T00:00:00Z":1,"2023-09-15T00:00:00Z":1,"2023-09-16T00:00:00Z":1,"2023-09-17T00:00:00Z":1,"2023-09-18T00:00:00Z":1,"2023-09-19T00:00:00Z":1,"2023-09-20T00:00:00Z":1,"2023-09-21T00:00:00Z":1,"2023-09-22T00:00:00Z":1,"2023-09-23T00:00:00Z":1,"2023-09-24T00:00:00Z":1,"2023-09-25T00:00:00Z":1,"2023-09-26T00:00:00Z":1,"2023-09-27T00:00:00Z":1,"2023-09-28T00:00:00Z":1,"2023-09-29T00:00:00Z":1,"2023-09-30T00:00:00Z":1},"site":"Single
                  S&P","supplemental_camping":null,"type_of_use":"Overnight"},"10198103":{"availabilities":{"2023-09-01T00:00:00Z":"NYR","2023-09-02T00:00:00Z":"NYR","2023-09-03T00:00:00Z":"NYR","2023-09-04T00:00:00Z":"NYR","2023-09-05T00:00:00Z":"NYR","2023-09-06T00:00:00Z":"NYR","2023-09-07T00:00:00Z":"NYR","2023-09-08T00:00:00Z":"NYR","2023-09-09T00:00:00Z":"NYR","2023-09-10T00:00:00Z":"NYR","2023-09-11T00:00:00Z":"NYR","2023-09-12T00:00:00Z":"NYR","2023-09-13T00:00:00Z":"NYR","2023-09-14T00:00:00Z":"NYR","2023-09-15T00:00:00Z":"NYR","2023-09-16T00:00:00Z"[...]
