interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas?full=true&offset=0&query=Yosemite+National+Park&sort=Name
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":7,\"TOTAL_COUNT\":7},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"Yosemite
                  National Park\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":6,\"ActivityName\":\"BOATING\",\"ActivityParentID\":\"\",\"RecAreaActivityDescription\":\"Boating\",\"RecAreaActivityFeeDescription\":\"\",\"RecAreaID\":\"481\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"ActivityParentID\":\"\",\"RecAreaActivityDescription\":\"Camping\",\"RecAreaActivityFeeDescription\":\"\",\"RecAreaID\":\"481\"},{\"ActivityID\":11,\"ActivityName\":\"FISHING\",\"ActivityParentID\":\"\",\"RecAreaActivityDescription\":\"Fishing\",\"RecAreaActivityFeeDescription\":\"\",\"RecAreaID\":\"481\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"ActivityParentID\":\"\",\"RecAreaActivityDescription\":\"Hiking\",\"RecAreaActivityFe[...]
