interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities?full=true&offset=0&state=HI
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":9,\"TOTAL_COUNT\":9},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"HI\",\"City\":\"Honolulu\",\"FacilityAddressID\":\"311d5914-732b-4c21-8c57-5614ce228d10\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"10088380\",\"FacilityStreetAddress1\":\"1
                  Arizona Memorial Place\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2021-10-28\",\"PostalCode\":\"96818\"}],\"FacilityAdaAccess\":\"\",\"FacilityDescription\":\"\",\"FacilityDirections\":\"\",\"FacilityEmail\":\"\",\"FacilityID\":\"10088380\",\"FacilityLatitude\":0,\"FacilityLongitude\":0,\"FacilityMapURL\":\"\",\"FacilityName\":\"National
                  Pearl Harbor Remembrance Day Livestream Lottery\",\"FacilityPhone\":\"(808)
                  422-3399 facility // (877) 444-6777 - call center\",\"FacilityReservationURL\":\"\",\"FacilityTypeDescription\":\"Ticket
                  Facility\",\"FacilityUseFeeDescription\":\"\",\"GEOJSON\":{\"COORDINATES\":null,\"TYPE\":\"\"},\"Keywords\":\"\",\"LINK\":[],\"LastUpdatedDate\":\"2021-11-01\",\"LegacyFacilityID\":\"\",\"MEDIA\":[{\"Credits\":\"NPS\",\"Description\":\"Pearl
                  Harbor Survivors \\n\",\"EmbedCode\":\"\",\"EntityID\":\"10088380\",\"EntityMediaID\":\"807245da-367d-4705-bd49-8b17a48ae48b\",\"EntityType\":\"Facility\",\"Height\":525,\"IsGallery\":false,\"IsPreview\":true,\"IsPrimary\":false,\"MediaType\":\"Image\",\"Subtitle\":\"\",\"Title\":\"Pearl
                  Harbor Survivors \",\"URL\":\"https://cdn.recreation.gov/public/2021/10/28/20/01/10088380_64537be0-714e-44d6-869a-339ab2865e67_700.jpg\",\"Width\":700},{\"Credits\":\"NPS\",\"Description\":\"Pearl
                  Harbor Visitor Center\",\"EmbedCode\":\"\",\"EntityID\":\"10088380\",\"EntityMediaID\":\"4f89443a-73b2-454a-aefb-0c69c63b6c87\",\"EntityType\":\"Facility\",\"Height\":526,\"IsGallery\":true,\"IsPreview\":false,\"IsPrimary\":false,\"MediaType\":\"Image\",\"Subtitle\":\"\",\"Title\":\"Visitor
                  Center\",\"URL\":\"https://cdn.recreation.gov/public/2021/10/28/20/03/10088380_b2378366-df05-45e5-9a76-7c3d3c80f33e_700.jp[...]
