interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2018/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":91,\"TOTAL_COUNT\":91},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":22,\"ActivityName\":\"WINTER
                  SPORTS\",\"FacilityActivityDescription\":\"Cross Country Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"},{\"ActivityID\":26,\"ActivityName\":\"WILDLIFE
                  VIEWING\",\"FacilityActivityDescription\":\"Wildlife Viewing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"},{\"ActivityID\":16,\"ActivityName\":\"HUNTING\",\"FacilityActivityDescription\":\"Hunting\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"},{\"ActivityID\":11,\"ActivityName\":\"FISHING\",\"FacilityActivityDescription\":\"Fishing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"Camping\",\"FacilityID\":\"234487\"},{\"ActivityID\":8,\"ActivityName\":\"HISTORIC
                  & CULTURAL SITE\",\"FacilityActivityDescription\":\"Historic Sites\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"},{\"ActivityID\":5,\"ActivityName\":\"BIKING\",\"FacilityActivityDescription\":\"Biking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234487\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"CO\",\"City\":\"SAGUACHE\",\"FacilityAddressID\":\"20439845\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"234487\",\"FacilityStreetAddress1\":\"46525
                  ST HWY 114\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"81149\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview</h2>\\nBrewery
                  Creek Guard Station is situated at an elevation of 9,500 feet in a densely
                  wooded aspen grove overlooking Brewery Creek. The cabin is a few miles south
                  of the Continental Divide on the northern end of the San Luis Valley in the
                  Rio Grande National Forest.\\n<br/><br/> \\nBuilt in 1935, the two room cabin
                  was originally used by a forest ranger who oversaw the Poncha and Bonanza
      [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A234483&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","asset_id":"234483","asset_name":"CARNERO
                  GUARD STATION","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":11,"attribute_name":"Checkin
                  Time","attribute_value":"2:00 PM"},{"attribute_category":"site_details","attribute_id":60,"attribute_name":"Num
                  of Beds","attribute_value":"4"},{"attribute_category":"site_details","attribute_id":5,"attribute_name":"Bed
                  Type","attribute_value":"Bunk"},{"attribute_category":"site_details","attribute_id":16,"attribute_name":"Condition
                  Rating","attribute_value":"Good"},{"attribute_category":"site_details","attribute_id":59,"attribute_name":"Num
                  of Bed[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A234710&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","aggregate_cell_coverage":1.7499999701976776,"asset_id":"234710","asset_name":"ALDER
                  GUARD STATION","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":12,"attribute_name":"Checkout
                  Time","attribute_value":"12:00 PM"},{"attribute_category":"site_details","attribute_id":78,"attribute_name":"Shower/Bath
                  Type","attribute_value":"Bathtub with Shower"},{"attribute_category":"site_details","attribute_id":61,"attribute_name":"Num
     [...]
[...]
