interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/253731?full=True
      response:
          body:
              string:
                  "{\"ACTIVITY\":[],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"HI\",\"City\":\"Makawao\",\"FacilityAddressID\":\"20440421\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"253731\",\"FacilityStreetAddress1\":\"PO
                  Box 369\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2018-06-26\",\"PostalCode\":\"96768\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview:</h2>Haleakala
                  National Park is home to Maui's highest peak. Rising 10,023 (3,005 m) feet
                  above sea level, Haleakala means \\\"house of the sun\\\" and is where demigod
                  Maui lassoed the sun, slowing its passage so people had more time to dry kapa
                  (cloth) and grow food. The dormant volcano's \\\"crater\\\" is actually a
                  valley carved by erosion.<p>Sunrise at the summit of Haleakala has been a
      [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search?fq=asset_id%3A253731&fq=entity_type%3Atour&size=1000&start=0
      response:
          body:
              string:
                  '{"results":[{"aggregate_cell_coverage":1.8963878439746429,"average_rating":4.5451913,"campsite_type_of_use":["na"],"description":"Observe
                  Sunrise from Haleakala Summit is a popular activity among visitors to Maui.
                  Parking at the Haleakala Summit is limited. This reservation ensures that
                  you will have a parking space at one of the four sunrise viewing locations
                  at the summit.","directions":"The Summit District of Haleakala National Park
                  can be reached from Kahului via Route 37 to 377 to 378 (Crater Road). Driving
                  time to the summit (10,000 feet elevation) from: Kahului is 2.5 hours, Wailea
                  is 3 hours, Lahaina is 3.5 hours. These drive times take into account expected
                  heavy traffic and steep, winding roads. Your last 30 minutes of driving will
                  take place inside the park, after passing the entrance station at 7,000 feet
                  (2,133 meters) of elevation. The summit''s elevation is 10,023 feet (3,055
                  meters).  Always respect speed limits. Crater Road crosses through endangered
                  wildlife habitat. \"Speed Kills Wildlife.\"","entity_id":"255","entity_type":"tour","go_live_date":"0001-01-01T00:00:00Z","html_description":"Observe
                  Sunrise from Haleakala Summit is a popular activity among visitors to Maui.
                  Parking at the Haleakala Summit is limited. This reservation ensures that
                  you will have a parking space at one of the four sunrise viewing locations
                  at the summit.","id":"255_tour","latitude":"20.70972220000000","longitude":"-156.16444440000001","name":"Haleakala
                  Sunrise - Summit","number_of_ratings":3109,"org_id":"128","parent_id":"253731","parent_name":"Haleakala
                  National Park Summit Sunrise Reservations","parent_type":"facility","preview_image_url":"https://cdn.recreation.gov/public/2019/03/27/13/12/255_9eed1592-506c-4d00-bb8c-aac79cefca66_700.jpg","reservable":true,"time_zone":"Pacific/Honolulu","type":"Nature
                  Tour"}],"size":1,"spelling_autocorrected":false,"start":"0","total":1}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
version: 1
