interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://novascotia.goingtocamp.com/api/resourceLocation
      response:
          body:
              string:
                  "[{\"resourceLocationId\":-2147483648,\"timeZoneOffset\":-180.0,\"similarExperiences\":[],\"localizedValues\":[{\"cultureName\":\"en-CA\",\"shortName\":\"Amherst
                  Shore\",\"fullName\":\"Amherst Shore Provincial Park\",\"description\":\"On
                  the shore of the Northumberland Strait, Amherst Shore Provincial Park offers
                  an attractive mixed woodland setting for camping. Walking on trails, swimming
                  or beachcombing are enjoyable pastimes at the park. This park, like others
                  along this coast, offers some of the warmest saltwater swimming north of the
                  Carolinas. The park offers a 42-site woodland campground, showers/comfort
                  station, and a walking trail leading to the unsupervised beach area. WiFi
                  is available at the admin building and surrounding area. Password required;
                  please see the park receptionist. Amherst Shore Provincial Park is located
                  on Route 366, the Sunrise Trail, 36 km (22 mi.) east of Amherst and 26 km
                  (16 mi.) west of Pugwash.\",\"drivingDirections\":\"From Halifax: Travel on
                  the 102 to Truro (99 km/62 miles), get on the 104 and travel to Oxford (83
                  km/52 miles), take Exit #6 at Oxford and travel 19 km on route 301 to intersection
                  at Highway 6. Turn left on Highway 6 and travel 6.5 km to Linden. Take right
                  and travel 11.7 km to Park. (Sign at turn - To 366 Tidnish). From Cape Breton
                  (Canso Causeway): Travel on the 104 to Oxford (281 km/175 miles), take Exit
                  #6 at Oxford and travel 19 km on route 301 to intersection at Highway 6. Turn
                  left on Highway 6 and travel 6.5 km to Linden. Take right and travel 11.7
                  km to Park. (Sign at turn - To 366 Tidnish). From New Brunswick, Nova Scotia
                  Border: Amherst Shore Provincial Park is located 43 km East of the Nova Scotia
                  Border. Take Exit 1A at the Nova Scotia Border and travel 5 km (keep left
                  on Lawrence St. as you enter Amherst). At the stop turn left on Highway 6
                  to Sunrise Trail and travel 4 km and turn left on Highway 366 (Highway sign
                  reads - Tidnish, Lornville, PEI). Travel 34 km on Highway 366 to Amherst Shore
                  Park. From Yarmouth: Travel Highway 101 to Halifax then follow the directions
                  from Halifax. Travel Time: from Halifax - 2.5 hrs; from Sydney - 5 hrs; from
                  Amherst - 30 minutes; from Yarmouth - 5.5 hrs.\\n          \\n         GPS
                  Coordinates:\\n          Longitude: 63\xB052' 44.49\\\" W, Latitude: 45\xB057'
                  40.25\\\" N\\n\\t\\t\\t    X utm: 431887.4646270, Y utm: 5090109.9591300\",\"confirmationLetterPolicies\":[]}],\"email\":\"\",\"website\":\"https://parks.novascotia.ca/park/amherst-shore\",\"faxNumber\":\"\",\"gpsCoordinates\":\"\",\"googleAddress\":null,\"streetAddress\":\"6596
                  Highway 366\",\"city\":\"Amherst Shore\",\"region\":\"Nova Scotia\",\"regionCode\":\"B0L1E0\",\"country\":\"Canada\",\"phoneNumber\":\"902-661-6002\",\"transactionLocationId\":-2147483648,\"selfCheckInInstructions\":[],\"attributes\":[],\"resourceCategoryIds\":[-2147483648,-2147483646,-2147483645]},{\"resourceLocationId\":-2147483643,\"timeZoneOffset\":-180.0,\"similarExperiences\":[],\"localizedValues\":[{\"cultureName\":\"en-CA\",\"shortName\":\"Caribou
                  Munroes\",\"fullName\":\"Caribou Munroes Provincial Park\",\"description\":\"Just
                  a few kilometres from one of Nova Scotia's points of entry, Caribou/Munroes
                  Island Provincial Park makes a marvelous stop on your way to or from Prince
             [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://novascotia.goingtocamp.com/api/maps
      response:
          body:
              string:
                  '[{"isOrganizationRoot":false,"mapId":-2147483646,"versionId":-2147472679,"versionDate":"2021-02-10T20:12:00.037Z","mapType":0,"isDisabled":false,"xDimension":800,"yDimension":600,"localizedValues":[{"cultureName":"en-CA","title":"Overflow","description":"Sites
                  701-720","mapImageUid":"a72db721-f6ae-47cd-a8e5-6537f6f564e7","mapImageFormat":4}],"resourceLocationId":-2147483648,"isResourceLocationRootMap":false,"mapResources":[{"resourceId":-2147483644,"iconType":1,"localizationPoint":{"justification":0,"xCoordinate":433,"yCoordinate":409,"rValue":0,"gValue":0,"bValue":0},"xCoordinate":460,"yCoordinate":413,"registrationActions":[],"transactionLocationTypes":[]},{"resourceId":-2147483643,"iconType":1,"localizationPoint":{"justification":0,"xCoordinate":320,"yCoordinate":346,"rValue":0,"gValue":0,"bValue":0},"xCoordinate":348,"yCoordinate":351,"registrationActions":[],"transactionLocationTypes":[]},{"resourceId":-2147483636,"iconType":1,"localizationPoint":{"justification":0,"xCoordinate":320,"yCoordinate":439,"rValue":0,"gValue":0,"bValue":0},"xCoordinate":348,"yCoordinate":444,"registrationActions":[],"transactionLocationTypes":[]},{"resourceId":-2[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://novascotia.goingtocamp.com/api/availability/map?bookingCategoryId=0&endDate=2023-07-09&equipmentCategoryId=-32768&getDailyAvailability=False&isReserving=True&mapId=-2147483647&numEquipment=1&partySize=1&resourceLocationId=-2147483648&startDate=2023-07-07
      response:
          body:
              string: '{"mapId":-2147483647,"mapAvailabilities":[0],"resourceAvailabilities":{"-2147483648":[{"availability":1,"remainingQuota":null}],"-2147483647":[{"availability":1,"remainingQuota":null}],"-2147483646":[{"availability":1,"remainingQuota":null}],"-2147483645":[{"availability":1,"remainingQuota":null}],"-2147483642":[{"availability":0,"remainingQuota":null}],"-2147483641":[{"availability":1,"remainingQuota":null}],"-2147483640":[{"availability":7,"remainingQuota":null}],"-2147483639":[{"availability":1,"remainingQuota":null}],"-2147483638":[{"availability":1,"remainingQuota":null}],"-2147483637":[{"availability":1,"rem[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://novascotia.goingtocamp.com/api/attribute/filterable
      response:
          body:
              string:
                  '{"-32760":{"isMultiSelect":false,"defaultSearchFilterEnumValue":null,"values":[{"enumValue":0,"order":1,"isActive":true,"icon":null,"localizedValues":[{"displayName":"0","cultureName":"en-CA"}]},{"enumValue":1,"order":2,"isActive":true,"icon":null,"localizedValues":[{"displayName":"1","cultureName":"en-CA"}]},{"enumValue":2,"order":3,"isActive":true,"icon":null,"localizedValues":[{"displayName":"2","cultureName":"en-CA"}]},{"enumValue":3,"order":4,"isActive":true,"icon":null,"localizedValues":[{"displayName":"Unlimited","cultureName":"en-CA"}]}],"attributeDefinitionId":-32760,"versionId":-2147478554,"versionDate":"2020-07-23T14:02:00.013Z","isDisabled":false,"order":280,"isFilterable":false,"attributeType":0,"advancedReportsFilterType":null,"localizedValues":[{"displayName":"Off-Site
                  Vehicle Parking","cultureName":"en-CA"}]},"-32761":{"isMultiSelect":false,"defaultSearchFilterEnumValue":null,"values":[{"enumValue":0,"order":1,"isActive":true,"icon":null,"localizedValues":[{"displayName":"0","cultureName":"en-CA"}]},{"enumValue":1,"order":2,"isActive":true,"icon":null,"localizedValues":[{"displayName":"1","cultureName":"en-CA"}]},{"enumValue":2,"order":3,"isActive":true,"icon":null,"localizedValues":[{"display[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://novascotia.goingtocamp.com/api/resource/details?resourceId=-2147483642
      response:
          body:
              string:
                  '{"resourceId":-2147483642,"resourceCategoryId":-2147483646,"resourceLocationId":-2147483648,"bookingCategoryId":0,"resourceModel":0,"localizedValues":[{"cultureName":"en-CA","name":"26","description":""}],"allowedEquipment":[{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32768},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32767},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32766},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32765}],"customAttributes":[],"definedAttributes":[{"values":[1],"attributeDefinitionId":-32766,"attributeId":-2147483553,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32758,"attributeId":-2147483552,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32763,"attributeId":-2147483551,"attributeVisibility":0},{"values":[3],"attributeDefinitionId":-32765,"attributeId":-2147483549,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32751,"attributeId":-2147483548,"attributeVisibility":0},{"values":[2],"attributeDefinitionId":-32767,"attributeId":-2147483547,"attributeVisibility":0},{"values":[4],"attributeDefinitionId":-32768,"attributeId":-2147483546,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32757,"attributeId":-2147483545,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32760,"attributeId":-2147483544,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32750,"attributeId":-2147483543,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32753,"attributeId":-2147483542,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32759,"attributeId":-2147483541,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32761,"attributeId":-2147483540,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32752,"attributeId":-2147483539,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32755,"attributeId":-2147483538,"attributeVisibility":0}],"maxStay":null,"maxStayIsAggregate":null,"minCapacity":1,"maxCapacity":6,"maxBoatDraft":null,"minBoatLength":null,"maxBoatLength":null,"slipWidth":null,"surchargeIds":[],"reservableTransactionLocationIds":[-2147483648,-2147483644,-2147483637,-2147483636],"mapId":-2147483647,"mapLocalizedValues":{"en-CA":"Sites
                  1 to 45"},"timeZoneOffset":240.0}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
    - request:
          body: null
          headers:
          method: GET
          uri: https://novascotia.goingtocamp.com/api/availability/map?bookingCategoryId=0&endDate=2023-07-09&equipmentCategoryId=-32768&getDailyAvailability=False&isReserving=True&mapId=-2147483640&numEquipment=1&partySize=1&resourceLocationId=-2147483646&startDate=2023-07-07
      response:
          body:
              string: '{"mapId":-2147483640,"mapAvailabilities":[6],"resourceAvailabilities":{"-2147483518":[{"availability":5,"remainingQuota":null}],"-2147483509":[{"availability":5,"remainingQuota":null}],"-2147483502":[{"availability":5,"remainingQuota":null}],"-2147483488":[{"availability":5,"remainingQuota":null}],"-2147483476":[{"availability":5,"remainingQuota":null}],"-2147483473":[{"availability":5,"remainingQuota":null}],"-2147483468":[{"availability":5,"remainingQuota":null}],"-2147483444":[{"availability":5,"remainingQuota":null}]},"mapLinkAvailabilities":{}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
[...]
