interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/hotels/yellowstonenationalparklodges?date=2023-10-01&limit=31&rate_code=INTERNET
      response:
          body:
              string:
                  '{"availability":{"10\/01\/2023":{"YLCL":{"hotelCode":"YLCL","status":"OPEN","message":"","min":279,"max":279,"perGuests":{"1":{"a":11,"a2":11,"b":279,"b2":279,"m":279,"m2":279,"r":"INTERNET","r2":"INTERNET","s":"black"},"2":{"a":11,"a2":11,"b":279,"b2":279,"m":279,"m2":279,"r":"INTERNET","r2":"INTERNET","s":"black"},"3":{"a":11,"a2":11,"b":339,"b2":339,"m":339,"m2":339,"r":"INTERNET","r2":"INTERNET","s":"black"},"4":{"a":11,"a2":11,"b":359,"b2":359,"m":359,"m2":359,"r":"INTERNET","r2":"INTERNET","s":"black"},"5":{"a":1,"a2":1,"b":849,"b2":849,"m":849,"m2":849,"r":"INTERNET","r2":"INTERNET","s":"black"},"6":{"a":1,"a2":1,"b":849,"b2":849,"m":849,"m2":849,"r":"INTERNET","r2":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Canyon
                  Lodge Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/05\/2023","available":{"1":11,"2":11,"3":11,"4":11,"5":1,"6":1},"mins":{"1":279,"2":279,"3":339,"4":359,"5":849,"6":849},"min":279}},"rates2":{"INTERNET":{"code":"INTERNET","title":"Canyon
                  Lodge Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/05\/2023","available":{"1":11,"2":11,"3":11,"4":11,"5":1,"6":1},"mins":{"1":279,"2":279,"3":339,"4":359,"5":849,"6":849},"min":279}}},"YLGV":{"hotelCode":"YLGV","status":"CLOSED","message":"Grant
                  Village is closed for the season from 10\/1\/2023 to 05\/09\/2024","min":0,"max":0,"perGuests":{"1":{"a":0,"a2":0,"b":0,"b2":0,"m":0,"m2":0,"r":"ALL","r2":"ALL","s":"closed"}},"rates":[],"rates2":[]},"YLMH":{"hotelCode":"YLMH","status":"OPEN","message":"","min":104,"max":104,"perGuests":{"1":{"a":11,"a2":11,"b":104,"b2":104,"m":104,"m2":104,"r":"INTERNET","r2":"INTERNET","s":"black"},"2":{"a":11,"a2":11,"b":104,"b2":104,"m":104,"m2":104,"r":"INTERNET","r2":"INTERNET","s":"black"},"3":{"a":11,"a2":11,"b":223,"b2":223,"m":223,"m2":223,"r":"INTERNET","r2":"INTERNET","s":"black"},"4":{"a":11,"a2":11,"b":243,"b2":243,"m":243,"m2":243,"r":"INTERNET","r2":"INTERNET","s":"black"},"5":{"a":3,"a2":3,"b":263,"b2":263,"m":263,"m2":263,"r":"INTERNET","r2":"INTERNET","s":"black"},"6":{"a":3,"a2":3,"b":283,"b2":283,"m":283,"m2":283,"r":"INTERNET","r2":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Mammoth
                  Hotel Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"04\/28\/2023","available":{"1":11,"2":11,"3":11,"4":11,"5":3,"6":3},"mins":{"1":104,"2":104,"3":223,"4":243,"5":263,"6":283},"min":104},"FROSTY":{"code":"FROSTY","title":"Mammoth
                  Frosty Fun Package","description":" The Mammoth Hotel Frosty Fun Package includes
                  two nights of discounted overnight accommodations, breakfast each morning,
                  welcome gift for each person, and one Snow Card per adult that provides an
                  additional 10% discount on select gift shop items, tours, rentals, and additional
                  meals.  Package may be extended for additional nights in the s[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/rooms/yellowstonenationalparklodges/YLYF:RV?date=2023-10-01&limit=31
      response:
          body:
              string:
                  '{"rates":{"INTERNET":{"code":"INTERNET","title":"Fishing Bridge RV
                  Internet Rate","description":"Fishing Bridge RV Internet Rate","category":"RACK","minstay":1,"maxstay":14,"start":"05\/12\/2023"}},"availability":{"10\/01\/2023":{"date":"10\/01\/2023","status":"OPEN","message":"","rooms":[{"hotelCode":"YLYF:RV","roomCode":"M30F","rateCode":"INTERNET","quantity":17,"available":11,"available2":11,"price":89,"additional":0,"restrictions":{"S_OPEN":true},"updated":"04\/22\/2023  11:41","group":["RV30"],"type":"rv","base":1,"max":6,"regular_price":89,"regular_additional":0},{"hotelCode":"YLYF:RV","roomCode":"M30VF","rateCode":"INTERNET","quantity":44,"available":11,"available2":11,"price":89,"additional":0,"restrictions":{"S_OPEN":true},"updated":"04\/22\/2023  11:41","group":["RV30"],"type":"rv","base":1,"max":6,"regular_price":89,"regular_additional":0},{"hotelCode":"YLYF:RV","roomCode":"M35VF","rateCode":"INTERNET","quantity":17,"available":11,"available2":11,"price":89,"additional":0,"restrictions":{"S_OPEN":true},"updated":"04\/22\/2023  11:41","group":["RV[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/rooms/yellowstonenationalparklodges/YLYM:RV?date=2023-10-01&limit=31
      response:
          body:
              string:
                  '{"rates":{"INTERNET":{"code":"INTERNET","title":"Madison CG Internet
                  Rate","description":" Standard Rate Site ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/05\/2023"}},"availability":{[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/property/rooms/yellowstonenationalparklodges/YLYF:RV
      response:
          body:
              string:
                  '{"M60AF":{"code":"M60AF","title":"ABA RV Site up to 60-ft","type":"aba_rv","group":["RV30","RV35","RV40","RV50","RV55","RV60"],"occupancyBase":1,"occupancyMax":6,"owsRequests":[],"cancelBefore":[{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30}],"description":"
                  The sites can hold one RV (plus towed\/additional vehicles), or one trailer
                  plus tow vehicle, up to a maximum combined length of 60 feet.  Only one RV
                  or trailer is allowed per site.  Sites are singlewide, and either pull-through
                  or back-in.  All vehicles must fit on pavement.  Water, sewer, and electric
                  (30 and 50 amp\/110 volt) hookups are included, and a dump station is on-site.  ABA
                  sites include picnic table with extension for wheelchair, are close to ADA
                  accessible bathrooms, and are slightly wider than a standard site.  Hard-sided
                  RVs only; tents and campers with tent-style slideouts are not allowed, due
                  to proximity to bear habitat.  Campfires are not allowed.  Maximum of 6 people
                  per site, unless sleeping in one camping unit (i.e. trailer) or family with
                  dependent children. Up to 2 pets are allowed per site, if kept on a leash
                  at all times.","featuring":[],"perfectfor":[],"amenities":[],"images":[{"title":"ABA
                  RV Site up to 60-ft","image":"https:\/\/webapi.xanterra.net\/\/common\/images\/properties\/yellowstonenationalparklodges\/YLYF\/M60AF\/gallery\/1661875453.jpg"}],"questions":{"QBC1":{"title":"Vehicle","description":"","options":[{"question":"Length
                  of Vehicle","answers":["20",25,30,35,40,45,50,55,60],"isLength":true},{"question":"Vehicle
                  Type","answers":["Motorcycle (up to 6)","Van","Van with Towed Equipment","Pickup
                  Camper","Pickup Camper with Towed Equipment","Vehicle Towing Travel Trailer","Vehicle
                  Towing 5th Wheel","Motorhome","Motorhome with Towed Equipment"],"isLength":false}]}},"sizeMax":60,"lowAvailability":10},"M35VF":{"code":"M35VF","title":"RV
                  Site up to 35-ft with an Extra Vehicle","type":"rv","group":["RV30","RV35"],"occupancyBase":1,"occupancyMax":6,"owsRequests":[],"cancelBefore":[{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30}],"description":"
                  The sites can hold one RV (plus towed\/additional vehicles), or one trailer
       [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/property/rooms/yellowstonenationalparklodges/YLYM:RV
      response:
          body:
              string:
                  '{"T8":{"code":"T8","title":"Tent Site up to 8\u0027 x 8\u0027","type":"tent","group":["TENT8"],"occupancyBase":1,"occupancyMax":6,"owsRequests":[],"cancelBefore":[{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30}],"description":"
                  The sites can hold one tent up to 8 x 8, plus one vehicle, max size of 20
                  feet. There is no designated tent pad.  Sites include a picnic table and fire
                  ring, and there are shared bear boxes in most loops.  Sleeping in vehicles
                  is allowed in select tent sites with advisement at check-in.  No Camper Services
                  on-site; closest are at Canyon Campground (approximately 26 miles).  Length
                  of stay limits apply.  Maximum of 6 people per site, unless sleeping in one
                  tent, or family with dependent children. Up to 2 pets are allowed per site,
                  if kept on a leash at all times.","featuring":[],"perfectfor":[],"amenities":[],"images":[{"title":"Tent
                  Site up to 8\u0026#039; x 8\u0026#039;","image":"https:\/\/webapi.xanterra.net\/\/common\/images\/properties\/yellowstonenationalparklodges\/YLYM\/T8\/gallery\/1661541147.jpg"}],"questions":{"QBC1":{"title":"Tent","description":"","options":[{"question":"Length
                  of Tent","answers":["8"],"isLength":true}]},"QBC2":{"title":"Vehicle","description":"","options":[{"question":"Length
                  of Vehicle","answers":["20",21,22],"isLength":true},{"question":"Vehicle Type","answers":["Motorcycle
                  (up to 6)","Van","Pickup Camper","Motorhome"],"isLength":false}]},"QBC3":{"title":"Tent
                  with Vehicle","description":"","options":[{"question":"Length of Tent","answers":["8"],"isLength":true},{"question":"Length
                  of Vehicle","answers":["20",21,22],"isLength":true},{"question":"Vehicle Type","answers":["Motorcycle
                  (up to 6)","Van","Pickup Camper","Motorhome"],"isLength":false}]}},"sizeMax":30,"lowAvailability":10},"T12":{"code":"T12","title":"Tent
                  Site up To 12\u0027 x 12\u0027","type":"tent","group":["TENT8","TENT12"],"occupancyBase":1,"occupancyMax":6,"owsRequests":[],"cancelBefore":[{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30},{"start":4,"end":11,"value":30},{"start":12,"end":3,"value":30}],"description":"
                  The sites can hold one tent up to 12 x 12, or, up to two 8 x 8 tents, plus
           [...]
