interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/232446?full=True
      response:
          body:
              string:
                  "{\"ACTIVITY\":[{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232446\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"CA\",\"City\":\"Yosemite
                  National Park \",\"FacilityAddressID\":\"20437806\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"232446\",\"FacilityStreetAddress1\":\"PO
                  BOX 577\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"95389\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview</h2>\\n<p><strong>Wawona
                  Horse Campsites </strong>now have their own site for reservations: <a href=\\\"https://www.recreation.gov/camping/campgrounds/10220609\\\"
                  rel=\\\"nofollow\\\">https://www.recreation.gov/camping/campgrounds/10220609</a>\_</p>\\n<p>Wawona
                  campground sites are available to reserve up to five months in advance on
                  the 15th of each month at 7:00 a.m. PST. For example, on January 15, arrival
                  dates for the [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A232446&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  "{\"campsites\":[{\"accessible\":\"false\",\"asset_id\":\"232446\",\"asset_name\":\"Wawona
                  Campground\",\"asset_type\":\"Campground\",\"attributes\":[{\"attribute_category\":\"site_details\",\"attribute_id\":52,\"attribute_name\":\"Max
                  Num of People\",\"attribute_value\":\"6\"},{\"attribute_category\":\"site_details\",\"attribute_id\":79,\"attribute_name\":\"Site
                  Access\",\"attribute_value\":\"N/A\"},{\"attribute_category\":\"site_details\",\"attribute_id\":77,\"attribute_name\":\"Shade\",\"attribute_value\":\"Yes\"},{\"attribute_category\":\"site_details\",\"attribute_id\":12,\"attribute_name\":\"Checkout
                  Time\",\"attribute_value\":\"12:00 PM\"},{\"attribute_category\":\"site_details\",\"attribute_id\":72,\"attribute_name\":\[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/232446/month?start_date=2023-05-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"1":{"availabilities":{"2023-05-01T00:00:00Z":"Reserved","2023-05-02T00:00:00Z":"Reserved","2023-05-03T00:00:00Z":"Reserved","2023-05-04T00:00:00Z":"Reserved","2023-05-05T00:00:00Z":"Reserved","2023-05-06T00:00:00Z":"Reserved","2023-05-07T00:00:00Z":"Reserved","2023-05-08T00:00:00Z":"Reserved","2023-05-09T00:00:00Z":"Reserved","2023-05-10T00:00:00Z":"Reserved","2023-05-11T00:00:00Z":"Reserved","2023-05-12T00:00:00Z":"Reserved","2023-05-13T00:00:00Z":"Reserved","2023-05-14T00:00:00Z":"Reserved","2023-05-15T00:00:00Z":"Reserved","2023-05-16T00:00:00Z":"Reserved","2023-05-17T00:00:00Z":"Reserved","2023-05-18T00:00:00Z":"Closed","2023-05-19T00:00:00Z":"Reserved","2023-05-20T00:00:00Z":"Reserved","2023-05-21T00:00:00Z":"Reserved","2023-05-22T00:00:00Z":"Closed","2023-05-23T00:00:00Z":"Reserved","2023-05-24T00:00:00Z":"Reserved","2023-05-25T00:00:00Z":"Reserved","2023-05-26T00:00:00Z":"Reserved","2023-05-27T00:00:00Z":"Reserved","2023-05-28T00:00:00Z":"Reserved","2023-05-29T00:00:00Z":"Reserved","2023-05-30T00:00:00Z":"Reserved","2023-05-31T00:00:00Z":"Reserved"},"campsite_id":"1","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"RV
                  NONELECTRIC","capacity_rating":"Single","loop":"C ","max_num_people":6,"min_num_people":0,"quantities":{"2023-05-01T00:00:00Z":0,"2023-05-02T00:00:00Z":0,"2023-05-03T00:00:00Z":0,"2023-05-04T00:00:00Z":0,"2023-05-05T00:00:00Z":0,"2023-05-06T00:00:00Z":0,"2023-05-07T00:00:00Z":0,"2023-05-08T00:00:00Z":0,"2023-05-09T00:00:00Z":0,"2023-05-10T00:00:00Z":0,"2023-05-11T00:00:00Z":0,"2023-05-12T00:00:00Z":0,"2023-05-13T00:00:00Z":0,"2023-05-14T00:00:00Z":0,"2023-05-15T00:00:00Z":0,"2023-05-16T00:00:00Z":0,"2023-05-17T00:00:00Z":0,"2023-05-18T00:00:00Z":1,"2023-05-19T00:00:00Z":0,"2023-05-20T00:00:00Z":0,"2023-05-21T00:00:00Z":0,"2023-05-22T00:00:00Z":1,"2023-05-23T00:00:00Z":0,"2023-05-24T00:00:00Z":0,"2023-05-25T00:00:00Z":0,"2023-05-26T00:00:00Z":0,"2023-05-27T00:00:00Z":0,"2023-05-28T00:00:00Z":0,"2023-05-29T00:00:00Z":0,"2023-05-30T00:00:00Z":0,"2023-05-31T00:00:00Z":0},"site":"065","supplemental_camping":null,"type_of_use":"Overnight"},"10":{"availabilities":{"2023-05-01T00:00:00Z":"Reserved","2023-05-02T00:00:00Z":"Reserved","2023-05-03T00:00:00Z":"Reserved","2023-05-04T00:00:00Z":"Reserved","2023-05-05T00:00:00Z":"Reserved","2023-05-06T00:00:00Z":"Reserved","2023-05-07T00:00:00Z":"Reserved","2023-05-08T00:00:00Z":"Reserved","2023-05-09T00:00:00Z":"Reserved","2023-05-10T00:00:00Z":"Reserved","2023-05-11T00:00:00Z":"Reserved","2023-05-12T00:00:00Z":"Reserved","2023-05-13T00:00:00Z":"Closed","2023-05-14T00:00:00Z":[...]
[...]
