interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2907/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":15,\"TOTAL_COUNT\":15},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100055,\"ActivityName\":\"SKIING\",\"FacilityActivityDescription\":\"Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100004,\"ActivityName\":\"RANGER
                  STATION\",\"FacilityActivityDescription\":\"Ranger Station\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":15,\"ActivityName\":\"HORSEBACK
                  RIDING\",\"FacilityActivityDescription\":\"Horseback Riding\",\"Fa[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A232462&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  "{\"campsites\":[{\"accessible\":\"false\",\"aggregate_cell_coverage\":2,\"asset_id\":\"232462\",\"asset_name\":\"Rocky
                  Mountain National Park Glacier Basin Campground\",\"asset_type\":\"Campground\",\"attributes\":[{\"attribute_category\":\"site_details\",\"attribute_id\":11,\"attribute_name\":\"Checkin
                  Time\",\"attribute_value\":\"1:00 PM\"},{\"attribute_category\":\"site_details\",\"attribute_id\":56,\"attribute_name\":\"Min
                  Num of People\",\"attribute_value\":\"1\"},{\"attribute_category\":\"site_details\",\"attribute_id\":9,\"attribute_name\":\"Campfire
                  Allowed\",\"attribute_value\":\"Yes\"},{\"attribute_category\":\"site_details\",\"attribute_id\":12,\"attribute_name\":\"Checkout
                  Time\",\"attribute_value\":\"12:00 PM\"},{\"attribute_category\":\"site_details\",\"[...]
[...]
