interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/10089508?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"OR","City":"Sunriver","FacilityAddressID":"e7e8be7d-1896-4f06-9e04-fadf6018747f","FacilityAddressType":"Default","FacilityID":"10089508","FacilityStreetAddress1":"placeholder","FacilityStreetAddress2":"","FacilityStreetAddress3":"","LastUpdatedDate":"2022-06-23","PostalCode":"97707"}],"FacilityAdaAccess":"","FacilityDescription":"Lava
                  River Cave, part of the Newberry National Volcanic Monument, offers self-guided
                  exploration of a mile-long lava tube. Formed 75,000 years ago during a dramatic
                  eruption of Newberry Volcano, Lava River Cave was one of the first lava tubes
                  to be discovered in Oregon and is the longest continuous cave in the state.
                  It takes approximately 1 hour to tour the entire cave (~2.2 miles roundtrip).
                  Initial access descends stairs to a combination of flat boardwalk, and uneven
                  walking surfaces. Located near the city of Bend, OR Lava Rive Cave is a popular
                  tourist destination and an excellent location for the general public to be
                  exposed to caving.","FacilityDirections":"From Bend, OR travel south on Highway
                  97 to Exit 151/Cottonwood Rd. Turn left after exiting and proceed through
                  underpass following signs to Lava River Cave. Cave is about 1 mile down the
                  road on your left.","FacilityEmail":"","FacilityID":"10089508","FacilityLatitude":0,"FacilityLongitude":0,"FacilityMapURL":"","FacilityName":"Lava
                  River Cave Timed Reservation Tickets","FacilityPhone":"","FacilityReservationURL":"","FacilityTypeDescription":"Timed
                  Entry","FacilityUseFeeDescription":"","GEOJSON":{"COORDINATES":null,"TYPE":""},"Keywords":"","LINK":[],"LastUpdatedDate":"2022-06-23","LegacyFacilityID":"","MEDIA":[{"Credits":"USFS","Description":"Collapsed
                  corridor pathway to the cave entrance","EmbedCode":"","EntityID":"10089508","EntityMediaID":"a5080d61-1766-4292-9e58-0edba6438d67","EntityType":"Facility","Height":934,"IsGallery":true,"IsPreview":false,"IsPrimary":false,"MediaType":"Image","Subtitle":"","Title":"Collapsed
                  Corridor","URL":"https://cdn.recreation.gov/public/2022/06/30/00/17/10089508_dca6788e-298e-4769-9960-67ee9e88cbc9_700.jpg","Width":700},{"Credits":"USFS","Description":"Welcome
                  Station for recreation pass, souvenirs and light rentals","EmbedCode":"","EntityID":"10089508","EntityMediaID":"609b717a-035c-47f7-958f-74d413f68788","EntityType":"Facility","Height":738,"IsGallery":true,"IsPreview":false,"IsPrimary":false,"MediaType":"Image","Subtitle":"","Title":"Welcome
                  Station","URL":"https://cdn.recreation.gov/public/2022/06/30/00/14/10089508_3b8abcdf-5472-41f1-b12f-8e2821135b65_700.jpg","Widt[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search?fq=asset_id%3A10089508&fq=entity_type%3Atimedentry_tour&size=1000&start=0
      response:
          body:
              string:
                  '{"results":[{"aggregate_cell_coverage":2.2199999618530275,"average_rating":4.625,"campsite_type_of_use":["na"],"description":"Provides
                  for one private vehicle to park at the site.","directions":"\u003cp\u003eTraveling
                  Highway 97 between Bend and Sunriver, Exit 151/Cottonwood Rd. Turn east after
                  exiting and proceed through underpass following signs to Lava River Cave.
                  Cave is about 1 mile down the paved Forest Service road 9703 on the west side
                  of the road.\u003c/p\u003e\n","entity_id":"10089509","entity_type":"timedentry_tour","html_description":"Provides
                  for one private vehicle to park at the site.","id":"10089509_timedentry_tour","latitude":"43.89532000000000","longitude":"-121.36844000000001","name":"Lava
                  River Cave Vehicle Reservations","number_of_ratings":112,"org_id":"131","parent_id":"10089508","parent_name":"Lava
                  River Cave Timed Reservation Tickets","parent_type":"facility","preview_image_url":"https://cdn.recreation.gov/public/2022/06/23/21/03/10089508_168256bf-1463-400d-957c-fe8df4ffe59c_700.jpg","reservable":true,"time_zone":"America/Los_Angeles","type":"Cave
                  Tour"}],"size":1,"spelling_autocorrected":false,"start":"0","total":1}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/timedentry/availability/facility/10089508/monthlyAvailabilitySummaryView?inventoryBucket=FIT&month=06&year=2023
      response:
          body:
              string:
                  '{"facility_availability_summary_view_by_local_date":{"2023-06-01":{"availability_level":"NA","facility_id":"10089508","local_date":"2023-06-01","reserved_count":0,"scheduled_count":0,"tour_availability_summary_view_by_tour_id":{"10089509":{"availability_level":"NA","booking_windows":null,"facility_id":"10089508","has_not_yet_released":false,"has_reservable":false,"has_walk_up":false,"local_date":"2023-06-01","next_release_timestamp":null,"not_yet_released":0,"reservable":0,"reserved_count":0,"scheduled_count":0,"tour_id":"10089509","walk_up":0}}},"2023-06-02":{"availability_level":"NA","facility_id":"10089508","local_date":"2023-06-02","reserved_count":0,"scheduled_count":0,"tour_availability_summary_view_by_tour_id":{"10089509":{"availability_level":"NA","booking_windows":null,"facility_id":"10089508","has_not_yet_released":false,"has_reservable":false,"has_walk_up":false,"local_date":"2023-06-02","next_release_timestamp":null,"not_yet_released":0,"reservable":0,"reserved_count":0,"scheduled_count":0,"tour_id":"10089509","walk_up":[...]
