interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/234787?full=True
      response:
          body:
              string:
                  "{\"ACTIVITY\":[],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"CO\",\"City\":\"Pagosa
                  Springs\",\"FacilityAddressID\":\"20440182\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"234787\",\"FacilityStreetAddress1\":\"PO
                  Box 1662\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2018-06-26\",\"PostalCode\":\"81147\"}],\"FacilityAdaAccess\":\"Y\",\"FacilityDescription\":\"<h2>Overview:</h2><p>Chimney
                  Rock lies within the San Juan National Forest, between Durango and Pagosa
                  Springs in southwestern Colorado. The Monument encompasses 4,726 acres, preserving
                  hundreds of prehistoric sites that dot the landscape around the twin spires
                  known as Chimney Rock and Companion Rock.\\n</p><p>Home to the ancestors of
                  the modern Pueblo Indians, the site represents spiritual significance to man[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search?fq=asset_id%3A234787&fq=entity_type%3Atour&size=1000&start=0
      response:
          body:
              string:
                  "{\"results\":[{\"campsite_type_of_use\":[\"na\"],\"description\":\"Experience
                  the sunrise from the Chacoan Great House and learn why these events were important
                  to  the Ancient Ones.\",\"directions\":\"\\u003cp\\u003e\\u003cstrong\\u003eChimney
                  Rock National Monument \\u003c/strong\\u003e\\u003cbr\\u003e\\u003cbr\\u003e3179
                  State Hwy 151 \\u003cbr\\u003e\\u003cbr\\u003eChimney Rock, Co 81121\\u003cbr\\u003e\\u003cbr\\u003e\\u003cstrong\\u003eFrom
                  Pagosa Springs, Colorado:\\u003c/strong\\u003e Drive 16 miles west on Hwy
                  160 from Pagosa Springs to the Hwy 151 turnoff to Chimney Rock National Monument.
                  Tur[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/ticket/availability/facility/234787?date=2023-09-09
      response:
          body:
              string:
                  '[{"arrival_time_guest_counts":{},"attributes":{"lottery_selection_label":"Sat,
                  Sep  9, 2023"},"availability_lock":"0001-01-01T00:00:00Z","booking_window_open_override":null,"booking_windows":{"PRIMARY":{"advanced_sales_details":{"threshold_exists":false,"threshold_tickets_remaining":0},"close_timestamp":"2023-09-09T05:45:00-06:00","open_timestamp":"2022-09-10T08:00:00-06:00"}},"calculate_booking_window_close":false,"created_date":"2023-03-09T17:29:01.10846194Z","deallocated_reservations":[],"envelope":{},"facility_id":"234787","fulfilled_count":0,"inventory_by_guest_type_id":{},"inventory_count":{"ANY":25,"ANY_SECONDARY":0,"FIT":0,"FIT_SECONDARY":0,"LOTTERY":0},"last_manual_update":"0001-01-01T00:00:00Z","last_manual_update_local_date_time":{},"last_updated_date":"2023-03-09T17:29:01.10846194Z","lottery_instance_id":"","reservation_count":{"ANY":0,"ANY_SECONDARY":0,"FIT":0,"FIT_SECONDARY":0,"LOTTERY":0},"reservation_id_bucket_count":{},"reservation_type":"","rolling_release_date":null,"schedule_id":"b29ee221-2e07-4971-9489-34926a241cdd","status":"OPEN","ticket_validation_window_close_timestamp":null,"ticket_validation_window_open_timestamp":null,"tour_date":"2023-09-09","tour_date_start_timestamp":"2023-09-09T00:00:00-06:00","tour_end_timestamp":"2023-09-09T10:45:00-06:00","tour_id":"291","tour_start_timestamp":"2023-09-09T07:45:00-06:00","tour_time":"0745","validated_count":0}]

                  '
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
[...]
