interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/232045?full=True
      response:
          body:
              string:
                  "{\"ACTIVITY\":[{\"ActivityID\":5,\"ActivityName\":\"BIKING\",\"FacilityActivityDescription\":\"Biking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232045\"},{\"ActivityID\":6,\"ActivityName\":\"BOATING\",\"FacilityActivityDescription\":\"Canoeing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232045\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"Camping\",\"FacilityID\":\"232045\"},{\"ActivityID\":11,\"ActivityName\":\"FISHING\",\"FacilityActivityDescription\":\"Fishing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232045\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232045\"},{\"ActivityID\":34,\"ActivityName\":\"SWIMMING
                  SITE\",\"FacilityActivityDescription\":\"Swimming\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232045\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"CA\",\"City\":\"Foresthill\",\"FacilityAddressID\":\"20437400\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"232045\",\"FacilityStreetAddress1\":\"22830
                  Foresthill Road\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"95631\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview</h2>\\nForbes
                  Creek Group Campground is located near the southeast shore of Sugar Pine Reservoir
                  in the Tahoe National Forest. Visitors enjoy the area for its fishing, canoeing
                  and hiking opportunities. This facility is operated and maintained by the
                  Tahoe National Forest.<h2>Recreation</h2>\\nFishing, canoeing, swimming and
                  boating are popular activities on the reservoir. A trail system for walkin[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A232045&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"true","asset_id":"232045","asset_name":"FORBES
                  CREEK","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":56,"attribute_name":"Min
                  Num of People","attribute_value":"1"},{"attribute_category":"site_details","attribute_id":12,"attribute_name":"Checkout
                  Time","attribute_value":"12:00 PM"},{"attribute_category":"site_details","attribute_id":65,"attribute_name":"Pets
                  Allowed","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":77,"attribute_name":"Shade","attribute_value":"Full"},{"attribute_category":"site_details","attribute_id":52,"attribute_name":"Max
                  Num of People","attribute_va[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/232045/month?start_date=2023-07-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"83343":{"availabilities":{"2023-07-01T00:00:00Z":"Reserved","2023-07-02T00:00:00Z":"Reserved","2023-07-03T00:00:00Z":"Reserved","2023-07-04T00:00:00Z":"Reserved","2023-07-05T00:00:00Z":"Reserved","2023-07-06T00:00:00Z":"Reserved","2023-07-07T00:00:00Z":"Reserved","2023-07-08T00:00:00Z":"Reserved","2023-07-09T00:00:00Z":"Reserved","2023-07-10T00:00:00Z":"Reserved","2023-07-11T00:00:00Z":"Available","2023-07-12T00:00:00Z":"Available","2023-07-13T00:00:00Z":"Reserved","2023-07-14T00:00:00Z":"Reserved","2023-07-15T00:00:00Z":"Reserved","2023-07-16T00:00:00Z":"Reserved","2023-07-17T00:00:00Z":"Reserved","2023-07-18T00:00:00Z":"Reserved","2023-07-19T00:00:00Z":"Reserved","2023-07-20T00:00:00Z":"Reserved","2023-07-21T00:00:00Z":"Reserved","2023-07-22T00:00:00Z":"Reserved","2023-07-23T00:00:00Z":"Reserved","2023-07-24T00:00:00Z":"Reserved","2023-07-25T00:00:00Z":"Reserved","2023-07-26T00:00:00Z":"Reserved","2023-07-27T00:00:00Z":"Reserved","2023-07-28T00:00:00Z":"Reserved","2023-07-29T00:00:00Z":"Reserved","2023-07-30T00:00:00Z":"Reserved","2023-07-31T00:00:00Z":"Reserved"},"campsite_id":"83343","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"GROUP
                  STANDARD NONELECTRIC","capacity_rating":"Single","loop":"ROCKY RIDGE","max_num_people":50,"min_num_people":1,"quantities":{"2023-07-01T00:00:00Z":0,"2023-07-02T00:00:00Z":0,"2023-07-03T00:00:00Z":0,"2023-07-04T00:00:00Z":0,"2023-07-05T00:00:00Z":0,"2023-07-06T00:00:00Z":0,"2023-07-07T00:00:00Z":0,"2023-07-08T00:00:00Z":0,"2023-07-09T00:00:00Z":0,"2023-07-10T00:00:00Z":0,"2023-07-11T00:00:00Z":1,"2023-07-12T00:00:00Z":1,"2023-07-13T00:00:00Z":0,"2023-07-14T00:00:00Z":0,"2023-07-15T00:00:00Z":0,"2023-07-16T00:00:00Z":0,"2023-07-17T00:00:00Z":0,"2023-07-18T00:00:00Z":0,"2023-07-19T00:00:00Z":0,"2023-07-20T00:00:00Z":0,"2023-07-21T00:00:00Z":0,"2023-07-22T00:00:00Z":0,"2023-07-23T00:00:00Z":0,"2023-07-24T00:00:00Z":0,"2023-07-25T00:00:00Z":0,"2023-07-26T00:00:00Z":0,"2023-07-27T00:00:00Z":0,"2023-07-28T00:00:00Z":0,"2023-07-29T00:00:00Z":0,"2023-07-30T00:00:00Z":0,"2023-07-31T00:00:00Z":0},"site":"GS2","supplemental_camping":null,"type_of_use":"Overnight"},"83871":{"availabilities":{"2023-07-01T00:00:00Z":"Reserved","2023-07-02T00:00:00Z":"Reserved","2023-07-03T00:00:00Z":"Reserved","2023-07-04T00:00:00Z":"Reserved","2023-07-05T00:00:00Z":"Available","2023-07-06T00:00:00Z":"Reserved","2023-07-07T00:00:00Z":"Reserved","2023-07-08T00:00:00Z":"Reserved","2023-07-09T00:00:00Z":"Reserved","2023-07-10T00:00:00Z":"Reserved","2023-07-11T00:00:00Z":"Reserved","2023-07-12T00:00:00Z":"Reserved","2023-07-13T00:00:00Z":"Reserved","2023-07-14T00:00[...]
[...]
