interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://longpoint.goingtocamp.com/api/resourceLocation
      response:
          body:
              string:
                  "[{\"resourceLocationId\":-2147483648,\"timeZoneOffset\":-240.0,\"similarExperiences\":[],\"localizedValues\":[{\"cultureName\":\"en-CA\",\"shortName\":\"Backus
                  Heritage\",\"fullName\":\"Backus Heritage Conservation Area\",\"description\":\"Visit
                  a place where history meets nature... visit Backus! The park offers 160 campsites
                  spread over five campground areas, and a swimming pool. Campsites range from
                  tenting sites to 98 sites with electrical service and two unique camping cabins.
                  Fishing, hiking, picnicking and a variety of history and nature-themed special
                  events are favourite activities of both campers and day visitors. The Mill
                  Pond is stocked with rainbow trout, providing a great spot to teach youngsters
                  how to fish. Visitors can view 15 historic buildings and antique farm equipment
                  in the Heritage Village. During the summer, costumed interpreters and heritage
                  demonstrations bring Norfolk\u2019s pioneer past to life. Experience the historic
                  location of the 1798 Backhouse Grist Mill National Historic Site \u2013 one
                  of the few mills in the area not destroyed during the War of 1812. The War
                  of 1812 Re-enactment held in September is Backus\u2019 signature event. Guided
                  nature walks, interpretive programs and exhibits in the Conservation Education
                  Centre highlight the area\u2019s natural features.\\r\\n<br>Backus Heritage
                  CA was selected as one of Norfolk County\u2019s Amazing Places.\",\"drivingDirections\":\"From
                  Toronto: Take the Q.E.W. west to Highway 403. Turn south on Hwy. 6. Go through
                  Port Dover, then turn south on Hwy. 24. Follow for 20 km. Turn left at the
                  sign and follow for 3 km. Turn right on Regional Road 42. Entrance is up 1km
                  on the right.\\n\\n          From Buffalo: Take Hwy. 3 west to Simcoe. Turn
                  left at Hwy. 24. Follow Hwy. 24 south and continue as above.\\n\\n          From
                  Windsor: Take Hwy. 401 east to Hwy. 19 South. In Tillsonburg take Hwy. 3,
                  east for 6 km. Turn south on Hwy. 59. Follow for 25 km. Turn left at the sign.
                  Follow Concession 2 for 3 km to entrance on left.\",\"confirmationLetterPolicies\":[]}],\"email\":\"\",\"website\":\"\",\"faxNumber\":\"\",\"gpsCoordinates\":\"\",\"googleAddress\":null,\"streetAddress\":\"1267
                  2nd Concession Road, R.R. 1\",\"city\":\"Port Rowan\",\"region\":\"Ontario\",\"regionCode\":\"N0E1M0\",\"country\":\"Canada\",\"phoneNumber\":\"1-877-990-9932
                  or 519-586-2201\",\"transactionLocationId\":-2147483648,\"selfCheckInInstructions\":[],\"attributes\":[],\"resourceCategoryIds\":[-2147483648,-2147483647,-2147483646,-2147483645,-2147483644,-2147483643,-2147483642,-2147483641]},{\"resourceLocationId\":-2147483647,\"timeZoneOffset\":-240.0,\"similarExperiences\":[],\"localizedValues\":[{\"cultureName\":\"en-CA\",\"shortName\":\"Deer
                  Creek\",\"fullName\":\"Deer Creek Conservation Area\",\"description\":\"Enjoy
                  great fishing and scenic views at Deer Creek Conservation Area. The 80-acre
                  reservoir is a focal point of the pa[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://longpoint.goingtocamp.com/api/maps
      response:
          body:
              string:
                  '[{"isOrganizationRoot":false,"mapId":-2147483624,"versionId":-2147472843,"versionDate":"2020-09-17T03:00:00.01Z","mapType":0,"isDisabled":false,"xDimension":800,"yDimension":600,"localizedValues":[{"cultureName":"en-CA","title":"Winter
                  Storage","description":"Winter Storage","mapImageUid":"556df6a9-d21b-4138-bf96-008d8e53b70c","mapImageFormat":4}],"resourceLocationId":-2147483646,"isResourceLocationRootMap":false,"mapResources":[{"resourceId":-2147482420,"iconType":3,"localizationPoint":{"justification":0,"xCoordinate":42,"yCoordinate":8,"rValue":0,"gValue":0,"bValue":0},"xCoordinate":25,"yCoordinate":11,"registrationActions":[],"transactionLocationTypes":[]},{"resourceId":-2147482419,"iconType":3,"localizationPoint":{"justification":0,"xCoordinate":42,"yCoordinate":38,"rValue":0,"gValue":0,"bValue":0},"xCoordinate":25,"yCoordinate":41,"registrationActions":[],"transactionLocationTypes":[]},{"resourceId":-2147482418,"iconType":3,"localizationPoint":{"justification":0,"xCoordinate":42,"yCoordinate":68,"rValue":0,"gValue":0,"bValue":0},"xCoordinate":25,"yCoordinate":71,"registrationActions":[],"transactionLocationTypes":[]},{"resourceId":-214748241[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://longpoint.goingtocamp.com/api/availability/map?bookingCategoryId=0&endDate=2023-09-02&equipmentCategoryId=-32768&getDailyAvailability=False&isReserving=True&mapId=-2147483620&numEquipment=1&partySize=1&resourceLocationId=-2147483643&startDate=2023-09-01&subEquipmentCategoryId=-32768
      response:
          body:
              string: '{"mapId":-2147483620,"mapAvailabilities":[6],"resourceAvailabilities":{"-2147482738":[{"availability":0,"remainingQuota":null}],"-2147482736":[{"availability":0,"remainingQuota":null}],"-2147482731":[{"availability":0,"remainingQuota":null}],"-2147482702":[{"availability":3,"remainingQuota":null}],"-2147482694":[{"availability":0,"remainingQuota":null}],"-2147482690":[{"availability":0,"remainingQuota":null}],"-2147482683":[{"availability":0,"remainingQuota":null}],"-2147482672":[{"availability":0,"remainingQuota":null}],"-2147482668":[{"availability":0,"remainingQuota":null}],"-2147482666":[{"availability":0,"rem[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://longpoint.goingtocamp.com/api/attribute/filterable
      response:
          body:
              string:
                  '{"-32768":{"minValue":1.00000,"maxValue":150.00000,"attributeDefinitionId":-32768,"versionId":-2147483647,"versionDate":"2017-10-23T18:21:08.347Z","isDisabled":false,"order":9,"isFilterable":false,"attributeType":0,"advancedReportsFilterType":null,"localizedValues":[{"displayName":"Site
                  Length","cultureName":"en-CA"}]},"-32767":{"minValue":1.00000,"maxValue":150.00000,"attributeDefinitionId":-32767,"versionId":-2147483646,"versionDate":"2017-10-23T18:21:08.347Z","isDisabled":false,"order":10,"isFilterable":false,"attributeType":0,"advancedReportsFilterType":null,"localizedValues":[{"displayName":"Site
                  Width","cultureName":"en-CA"}]},"-32766":{"minValue":1.00000,"maxValue":150.00000,"attributeDefinitionId":-32766,"versionId":-2147483645,[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://longpoint.goingtocamp.com/api/resource/details?resourceId=-2147482738
      response:
          body:
              string:
                  '{"resourceId":-2147482738,"resourceCategoryId":-2147483648,"resourceLocationId":-2147483643,"bookingCategoryId":0,"resourceModel":0,"localizedValues":[{"cultureName":"en-CA","name":"134","description":""}],"allowedEquipment":[{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32768},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32767},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32766},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32765},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32764},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32763},{"equipmentCategoryId":-32768,"subEquipmentCategoryId":-32762}],"customAttributes":[],"definedAttributes":[{"value":30.00000,"attributeDefinitionId":-32767,"attributeId":-2147460268,"attributeVisibility":0},{"value":40.00000,"attributeDefinitionId":-32768,"attributeId":-2147460266,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32755,"attributeId":-2147460282,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32738,"attributeId":-2147460279,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32752,"attributeId":-2147460277,"attributeVisibility":0},{"values":[1],"attributeDefinitionId":-32741,"attributeId":-2147460276,"attributeVisibility":0},{"values":[0],"attributeDefinitionId":-32739,"attributeId":-2147460275,"attributeVisibility":0},{"values":[0],"attributeDefini[...]
[...]
