interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2907/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":15,\"TOTAL_COUNT\":15},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100055,\"ActivityName\":\"SKIING\",\"FacilityActivityDescription\":\"Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100004,\"ActivityName\":\"RANGER
                  STATION\",\"FacilityActivityDescription\":\"Ranger Station\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":15,\"ActivityName\":\"HORSEBACK
                  RIDING\",\"FacilityActivityDescription\":\"Horseback Riding\",\"Fa[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A233187&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA+xX32/iOBD+V6w8rgrkBymEt6rb1VVqKSrc7a12VznjDMGHY+ccB8pW/d9vHEK3
                  aE3vRE/3tA+IODOez+OZ+Wby6DFalBU3UHmjz48eZQyqis8FeCNvQUUF3plH81xDTg2kDIRImVqD
                  pjlq+N0[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/233187/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA6yWX0vjQBTFv0rIcwv3Tqv981akiNCmoH3ZfQljHetAmsQmKYr43XeSLLsqHm4v
                  CH1IZ85t4Zz5ncxbvLOHsvK1q+L5WzwdEU3aB3uyPrP3PvO177cMmdGQZkPiLdG8+/yO5/Gtq9zx
                  5B7iwX+FERUjUTEWFRei4[...]
[...]
