interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://oregonrdr.usedirect.com/oregonmetrordr/rdr/search/filters
      response:
          body:
              string:
                  "{\"Message\":\"Built in 0.5853 ms size 12154 bytes on ORMETRO-RDR\",\"UnitCategories\":[{\"UnitCategoryId\":1,\"UnitCategoryName\":\"Camping\",\"HasEquipment\":false,\"Icon\":\"camping\"},{\"UnitCategoryId\":2,\"UnitCategoryName\":\"Day
                  Use Areas\",\"HasEquipment\":false,\"Icon\":\"dayuseareas\"},{\"UnitCategoryId\":6,\"UnitCategoryName\":\"Sports
                  Use Areas\",\"HasEquipment\":true,\"Icon\":\"sportsuseareas\"}],\"NightlySleepingUnits\":[{\"UnitCategoryId\":6,\"SleepingUnitId\":2,\"SleepingUnitName\":\"RV/Motorhome\",\"IsWheeled\":true,\"Icon\":\"rvmotorhome\"},{\"UnitCategoryId\":6,\"SleepingUnitId\":3,\"SleepingUnitName\":\"Tent
                  Only\",\"IsWheeled\":false,\"Icon\":\"tentonly\"},{\"UnitCategoryId\":6,\"SleepingUnitId\":5,\"SleepingUnitName\":\"Tent\",\"IsWheeled\":false,\"Icon\":\"tent\"},{\"UnitCategoryId\":6,\"SleepingUnitId\":6,\"SleepingUnitName\":\"Trailer
                  Only\",\"IsWheeled\":true,\"Icon\":\"traileronly\"},{\"UnitCategoryId\":6,\"SleepingUnitId\":1,\"SleepingUnitName\":\"Trailer\",\"IsWheeled\":true,\"Icon\":\"trailer\"},{\"UnitCategoryId\":6,\"SleepingUnitId\":4,\"SleepingUnitName\":\"Truck/SUV/Van\",\"IsWheeled\":true,\"Icon\":\"trucksuvvan\"}],\"MinVehicleLengths\":[{\"SleepingUnitId\":1,\"MinVehicleLength\":10,\"MinVehicleName\":\">
                  10\",\"Icon\":\"10\"},{\"SleepingUnitId\":1,\"MinVehicleLength\":20,\"MinVehicleName\":\">
                  20\",\"Icon\":\"20\"},{\"SleepingUnitId\":1,\"MinVehicleLength\":30,\"MinVehicleName\":\">
                  30\",\"Icon\":\"30\"},{\"SleepingUnitId\":1,\"MinVehicleLength\":40,\"MinVehicleName\":\">
                  40\",\"Icon\":\"40\"},{\"SleepingUnitId\":1,\"MinVehicleLength\":50,\"MinVehicleName\":\">
                  50\",\"Icon\":\"50\"},{\"SleepingUnitId\":[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://oregonrdr.usedirect.com/oregonmetrordr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"2228":{"CityParkId":2228,"Name":"Sublimity","Latitude":44.8688,"Longitude":-122.7379,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"2229":{"CityParkId":2229,"Name":"Stanfield","Latitude":45.8054,"Longitude":-119.17,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"2230":{"CityParkId":2230,"Name":"Christmas
                  Valley","Latitude":43.2403,"Longitude":-120.6775,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"Small","PlaceId":0},"2231":{"CityParkId":2231,"Name":"Rockaway
                  Beach","Latitude":45.6232,"Longitude":-123.9101,"IsActive":true,"Entity[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://oregonrdr.usedirect.com/oregonmetrordr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":2,"RegionId":2,"Name":"Ambleside Regional Natural Area","ShortName":"Ambleside
                  NA","Description":"Ambleside Regional Natural Area","OrderBy":1,"AllowWebBooking":false,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"001","Address1":"2830
                  SE Ambleside Drive","Address2":"","City":"Gresham","State":"OR","Zip":"97080","VoicePhone":"503-797-1545","FaxPhone":"503-797-1849","UDate":"2021-12-17T08:41:36.863","UserId":1,"RowGuid":"a86f00fc-0056-4978-99a5-4ebe21aecf70","CatalogToken":null,"IsWebViewable":false,"Superintendent":null,"WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":45.48038198,"Longitude":-122.41380269,"IsAvailableForGreatwalk":false,"Parksize":"Small","ParkCategoryid":1,"ParkActivity":4,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":"","ShipAddress2":"","ShipCity":"","ShipState":"","ShipZip":"","UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":3,"RegionId":2,"Name":"Arrow
                  Creek Conservation Easement","ShortName":"Arrow Creek CE","Description":"Arrow
                  Creek Conservation Easement","OrderBy":2,"AllowWebBooking":false,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"002","Address1":"4503
                  SE 282nd Avenue","Address2":"","City":"Gresham","State":"OR","Zip":"97080","VoicePhone":"503-797-1545","FaxPhone":"503-797-1849","UDate":"2021-12-17T08:[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://oregonrdr.usedirect.com/oregonmetrordr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":6,"RegionId":2,"PlaceId":2,"Name":"Ambleside Regional
                  Natural Area SUP","ShortName":"Ambleside Regional Natural Area SUP","Description":"Ambleside
                  Regional Natural Area SUP","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"001","AllowWebBooking":false,"AutoOpenInventory":true,"UDate":"2021-07-16T16:57:29.147","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":2,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":7,"RegionId":2,"PlaceId":3,"Name":"Arrow
                  Creek Conservation Easement SUP","ShortName":"Arrow Creek Conservation Easement
                  SUP","Description":"Arrow Creek Conservation Easement SUP","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"002","AllowWebBooking":false,"AutoOpenInventory":true,"UDate":"2021-07-16T16:57:53.37","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":2,"MaxPersonOccupancy":0,"IsAvailableForGroup":fals[...]
