interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://mnrdr.usedirect.com/minnesotardr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.3528 ms size 10231 bytes on MNDNR-RDR2","UnitCategories":[{"UnitCategoryId":25,"UnitCategoryName":"Camping","HasEquipment":true,"Icon":"camping"},{"UnitCategoryId":19,"UnitCategoryName":"Day
                  Use Facilities","HasEquipment":false,"Icon":"dayusefacilities"},{"UnitCategoryId":24,"UnitCategoryName":"Equipment
                  Rental","HasEquipment":false,"Icon":"equipmentrental"},{"UnitCategoryId":20,"UnitCategoryName":"Group
                  Camping","HasEquipment":false,"Icon":"groupcamping"},{"UnitCategoryId":26,"UnitCategoryName":"Group
                  Centers","HasEquipment":false,"Icon":"groupcenters"},{"UnitCategoryId":23,"UnitCategoryName":"Lodging
                  - Group","HasEquipment":false,"Icon":"lodginggroup"},{"UnitCategoryId":17,"UnitCategoryName":"Lodging/Cabins","HasEquipment":false,"Icon":"lodgingcabins"},{"UnitCategoryId":28,"UnitCategoryName":"SFRA","HasEquipment":false,"Icon":"sfra"}],"NightlySleepingUnits":[{"UnitCategoryId":25,"SleepingUnitId":66,"SleepingUnitName":"5th
                  Wheel Trailer","IsWheeled":true,"Icon":"5thwheeltrailer"},{"UnitCategoryId":25,"SleepingUnitId":32,"SleepingUnitName":"Car/Truck/Van","IsWheeled":true,"Icon":"cartruckvan"},{"UnitCategoryId":25,"SleepingUnitId":18,"SleepingUnitName":"Motorhome
                  (RV)","IsWheeled":true,"Icon":"motorhomerv"},{"UnitCategoryId":25,"SleepingUnitId":69,"SleepingUnitName":"No
                  Equipment","IsWheeled":false,"Icon":"noequipment"},{"UnitCategoryId":25,"SleepingUnitId":25,"SleepingUnitName":"Pickup
                  Camper","IsWheeled":true,"Icon":"pickupcamper"},{"UnitCategoryId":25,"SleepingUnitId":20,"SleepingUnitName":"Pop-Up
                  Trailer","IsWheeled":true,"Icon":"popuptrailer"},{"UnitCategoryId":25,"SleepingUnitId":31,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":25,"SleepingUnitId":21,"SleepingUnitName":"Travel
                  Trailer","IsWheeled":true,"Icon":"traveltrailer"}],"MinVehicleLengths":[{"SleepingUnitId":32,"MinVehicleLength":10,"MinVehicleName":">
                  10","Icon":"10"},{"SleepingUnitId":32,"MinVehicleLength":20,"MinVehicleName":">
                  20","Icon":"20"},{"SleepingUnitId":32,"MinVehicleLength":30,"MinVehicleName":">
                  30","Icon":"30"},{"SleepingUnitId":32,"MinVehicleLength":40,"MinVehicleName":">
                  40","Icon":"40"},{"SleepingUnitId":32,"MinVehicleLength":50,"MinVehicleName":">
                  50","Icon":"50"},{"SleepingUnitId":32,"MinVehicleLength":60,"MinVehicleName":">
       [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://mnrdr.usedirect.com/minnesotardr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"1":{"CityParkId":1,"Name":"Shakopee","Latitude":44.797396,"Longitude":-93.527286,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"2":{"CityParkId":2,"Name":"Crookston","Latitude":47.774562,"Longitude":-96.609391,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3":{"CityParkId":3,"Name":"Minneapolis","Latitude":44.983334,"Longitude":-93.26667,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"4":{"CityParkId":4,"Name":"Saint
                  Paul","Latitude":44.9537,"Longitude":-93.09,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://mnrdr.usedirect.com/minnesotardr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":65,"RegionId":18,"Name":"Upper Sioux Agency State Park","ShortName":"Upper
                  Sioux Agency State Park","Description":"Upper Sioux Agency State Park","OrderBy":0,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"498","Address1":"5908
                  Highway 67","Address2":"","City":"Granite Falls","State":"MN","Zip":"56241","VoicePhone":"320-564-4777","FaxPhone":"3205644838","UDate":"2019-12-16T11:08:18.483","UserId":1,"RowGuid":"2bb6503f-8cca-4269-88a3-d0a003682ac1","CatalogToken":null,"IsWebViewable":true,"Superintendent":"SPK00277","WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":44.73698641,"Longitude":-95.46050889,"IsAvailableForGreatwalk":false,"Parksize":"medium","ParkCategoryid":1,"ParkActivity":1,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":"","ShipAddress2":"","ShipCity":"","ShipState":"","ShipZip":"","UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":66,"RegionId":18,"Name":"Blue
                  Mounds State Park","ShortName":"Blue Mounds State Park","Description":"Blue
                  Mounds State Park","OrderBy":0,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"434","Address1":"1410
                  161st Street","Address2":"","City":"Luverne","State":"MN","Zip":"56156","VoicePhone":"507-283-6050","FaxPhone":"","UDate":"2021-07-02T14:27:33.577","UserId":1,"RowGu[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://mnrdr.usedirect.com/minnesotardr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":749,"RegionId":18,"PlaceId":123,"Name":"Lower Campground","ShortName":"Lower
                  Campground","Description":"Lac Qui Parle Lower Campground","OrderBy":1,"FacilityType":2,"UsePrepend":true,"PrependCode":"426","AllowWebBooking":false,"AutoOpenInventory":true,"UDate":"2021-04-16T16:22:11.107","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":750,"RegionId":15,"PlaceId":127,"Name":"Backpack
                  Campsites","ShortName":"Backpack Campsites","Description":"Maplewood Backpack
                  Campsites","OrderBy":3,"FacilityType":2,"UsePrepend":true,"PrependCode":"193","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2022-04-06T15:05:59.83","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailable[...]
