interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2907/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":15,\"TOTAL_COUNT\":15},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100055,\"ActivityName\":\"SKIING\",\"FacilityActivityDescription\":\"Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100004,\"ActivityName\":\"RANGER
                  STATION\",\"FacilityActivityDescription\":\"Ranger Station\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":15,\"ActivityName\":\"HORSEBACK
                  RIDING\",\"FacilityActivityDescription\":\"Horseback Riding\",\"Fa[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A232463&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA7xXbW/aMBD+K5Y/0y4JJAW+ob6s1cpAg62qpikyySVYJHHmOGyo6n/fGRIGksMm
                  SuELse98z734zncvNGBpXnAFBe1/f6EsCKAo+CwB2qcRSwqgLcriWELMFPgBJIkfiCVIFiOHfekh
                  tShA+Tz[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/232463/month?start_date=2023-08-01T00%3A00%3A00.000Z
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA+yd3W8bxxXF3/tXCHq2gJ07u7NLv9GSGhdxpMIWGrQvBCMxKQGaVEXKrRD4f8/u
                  qB9OQbcnPnPnCzYM2JEvGfLs7sw5s3f29/Pp7fL9/X59WO1PX/58ahqRtp3109+XH5brzfKH9WZ9
                  WPt//fji38WL9d3py/9Uf[...]
[...]
