interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2991/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":20,\"TOTAL_COUNT\":20},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":100036,\"ActivityName\":\"BACKPACKING\",\"FacilityActivityDescription\":\"Backpacking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":100017,\"ActivityName\":\"BIRDING\",\"FacilityActivityDescription\":\"Birding\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":100041,\"ActivityName\":\"ROCK
                  CLIMBING\",\"FacilityActivityDescription\":\"Rock Climbing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":106,\"ActivityName\":\"SWIMMING\",\"FacilityActivityDescription\":\"Swimming\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":100015,\"ActivityName\":\"STAR
                  GAZING\",\"FacilityActivityDescription\":\"Star Gazing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"},{\"ActivityID\":26,\"ActivityName\":\"WILDLIFE
                  VIEWING\",\"FacilityActivityDescription\":\"Wildlife Viewing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10083840\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"\",\"AddressStateCode\":\"CA\",\"City\":\"Yosemite
                  National Park\",\"FacilityAddressID\":\"100838400\",\"FacilityAddressType\":\"Mailing\",\"FacilityID\":\"10083840\",\"FacilityStreetAddress1\":\"PO
                  Box 577\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"95389\"}],\"FacilityAdaAccess\":\"\",\"FacilityDescription\":\"<h2>Overview</h2>\\n<p>Yosemite
                  Creek Campground will be available by reservation only in 2022. No first come,
                  first serve sites are available.\_</p>\\n<p>Tucked away among the pines is
                  the hidden gem of Yosemite Creek campground. Accessing this campground is
                  an adventure down a 5-mile, single-lane dirt road. Motorhomes and trailers
                  are NOT allowed.</p>\\n<h2>Recreation</h2>\\n<p>Your adventure awaits! Hiking,
                  swimming, bouldering, napping (some of us are tired!), bird watching; the
                  possibilities are as great as your imagination. Be sure to bring bug spray
                  and sunscreen, plenty of water, and dress in layers as the weather can rapidly
                  change at this elevation.</p>\\n<h2>Facilities</h2>\\n<p>Yosemite Creek campground
                  is a primitive campground with vault toilets and <strong>no drinking water</strong>.
                  A seasonal creek runs through the campground but  <a href=\\\"https://www.nps.gov/articles/2wayspurifywater.htm#:~:text=Boiling%3A,is%20still%20cloudy%20or%20murky\\\"
                  rel=\\\"nofollow\\\"><strong>water must be boiled and/or treated</strong></a>
                  \ before drinking. Do not rely on creek water being available; <strong>bring
                  water!</strong></p>\\n<h2>Natural Features</h2>\\n<p>Granite boulders abound
                  and the peaceful Yosemite Creek meanders through the campground on its way
                  to Yosemite Valley. Bring your comfy chairs and hammocks and let the sounds
                  of nature whisk you away from the busyness of day-to-day life.</p>\\n\\n<h2>Nearby
                  Attractions</h2>\\n<p>Head to Tuolumne Meadows for breathtaking views and
                  a multitude of day hiking opportunities. Tenaya Lake is a great place to relax
                  and swim or canoe. Yosemite Valley offers restaurants, museums, bike paths,
                  day hikes and world-famous climbing. Don't forget about the Pioneer History
                  center in Wawona, and of course, the Mariposa Grove of giant sequoias. Be
                  prepared to make your own fun here-take delight in the quiet and give your
                  screens a rest.\_</p>\\n\",\"FacilityDirections\":\"<ul>\\n<li>From Lee Vining,
                  take Hwy 120 west to the Tioga Pass entrance of Yosemite National Park (YNP).
                  Continue onto the Tioga Pass Road for approximately 30 miles, and the entrance
                  to Yosemite Creek campground will be on your left.</li>\\n<li>From Manteca,
                  take Hwy 120 east to the Big Oak Flat entrance of YNP. Continue onto the Big
                  Oak Flat Road for approximately 8 miles to Crane Flat, where you will make
        [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A10004152&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA6xVXW+bMBT9K8jPSQAHQpK3KeqkSl0StZmmapqQMRfixWBmTNqs6n/fNflY0lFN
                  ivqGfS4+9/PcF8JZUdXCQE2m318I4xzqWiQSyJRkTNZAeoTluYacGYg5SBlztQXNcrSgA38YDofj
                  oR/5Y[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/10004152/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA9zVTWuDMBgA4Pt+RfDcQWzVjt5KkTFotUwvO4XMpl0gxkwTWSn973vjSr+2Qp03
                  D6K+H8mbB8Sdk9FcVVyzypnsHBdjL/Dx0D7TmnJB37ngmjfZ/eBYTPjKmZyqzxIlq1hZM6K3ikHJ
                  kpUIrqqQF0VG2BWlEeIsemhJwyhFcTR/Q1EchfNwlr6+zJpuRTOut6SkmssNVCZwEwxSoigUvMNT
                  Tr+INDlRrFCQmgQQ4vIi5A6cT0OlPjuW3R76ZzAJ8mCVyigozZnUVBA7X7Pfz7h2SlKsialsS1yz
                  UvLNh3ZgGRe7wQg/je7VO1Tf1ksg9pgolvE1z+4GXEyj6XO4AMY/1U5ex/Neq+HfavimWpJRiahc
                  oSXdomFnPa+VntcrvVFnPb+Vnt8rve5fbtBKL+iVnt9Zb9xKb9wrvQD9l8/6FEZq+FftH74BAAD/
                  /wMAKTgG+48HAAA=
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
[...]
