interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2907/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":15,\"TOTAL_COUNT\":15},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100055,\"ActivityName\":\"SKIING\",\"FacilityActivityDescription\":\"Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100004,\"ActivityName\":\"RANGER
                  STATION\",\"FacilityActivityDescription\":\"Ranger Station\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":15,\"ActivityName\":\"HORSEBACK
                  RIDING\",\"FacilityActivityDescription\":\"Horseback Riding\",\"Fa[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A260552&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA7yXb2/TMBDGv4qVVyAN0RUVob2rRhGT6Kjaignxoro618SqYwfb6RZNfHfsjv4J
                  crJVXHlZ+zn/7s72U+cx4VCUVji0ydWPxwQ4R2vFUmJylaxAWkwuErAW3UKkfqj/vjcY9PdjCoog
                  nGq+rtl[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/260552/month?start_date=2023-08-01T00%3A00%3A00.000Z
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA+ydX0/bSBTFv0qU5yDNnRA74S1L2Wq1ECRAW3VfIm/iUkvBySYOu6ja7752Ai3+
                  c2c82KT25EhIRdyZMFzHPr85vZn7rTvzHlabIPI33bNvXRLkyNHgNPnee/SChfdXsAiiYB+VQvZP
                  xPBE0J0QZ7uvP7tn3Rt/4[...]
[...]
