interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/234779?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[{"ActivityID":5,"ActivityName":"BIKING","FacilityActivityDescription":"Biking","FacilityActivityFeeDescription":"","FacilityID":"234779"},{"ActivityID":6,"ActivityName":"BOATING","FacilityActivityDescription":"Boating","FacilityActivityFeeDescription":"","FacilityID":"234779"},{"ActivityID":9,"ActivityName":"CAMPING","FacilityActivityDescription":"Camping","FacilityActivityFeeDescription":"Camping","FacilityID":"234779"},{"ActivityID":11,"ActivityName":"FISHING","FacilityActivityDescription":"Fishing","FacilityActivityFeeDescription":"","FacilityID":"234779"},{"ActivityID":14,"ActivityName":"HIKING","FacilityActivityDescription":"Hiking","FacilityActivityFeeDescription":"","FacilityID":"234779"},{"ActivityID":15,"ActivityName":"HORSEBACK
                  RIDING","FacilityActivityDescription":"Horseback Riding","FacilityActivityFeeDescription":"","FacilityID":"234779"},{"ActivityID":24,"ActivityName":"VISITOR
                  CENTER","FacilityActivityDescription":"Emergency Services","FacilityActivityFeeDescription":"","FacilityID":"234779"}],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"OR","City":"Prineville","FacilityAddressID":"20440174","FacilityAddressType":"Default","FacilityID":"234779","FacilityStreetAddress1":"P.O.
                  Box 739","FacilityStreetAddress2":"","FacilityStreetAddress3":"","LastUpdatedDate":"2023-04-22","PostalCode":"97754"}],"FacilityAdaAccess":"N","FacilityDescription":"<h2>Overview</h2>\nHaystack
                  Campground (East Shore) is located in central Oregon''s scenic Crooked River
                  National Grassland.  With a view of Mt. Jefferson in the distance, visitors
                  can enjoy the beautiful vistas while relaxing in the high desert.<h2>Recreation</h2>\nFishing
                  is a popular pastime at the reservoir, which is regularly stocked.  Largemouth
                  bass, rainbow trout, kokanee, along with crappie and catfish[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A234779&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","asset_id":"234779","asset_name":"HAYSTACK
                  CAMPGROUND (EAST SHORE)","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":11,"attribute_name":"Checkin
                  Time","attribute_value":"2:00 PM"},{"attribute_category":"site_details","attribute_id":77,"attribute_name":"Shade","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":56,"attribute_name":"Min
                  Num of People","attribute_value":"1"},{"attribute_category":"site_details","attribute_id":10,"attribute_name":"Capacity/Size
                  Rating","attribute_value":"Single"},{"attribute_category":"site_details","attribute_id":79,"attribute_name":"Site
                  Access","attri[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/234779/month?start_date=2023-10-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"92071":{"availabilities":{"2023-10-01T00:00:00Z":"Not
                  Reservable","2023-10-02T00:00:00Z":"Not Reservable","2023-10-03T00:00:00Z":"Not
                  Reservable","2023-10-04T00:00:00Z":"Not Reservable","2023-10-05T00:00:00Z":"Not
                  Reservable","2023-10-06T00:00:00Z":"Not Reservable","2023-10-07T00:00:00Z":"Not
                  Reservable","2023-10-08T00:00:00Z":"Not Reservable","2023-10-09T00:00:00Z":"Not
                  Reservable","2023-10-10T00:00:00Z":"Not Reservable","2023-10-11T00:00:00Z":"Not
                  Reservable","2023-10-12T00:00:00Z":"Not Reservable","2023-10-13T00:00:00Z":"Not
                  Reservable","2023-10-14T00:00:00Z":"Not Reservable"},"campsite_id":"92071","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"STANDARD
                  NONELECTRIC","capacity_rating":"Single","loop":"HAYSTACK CAMPGROUND (EAST
                  SHORE)","max_num_people":6,"min_num_people":1,"quantities":{"2023-10-01T00:00:00Z":1,"2023-10-02T00:00:00Z":1,"2023-10-03T00:00:00Z":1,"2023-10-04T00:00:00Z":1,"2023-10-05T00:00:00Z":1,"2023-10-06T00:00:00Z":1,"2023-10-07T00:00:00Z":1,"2023-10-08T00:00:00Z":1,"2023-10-09T00:00:00Z":1,"2023-10-10T00:00:00Z":1,"2023-10-11T00:00:00Z":1,"2023-10-12T00:00:00Z":1,"2023-10-13T00:00:00Z":1,"2023-10-14T00:00:00Z":1},"site":"007","supplemental_camping":null,"type_of_use":"Overnight"},"92142":{"availabilities":{"2023-10-01T00:00:00Z":"Available","2023-10-02T00:00:00Z":"Available","2023-10-03T00:00:00Z":"Available","2023-10-04T00:00:00Z":"Available","2023-10-05T00:00:00Z":"Available","2023-10-06T00:00:00Z":"Available","2023-10-07T00:00:00Z":"Available","2023-10-08T00:00:00Z":"Available","2023-10-09T00:00:00Z":"Available","2023-10-10T00:00:00Z":"Available","2023-10-11T00:00:00Z":"Available","2023-10-12T00:00:00Z":"Available","2023-10-13T00:00:00Z":"Available","2023[...]
