interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/hotels/yellowstonenationalparklodges?date=2023-09-01&limit=31&rate_code=INTERNET
      response:
          body:
              string:
                  '{"availability":{"09\/01\/2023":{"YLCL":{"hotelCode":"YLCL","status":"OPEN","message":"","min":259,"max":259,"perGuests":{"1":{"a":11,"a2":11,"b":259,"b2":259,"m":259,"m2":259,"r":"INTERNET","r2":"INTERNET","s":"black"},"2":{"a":11,"a2":11,"b":259,"b2":259,"m":259,"m2":259,"r":"INTERNET","r2":"INTERNET","s":"black"},"3":{"a":11,"a2":11,"b":289,"b2":289,"m":289,"m2":289,"r":"INTERNET","r2":"INTERNET","s":"black"},"4":{"a":11,"a2":11,"b":309,"b2":309,"m":309,"m2":309,"r":"INTERNET","r2":"INTERNET","s":"black"},"5":{"a":5,"a2":5,"b":739,"b2":739,"m":739,"m2":739,"r":"INTERNET","r2":"INTERNET","s":"black"},"6":{"a":5,"a2":5,"b":739,"b2":739,"m":739,"m2":739,"r":"INTERNET","r2":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Canyon
                  Lodge Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/19\/2023","available":{"1":11,"2":11,"3":11,"4":11,"5":5,"6":5},"mins":{"1":259,"2":259,"3":289,"4":309,"5":739,"6":739},"min":259}},"rates2":{"INTERNET":{"code":"INTERNET","title":"Canyon
                  Lodge Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/19\/2023","available":{"1":11,"2":11,"3":11,"4":11,"5":5,"6":5},"mins":{"1":259,"2":259,"3":289,"4":309,"5":739,"6":739},"min":259}}},"YLGV":{"hotelCode":"YLGV","status":"OPEN","message":"","min":257,"max":257,"perGuests":{"1":{"a":11,"a2":11,"b":257,"b2":257,"m":257,"m2":257,"r":"INTERNET","r2":"INTERNET","s":"black"},"2":{"a":11,"a2":11,"b":257,"b2":257,"m":257,"m2":257,"r":"INTERNET","r2":"INTERNET","s":"black"},"3":{"a":11,"a2":11,"b":277,"b2":277,"m":277,"m2":277,"r":"INTERNET","r2":"INTERNET","s":"black"},"4":{"a":11,"a2":11,"b":297,"b2":297,"m":297,"m2":297,"r":"INTERNET","r2":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Grant
                  Village Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/26\/2023","available":{"1":11,"2":11,"3":11,"4":11},"mins":{"1":257,"2":257,"3":277,"4":297},"min":257}},"rates2":{"INTERNET":{"code":"INTERNET","title":"Grant
                  Village Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/26\/2023","available":{"1":11,"2":11,"3":11,"4":11},"mins":{"1":257,"2":257,"3":277,"4":297},"min":257}}},"YLMH":{"hotelCode":"YLMH","status":"OPEN","message":"","min":137,"max":137,"perGuests":{"1":{"a":11,"a2":11,"b":137,"b2":137,"m":137,"m2":137,"r":"INTERNET","r2":"INTERNET","s":"black"},"2":{"a":11,"a2":11,"b":137,"b2":137,"m":137,"m2":137,"r":"INTERNET","r2":"INTERNET","s":"black"},"3":{"a":11,"a2":11,"b":248,"b2":248,"m":248,"m2":248,"r":"INTERNET","r2":"INTERNET","s":"black"},"4":{"a":11,"a2":11,"b":268,"b2":268,"m":268,"m2":268,"r":"INTERNET","r2":"INTERNET","s":"black"},"5":{"a":3,"a2":3,"b":325,"b2":325,"m":325,"m2":325,"r":"INTERNET","r2":"INTERNET","s":"black"},"6":{"a":3,"a2":3,"b":345,"b2":345,"m":345,"m2":345,"r":"INTERNET","r2":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Mammoth
                  Hotel Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"02\/12\/2023","available":{"1":11,"2":11,"3":11,"4":11,"5":3,"6":3},"mins":{"1":137,"2":137,"3":248,"4":268,"5":325,"6":345},"min":137},"FROSTY":{"code":"FROSTY","title":"Mammoth
                  Frosty Fun Package","description":" The Mammoth Hotel Frosty Fun Package includes
                  two nights of discounted overnight accommodations, breakfast each morning,
                  welcome gift for each person, and one Snow Card per adult that provides an
                  additional 10% discount on select gift shop items, tours, rentals, and additional
                  meals.  Package may be extended for additional nights in the s[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/rooms/yellowstonenationalparklodges/YLYB:RV?date=2023-09-01&limit=31
      response:
          body:
              string:
                  '{"rates":{"INTERNET":{"code":"INTERNET","title":"Bridge Bay CG Internet
                  Rate","description":" Standard Rate Site ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/19\/2023"}},"availability":{"09\/01\/2023":{"date":"09\/01\/2023","status":"OPEN","message":"","rooms":[{"hotelCode":"YLYB:RV","roomCode":"M20T12","rateCode":"INTERNET","quantity":81,"available":11,"available2":11,"price":33,"additional":0,"restrictions":{"S_OPEN":true},"updated":"02\/12\/2023  00:11","group":["RV20","TENT8","TENT12"],"type":"rv","base":1,"max":6,"regular_price":33,"regular_additional":0},{"hotelCode":"YLYB:RV","roomCode":"M20VT2","rateCode":"INTERNET","quantity":2,"available":2,"available2":2,"price":33,"additional":0,"restrictions":{"S_OPEN":true},"updated":"02\/12\/2023  00:11","group":["RV20","TENT8","TENT12"],"type":"rv","base":1,"max":6,"regular_price":33,"regular_additional":0},{"hotelCode":"YLYB:RV","roomCode":"M30T12","rateCode":"INTERNET","quantity":102,"available":11,"available2":11,"price":33,"additional":0,"restrictions":{"S_OPEN":true},"updated":"02\/12\/2023  00[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/rooms/yellowstonenationalparklodges/YLYC:RV?date=2023-09-01&limit=31
      response:
          body:
              string:
                  '{"rates":{"INTERNET":{"code":"INTERNET","title":"Canyon CG Internet
                  Rate","description":" Standard Rate Site ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"05\/26\/2023"}},"availability":{"[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/rooms/yellowstonenationalparklodges/YLYF:RV?date=2023-09-01&limit=31
      response:
          body:
              string:
                  '{"rates":{"INTERNET":{"code":"INTERNET","title":"Fishing Bridge RV
                  Internet Rate","description":"Fishing Bridge RV Internet Rate","category":"RACK","minstay":1,"maxstay":14,"start":"05\/12\/2023"}},"a[...]
