interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2907/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":15,\"TOTAL_COUNT\":15},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":11,\"ActivityName\":\"FISHING\",\"FacilityActivityDescription\":\"Fishing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":10,\"ActivityName\":\"INTERPRETIVE
                  PROGRAMS\",\"FacilityActivityDescription\":\"Interpretive Programs\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":26,\"ActivityName\":\"WILDLIFE
                  VIEWING\",\"FacilityActivityDescription\":\"Wildlife Viewing[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A260552&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA7yX32vbMBDH/xXhpw06lmVkjLyFNGOFpTNJWBl7CBf5YovIkifJaU3Z/z45bX64
                  yE7Lrnu09JU+d+e7k3QfccgLKxzaaPjrPgLO0VqxkhgNozVIi9FFBNaiW4rED/U/9QaD/mFMQV4L
                  Z5pvKjb[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/260552/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA+yWUWvbMBDHv4rRsw06tW6avI2QwSA4kOQlezGarbQCR/Zs2SyUffdJTtrG2+7a
                  QJ+KwWCjs46//77T755YJg9Vo61q2OyJAYc7MY1v/bPspC7kD11oq09RwcVNxKcRhy3ns/76zmYs
                  2a1Z+BoUVPCGCt5SwZgK3[...]
[...]
