interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities?activity=CAMPING&full=true&offset=0&query=Fire+Tower&state=CA
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":18,\"TOTAL_COUNT\":18},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"Fire
                  Tower\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":5,\"ActivityName\":\"BIKING\",\"FacilityActivityDescription\":\"Mountain
                  Biking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234262\"},{\"ActivityID\":26,\"ActivityName\":\"WILDLIFE
                  VIEWING\",\"FacilityActivityDescription\":\"Wildlife Viewing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234262\"},{\"ActivityID\":22,\"ActivityName\":\"WINTER
                  SPORTS\",\"FacilityActivityDescription\":\"Cross Country Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234262\"},{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"234262\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"Camping\",\"FacilityID\":\"234262\"}],\"CAMPSITE\":[],\"EVENT\":[],\"Enabled\":true,\"FACILITYADDRESS\":[{\"AddressCountryCode\":\"USA\",\"AddressStateCode\":\"CA\",\"City\":\"GASQUET\",\"FacilityAddressID\":\"20439622\",\"FacilityAddressType\":\"Default\",\"FacilityID\":\"234262\",\"FacilityStreetAddress1\":\"Smith
                  River National Recreation Area US Forest Service P.O. Box 228\",\"FacilityStreetAddress2\":\"\",\"FacilityStreetAddress3\":\"\",\"LastUpdatedDate\":\"2023-04-22\",\"PostalCode\":\"95543\"}],\"FacilityAdaAccess\":\"N\",\"FacilityDescription\":\"<h2>Overview</h2>\\nOn
                  a high, narrow mountain ridge at 5,280 feet, Bear Basin Lookout and Pierson
                  Cabin offer visitors an awe-inspiring experience and a quiet haven away from
                  crowds. Excellent views of the Siskiyou Wilderness to the east and the Pacific
                  Ocean to the west are why visitors love staying in the heart of the Six Rivers
                  National Forest of northern California. \\n<br/><br/>\\nThe current lookout
    [...]
