interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2907/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":15,\"TOTAL_COUNT\":15},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":14,\"ActivityName\":\"HIKING\",\"FacilityActivityDescription\":\"Hiking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100055,\"ActivityName\":\"SKIING\",\"FacilityActivityDescription\":\"Skiing\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":100004,\"ActivityName\":\"RANGER
                  STATION\",\"FacilityActivityDescription\":\"Ranger Station\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"232462\"},{\"ActivityID\":15,\"ActivityName\":\"HORSEBACK
                  RIDING\",\"FacilityActivityDescription\":\"Horseback Riding\",\"Fa[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A232462&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA7RX/W7iRhB/lZX/aikE2+AEkPpHLsldI+UDBXqnqq2sZT3Y26y9vvUaEkV5lz5L
                  n6yzxubgstAT9JCQvTuz85uZnS+/OIymecE1FM7o9xeHMgZFwWcCnJEzp6IAp+3QOFYQUw0hAyFC
                  JhegaIw[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/232462/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string: !!binary |
                  H4sIAAAAAAAAA+xaXW/aMBT9KyjPIN0bh4/wNrE+TKqo1CJN3UvkEbezFJIsH2wI8d/nJNVKGE6K
                  vIoUrhQp4HuNgn2OOfdyttaSr+JUZiK1plsLHXtU3Pmay4B/l4HMZBWxwWYDcAeAC4BpeX2zpta9
                  SEWyFr7Vf82wWzNYa4bTm[...]
[...]
