interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/252037?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[{"ActivityID":8,"ActivityName":"HISTORIC & CULTURAL SITE","FacilityActivityDescription":"Archeological
                  Sites","FacilityActivityFeeDescription":"","FacilityID":"252037"},{"ActivityID":9,"ActivityName":"CAMPING","FacilityActivityDescription":"Camping","FacilityActivityFeeDescription":"Camping","FacilityID":"252037"}],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"CA","City":"Sierraville","FacilityAddressID":"20440397","FacilityAddressType":"Default","FacilityID":"252037","FacilityStreetAddress1":"SIERRAVILLE
                  RANGER DISTRICT","FacilityStreetAddress2":"317 SOUTH LINCOLN ST (HWY 89)","FacilityStreetAddress3":"PO
                  BOX 95","LastUpdatedDate":"2023-04-22","PostalCode":"96126"}],"FacilityAdaAccess":"N","FacilityDescription":"<h2>Overview</h2>\nSardine
                  Peak is a forest fire lookout tower that was constructed in 1935 by the Civilian
                  Conservation Corps.  It is a three story enclosed tower with external stairs.  Presently
                  the top room or observation cab is the only rentable space.  Sardine sits
                  at an elevation of 8,138 feet in the Eastern Sierra Nevada Mountains of Tahoe
                  National Forest, approximately 20 miles from Truckee, California.[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A252037&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","asset_id":"252037","asset_name":"SARDINE
                  PEAK LOOKOUT","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":9,"attribute_name":"Campfire
                  Allowed","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":12,"attribute_name":"Checkout
                  Time","attribute_value":"12:00 PM"},{"attribute_category":"site_details","attribute_id":39,"attribute_name":"Hike
                  In Distance to Site","attribute_value":"0"},{"attribute_category":"site_details","attribute_id":65,"attribute_name":"Pets
                  Allowed","attribute_value":"Yes"},{"attribute_category":"site_details","attribute_id":79,"attribute_name":"Site
         [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/252037/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"100238":{"availabilities":{},"campsite_id":"100238","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"LOOKOUT","capacity_rating":"","loop":"SARDINE
                  PEAK LOOKOUT","max_num_people":4,"min_num_people":1,"quantities":{},"site":"01","supplemental_camping":null,"type_of_use":"Overnight"}},"count":1}

                  '
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
version: 1
