interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.3601 ms size 17084 bytes on CALIRDR1","UnitCategories":[{"UnitCategoryId":1,"UnitCategoryName":"Camping","HasEquipment":true,"Icon":"camping"},{"UnitCategoryId":7,"UnitCategoryName":"DailyUse","HasEquipment":false,"Icon":"dailyuse"},{"UnitCategoryId":1016,"UnitCategoryName":"Equestrian","HasEquipment":true,"Icon":"equestrian"},{"UnitCategoryId":2,"UnitCategoryName":"Group
                  Camping","HasEquipment":false,"Icon":"groupcamping"},{"UnitCategoryId":1015,"UnitCategoryName":"Hook
                  Up Camping","HasEquipment":true,"Icon":"hookupcamping"},{"UnitCategoryId":1008,"UnitCategoryName":"Lodging","HasEquipment":false,"Icon":"lodging"},{"UnitCategoryId":1014,"UnitCategoryName":"Remote
                  Camping","HasEquipment":true,"Icon":"remotecamping"}],"NightlySleepingUnits":[{"UnitCategoryId":1,"SleepingUnitId":75,"SleepingUnitName":"RV/Motorhome","IsWheeled":true,"Icon":"rvmotorhome"},{"UnitCategoryId":1,"SleepingUnitId":76,"SleepingUnitName":"Tent
                  Only","IsWheeled":false,"Icon":"tentonly"},{"UnitCategoryId":1,"SleepingUnitId":83,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":1,"SleepingUnitId":87,"SleepingUnitName":"Trailer
                  Only","IsWheeled":true,"Icon":"traileronly"},{"UnitCategoryId":1,"SleepingUnitId":74,"SleepingUnitName":"Trailer","IsWheeled":true,"Icon":"trailer"},{"UnitCategor[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/citypark
      response:
          body:
              string:
                  "{\"1\":{\"CityParkId\":1,\"Name\":\"Hearst Castle\",\"Latitude\":35.58361111,\"Longitude\":-121.1205556,\"IsActive\":true,\"EntityType\":\"Park\",\"EnterpriseId\":1,\"ParkSize\":\"Medium\\r\\n\",\"PlaceId\":1},\"2\":{\"CityParkId\":2,\"Name\":\"Anza-Borrego
                  Desert SP\",\"Latitude\":33.25690486,\"Longitude\":-116.4060118,\"IsActive\":true,\"EntityType\":\"Park\",\"EnterpriseId\":1,\"ParkSize\":\"Medium\",\"PlaceId\":2},\"3\":{\"CityParkId\":3,\"Name\":\"Big
                  Basin Redwoods SP\",\"Latitude\":37.172907263702641,\"Longitude\":-122.21154785155761,\"IsActive\":true,\"EntityType\":\"Park\",\"EnterpriseId\":1,\"ParkSize\":\"Small\",\"PlaceId\":3},\"5\":{\"CityParkId\":5,\[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/places
      response:
          body:
              string:
                  "[{\"PlaceId\":1,\"RegionId\":30,\"Name\":\"Hearst Castle\",\"ShortName\":\"Hearst
                  Castle\",\"Description\":\"Hearst Castle\",\"OrderBy\":0,\"AllowWebBooking\":true,\"InventoryLocking\":false,\"InventoryLockDuration\":0,\"UsePrepend\":true,\"PrependCode\":\"494\",\"Address1\":\"750
                  Hearst Castle Road\",\"Address2\":null,\"City\":\"San Simeon\",\"State\":\"CA\",\"Zip\":\"93452\",\"VoicePhone\":\"805-927-2035\",\"FaxPhone\":null,\"UDate\":\"2015-06-26T14:22:27.67\",\"UserId\":1,\"RowGuid\":\"8fbf79fc-4e7d-4715-a9cc-589e4fb1bae5\",\"CatalogToken\":null,\"IsWebViewable\":true,\"Superintendent\":\"120102\",\"WeekdayCheckdays\":0,\"WeekendCheckdays\":0,\"Latitude\":35.58361111,\"Longitude\":-121.1205556,\"IsAvailableForGreatwalk\":false,\"Parksize\":\"Medium\",\"ParkCategoryid\":1,\"ParkActivity\":2,\"ParkPopularity\":0,\"SkipNightlyUnitsMaxOccupancyCheck\":0,\"SkipGroupByFacility\":0,\"IsAvailableForFixedgreatwalk\":false,\"ShipAddress1\":null,\"ShipAddress2\":null,\"ShipCity\":null,\"ShipState\":null,\"ShipZip\":null,\"UseBillingAddress\":false,\"NumberofPerson\":0,\"FacilityDefaultZoom\":0},{\"PlaceId\":2,\"RegionId\":5,\"Name\":\"Anza-Borrego
                  Desert SP\",\"ShortName\":\"Anza-Borrego Desert SP\",\"Description\":\"Anza-borrego
                  Desert State Park\",\"OrderBy\":1,\"AllowWebBooking\":true,\"InventoryLocking\":false,\"InventoryLockDuration\":0,\"UsePrepend\":true,\"PrependCode\":\"622\",\"Address1\":\"200
                  PALM CANYON DRIVE\",\"Address2\":\"\",\"City\":\"BORREGO SPRINGS\",\"State\":\"CA\",\"Zip\":\"92004\",\"VoicePhone\":\"760-767-5[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/facilities
      response:
          body:
              string:
                  "[{\"FacilityId\":327,\"RegionId\":5,\"PlaceId\":2,\"Name\":\"Borrego
                  Palm Canyon (sites 53-89)\",\"ShortName\":\"Borrego Palm Canyon (sites 53-89)\",\"Description\":\"Borrego
                  Palm Canyon (sites 53-89)\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"622\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2017-12-04T10:04:42.14\",\"RowGuid\":\"00000000-0000-0000-0000-000000000000\",\"FacilityTypeNew\":1,\"MaxPersonOccupancy\":0,\"IsAvailableForGroup\":false,\"IsAvailableForPatron\":false,\"IsAvailableForEducationalGorup\":false,\"IsAvailableForCto\":false,\"IsCaptcha\":false,\"FacilityBehaviourType\":0,\"EnableCheckOccupancy\":false,\"IsTrail\":null,\"TimebaseMaxHours\":0,\"TimebaseMinHours\":0,\"TimebaseDuration\":0},{\"FacilityId\":329,\"RegionId\":5,\"PlaceId\":2,\"Name\":\"Tamarisk
                  Grove Campground\",\"ShortName\":\"Tamarisk Grove Campground\",\"Description\":\"Tamarisk
                  Grove Campground\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"622\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2017-12-04T10:05:46.503\",\"RowGuid\":\"00000000-0000-0000-0000-000000000000\",\"FacilityTypeNew\":1,\"MaxPersonOccupancy\":0,\"IsAvailableFor[...]
