interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://manitoba.goingtocamp.com/api/resourceLocation
      response:
          body:
              string:
                  "[{\"resourceLocationId\":-2147483632,\"timeZoneOffset\":-300.0,\"similarExperiences\":[],\"localizedValues\":[{\"cultureName\":\"en-CA\",\"shortName\":\"Winnipeg
                  Beach\",\"fullName\":\"Winnipeg Beach Campground\",\"description\":\"Winnipeg
                  Beach is a terrific place to celebrate summer and has been since the 1900s.
                  Of the many recreation and railway-related structures built by the Canadian
                  Pacific Railway (CPR) at Winnipeg Beach, only the steel water tower survives.
                  Out of use, the structure is the best example of only five surviving riveted-steel
                  water towers in Manitoba. As in its heyday, the tower remains a prominent
            [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://manitoba.goingtocamp.com/api/maps
      response:
          body:
              string:
                  "[{\"isOrganizationRoot\":false,\"mapId\":-2147483511,\"versionId\":-2147465109,\"versionDate\":\"2023-02-10T23:38:00.033Z\",\"mapType\":3,\"isDisabled\":false,\"xDimension\":800,\"yDimension\":600,\"localizedValues\":[{\"cultureName\":\"en-CA\",\"title\":\"Big
                  Whiteshell\",\"description\":\"Big Whiteshell Lake\",\"mapImageUid\":\"fef0badc-a9d1-4a57-8a4f-4d8b3782b38e\",\"mapImageFormat\":4},{\"cultureName\":\"fr-CA\",\"title\":\"Big
                  Whiteshell\",\"description\":\"Lac Big Whiteshell\",\"mapImageUid\":\"b5f9aba9-9f09-454e-b91d-83de8e007b05\",\"mapImageFormat\":4}],\"resourceLocationId\":-2147483602,\"isResourceLocationRootMap\":false,\"mapResources\":[],\"mapAccessPointResources\":[],\"mapLegendItems\":[],\"mapLinks\":[{\"childMapId\":-2147483510,\"localizationPoint\":{\"justification\":0,\"xCoordinate\":420,\"yCoordinate\":470,\"rValue\":0,\"gValue\":0,\"bValue\":0},\"areaPoints\":[{\"order\":0,\"xCoordinate\":501,\"yCoordinate\":561},{\"order\":1,\"xCoordinate\":490,\"yCoordinate\":560},{\"order\":2,\"xCoordinate\":477,\"yCoordinate\":559},{\"order\":3,\"xCoordinate\":468,\"yCoordinate\":555},{\"order\":4,\"xCoordinate\":462,\"yCoordinate\":551},{\"order\":5,\"xCoordinate\":459,\"yCoordinate\":543},{\"order\":6,\"xCoordinate\":456,\"yCoordinate\":529},{\"order\":7,\"xCoordinate\":453,\"yCoordinate\":518},{\"order\":8,\"xCoordinate\":450,\"yCoordinate\":499},{\"order\":9,\"xCoordinat[...]
