interactions:
    - request:
          body: '{"FacilityId": 543, "StartDate": "06-05-2023", "EndDate": "06-07-2023"}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://calirdr.usedirect.com/rdr/rdr/search/grid
      response:
          body:
              string:
                  '{"Message":"Built in 12.3075 ms size 58774 bytes on CALIRDR2","Filters":{"InSeasonOnly":"True","WebOnly":"True"},"UnitTypeId":0,"StartDate":"2023-06-05","EndDate":"2023-06-07","NightsRequested":3,"NightsActual":3,"TodayDate":"2023-02-11","TimeZone":"Pacific
                  Standard Time","TimeStamp":"2023-02-11 13:02:55","MinDate":"2023-02-11","MaxDate":"2023-08-11","AvailableUnitsOnly":false,"UnitSort":"orderby","TimeGrid":false,"ForUnit":false,"UnitId":0,"TimeBetween":"","TimeBetweenEval":"n/a","Facility":{"FacilityId":543,"Name":"Meadows
                  Loop (sites 92-148)","Description":"Meadows Hookup Loop","FacilityType":2,"FacilityBehaviourType":0,"FacilityMapSize":false,"FacilityImage":"California/Facilities/ML_678_Meadows_Loop.jpg","FacilityImageVBT":"https://cali-content.usedirect.com/Images/California/Facilities/ML_678_Meadows_Loop.jpg","DatesInSeason":3,"DatesOutOfSeason":0,"SeasonDates":{"2023-06-05T00:00:00":true,"2023-06-06T00:00:00":true,"2023-06-07T00:00:00":true},"TrafficStatuses":{},"UnitCount":45,"AvailableUnitCount":44,"SliceCount":135,"AvailableSliceCount":132,"Restrictions":{"FutureBookingStarts":"2023-02-13T00:00:00-08:00","FutureBookingEnds":"2023-08-11T00:00:00-07:00","MinimumStay":1,"MaximumStay":14,"IsRestrictionValid":true,"Time":"0001-01-01T00:00:00"},"Units":{"8029.1":{"UnitId":50664,"Name":"Campsite
                  #M92","ShortName":"M92","RecentPopups":0,"IsAda":false,"AllowWebBooking":true,"MapInfo":{"UnitImage":"California/Units/tent","UnitImageVBT":"https://cali-content.usedirect.com/images/California/Units/tent.png","ImageCoordinateX":324,"ImageCoordinateY":20,"ImageWidth":0,"ImageHeight":0,"FontSize":0.0,"Latitude":0.0,"Longitude":0.0},"IsWebViewable":true,"IsFiltered":false,"UnitCategoryId":1,"SleepingUnitIds":[74,75,79,83],"UnitTypeGroupId":1,"UnitTypeId":4303,"UseType":4,"VehicleLength":36,"OrderBy":92,"SliceCount":3,"AvailableCount":3,"IsFavourite":false,"Slices":{"2023-06-05T00:00:00":{"Date":"2023-06-05","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-06-06T00:00:00":{"Date":"2023-06-06","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-06-07T00:00:00":{"Date":"2023-06-07","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false}},"OrderByRaw":8029,"StartTime":null,"EndTime":null},"8074.1":{"UnitId":50663,"Name":"Campsite
                  #M93","ShortName":"M93","RecentPopups":0,"IsAda":false,"AllowWebBooking":true,"MapInfo":{"UnitImage":"California/Units/tent","UnitImageVBT":"https://cali-content.usedirect.com/images/California/Units/tent.png","ImageCoordinateX":270,"ImageCoordinateY":38,"ImageWidth":0,"ImageHeight":0,"FontSize":0.0,"Latitude":0.0,"Longitude":0.0},"IsWebViewable":true,"IsFiltered":false,"UnitCategoryId":1,"SleepingUnitIds":[74,75,79,83],"UnitTypeG[...]
