interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/citypark/namecontains/Millerton%20Lake%20SRA
      response:
          body:
              string: '[{"CityParkId":678,"Name":"Millerton Lake SRA","Latitude":37.02130207,"Longitude":-119.6680397,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":678}]'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
version: 1
