interactions:
    - request:
          body:
          headers:
          method: GET
          uri: https://webapi.xanterra.net/v1/api/availability/hotels/yellowstonenationalparklodges?date=2022-12-01&limit=31&rate_code=INTERNET
      response:
          body:
              string: '{"availability":{"12\/01\/2022":{"YLCL":{"hotelCode":"YLCL","status":"CLOSED","message":"Canyon Lodge is closed for the season from 10\/10\/2022 to 05\/18\/2023","min":0,"max":0,"perGuests":{"1":{"a":0,"a2":0,"b":0,"b2":0,"m":0,"m2":0,"r":"ALL","r2":"ALL","s":"closed"}},"rates":[],"rates2":[]},"YLGV":{"hotelCode":"YLGV","status":"CLOSED","message":"Grant Village is closed for the season from 10\/02\/2022 to 05\/25\/2023","min":0,"max":0,"perGuests":{"1":{"a":0,"a2":0,"b":0,"b2":0,"m":0,"m2":0,"r":"ALL","r2":"ALL","s":"closed"}},"rates":[],"rates2":[]},"YLMH":{"hotelCode":"YLMH","status":"CLOSED","message":"Mammoth Hotel  is closed for the season from 11\/27\/2022 to 12\/14\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"a2":0,"b":0,"b2":0,"m":0,"m2":0,"r":"ALL","r2":"ALL","s":"closed"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Mammoth Hotel Internet Rate","description":" Standard Rate ROOM ONLY","category":"RACK","minstay":1,"maxstay":14,"start":"12\/15\/2022","available":{"1":0},"mins":{"1":0},"min":0},"FROSTY":{"code":"FROSTY","title":"Mammoth Frosty Fun Package","description":" The Mammoth Hotel Frosty Fun Package includes two nights of discounted overnight accommodations, breakfast each morning, welcome gift for each person, and one Snow Card per adult that provides an additional 10% discount on select gift shop items, tours, rentals, and additional meals.  Package may be extended for additional nights in the same room type only.  Only one Frosty Fun package may be booked per stay.  Other restrictio[...]
