interactions:
    - request:
          body: '{"FacilityId": 1121, "StartDate": "06-01-2023", "EndDate": "06-30-2023"}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://calirdr.usedirect.com/rdr/rdr/search/grid
      response:
          body:
              string:
                  '{"Message":"Built in 5.2953 ms size 40791 bytes on CALIRDR1","Filters":{"InSeasonOnly":"True","WebOnly":"True"},"UnitTypeId":0,"StartDate":"2023-06-01","EndDate":"2023-06-30","NightsRequested":30,"NightsActual":30,"TodayDate":"2023-02-11","TimeZone":"Pacific
                  Standard Time","TimeStamp":"2023-02-11 15:21:10","MinDate":"2023-02-11","MaxDate":"2023-08-11","AvailableUnitsOnly":false,"UnitSort":"orderby","TimeGrid":false,"ForUnit":false,"UnitId":0,"TimeBetween":"","TimeBetweenEval":"n/a","Facility":{"FacilityId":1121,"Name":"Valley
                  Oak Loop (sites 85-90)","Description":"Valley Oak Loop (sites 87-90)","FacilityType":2,"FacilityBehaviourType":0,"FacilityMapSize":false,"FacilityImage":"California/Facilities/ML_678_Valley_Oak_Loop.jpg","FacilityImageVBT":"https://cali-content.usedirect.com/Images/California/Facilities/ML_678_Valley_Oak_Loop.jpg","DatesInSeason":30,"DatesOutOfSeason":0,"SeasonDates":{"2023-06-01T00:00:00":true,"2023-06-02T00:00:00":true,"2023-06-03T00:00:00":true,"2023-06-04T00:00:00":true,"2023-06-05T00:00:00":true,"2023-06-06T00:00:00":true,"2023-06-07T00:00:00":true,"2023-06-08T00:00:00":true,"2023-06-09T00:00:00":true,"2023-06-10T00:00:00":true,"2023-06-11T00:00:00":true,"2023-06-12T00:00:00":true,"2023-06-13T00:00:00":true,"2023-06-14T00:00:00":true,"2023-06-15T00:00:00":true,"2023-06-16T00:00:00":true,"2023-06-17T00:00:00":true,"2023-06-18T00:00:00":true,"2023-06-19T00:00:00":true,"2023-06-20T00:00:00":true,"2023-06-21T00:00:00":true,"2023-06-22T00:00:00":true,"2023-06-23T00:00:00":true,"2023-06-24T00:00:00":true,"2023-06-25T00:00:00":true,"2023-06-26T00:00:00":true,"2023-06-27T00:00:00":true,"2023-06-28T00:00:00":true,"2023-06-29T00:00:00":true,"2023-06-30T00:00:00":true},"TrafficStatuses":{},"UnitCount":6,"AvailableUnitCount":6,"SliceCount":180,"AvailableSliceCount":164,"Restrictions":{"FutureBookingStarts":"2023-02-13T00:00:00-08:00","FutureBookingEnds":"2023-08-11T00:00:00-07:00","MinimumStay":1,"MaximumStay":14,"IsRestrictionValid":true,"Time":"0001-01-01T00:00:00"},"Units":{"7714.1":{"UnitId":50734,"Name":"Primitive
                  Campsite #M85","ShortName":"M85","RecentPopups":0,"IsAda":false,"AllowWebBooking":true,"MapInfo":{"UnitImage":"California/Units/tent","UnitImageVBT":"https://cali-content.usedirect.com/images/California/Units/tent.png","ImageCoordinateX":466,"ImageCoordinateY":162,"ImageWidth":35,"ImageHeight":35,"FontSize":8.0,"Latitude":0.0,"Longitude":0.0},"IsWebViewable":true,"IsFiltered":false,"UnitCategoryId":1,"SleepingUnitIds":[76],"UnitTypeGroupId":1,"UnitTypeId":4327,"UseType":4,"VehicleLength":36,"OrderBy":85,"SliceCount":30,"AvailableCount":30,"IsFavourite":false,"Slices":{"2023-06-01T00:00:00":{"Date":"2023-06-01","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-06-02T00:00:00":{"Date":"2023-06-02","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-06-03T00:00:00":{"Date":"2023-06-03","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-06-04T00:00:00":{"Date":"2023-06-04","IsFree":true,"IsBlocked":false,"IsWalkin":false,"ReservationId":0,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-06-0[...]
