interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/places
      response:
          body:
              string:
                  "[{\"PlaceId\":1,\"RegionId\":30,\"Name\":\"Hearst Castle\",\"ShortName\":\"Hearst
                  Castle\",\"Description\":\"Hearst Castle\",\"OrderBy\":0,\"AllowWebBooking\":true,\"InventoryLocking\":false,\"InventoryLockDuration\":0,\"UsePrepend\":true,\"PrependCode\":\"494\",\"Address1\":\"750
                  Hearst Castle Road\",\"Address2\":null,\"City\":\"San Simeon\",\"State\":\"CA\",\"Zip\":\"93452\",\"VoicePhone\":\"805-927-2035\",\"FaxPhone\":null,\"UDate\":\"2015-06-26T14:22:27.67\",\"UserId\":1,\"RowGuid\":\"8fbf79fc-4e7d-4715-a9cc-589e4fb1bae5\",\"CatalogToken\":null,\"IsWebViewable\":true,\"Superintendent\":\"120102\",\"WeekdayCheckdays\":0,\"WeekendCheckdays\":0,\"Latitude\":35.58361111,\"Longitude\":-121.1205556,\"IsAvailableForGreatwalk\":false,\"Parksize\":\"Medium\",\"ParkCategoryid\":1,\"ParkActivity\":2,\"ParkPopularity\":0,\"SkipNightlyUnitsMaxOccupancyCheck\":0,\"SkipGroupByFacility\":0,\"IsAvailableForFixedgreatwalk\":false,\"ShipAddress1\":null,\"ShipAddress2\":null,\"ShipCity\":null,\"ShipState\":null,\"ShipZip\":null,\"UseBillingAddress\":false,\"NumberofPerson\":0,\"FacilityDefaultZoom\":0},{\"PlaceId\":2,\"RegionId\":5,\"Name\":\"Anza-Borrego
                  Desert SP\",\"ShortName\":\"Anza-Borrego Desert SP\",\"Description\":\"Anza-borrego
                  Desert State Park\",\"OrderBy\":1,\"AllowWebBooking\":true,\"InventoryLocking\":false,\"InventoryLockDuration\":0,\"UsePrepend\":true,\"PrependCode\":\"622\",\"Address1\":\"200
                  PALM CANYON DRIVE\",\"Address2\":\"\",\"City\":\"BORREGO SPRINGS\",\"State\":\"CA\",\"Zip\":\"92004\",\"VoicePhone\":\"760-767-5[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/facilities
      response:
          body:
              string:
                  "[{\"FacilityId\":327,\"RegionId\":5,\"PlaceId\":2,\"Name\":\"Borrego
                  Palm Canyon (sites 53-89)\",\"ShortName\":\"Borrego Palm Canyon (sites 53-89)\",\"Description\":\"Borrego
                  Palm Canyon (sites 53-89)\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"622\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2017-12-04T10:04:42.14\",\"RowGuid\":\"00000000-0000-0000-0000-000000000000\",\"FacilityTypeNew\":1,\"MaxPersonOccupancy\":0,\"IsAvailableForGroup\":false,\"IsAvailableForPatron\":false,\"IsAvailableForEducationalGorup\":false,\"IsAvailableForCto\":false,\"IsCaptcha\":false,\"FacilityBehaviourType\":0,\"EnableCheckOccupancy\":false,\"IsTrail\":null,\"TimebaseMaxHours\":0,\"TimebaseMinHours\":0,\"TimebaseDuration\":0},{\"FacilityId\":329,\"RegionId\":5,\"PlaceId\":2,\"Name\":\"Tamarisk
                  Grove Campground\",\"ShortName\":\"Tamarisk Grove Campground\",\"Description\":\"Tamarisk
                  Grove Campground\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"622\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2017-12-04T10:05:46.503\",\"RowGuid\":\"00000000-0000-0000-0000-000000000000\",\"FacilityTypeNew\":1,\"MaxPersonOccupancy\":0,\"IsAvailableFor[...]
