interactions:
    - request:
          body: '{"PlaceId": 678, "StartDate": "02-11-2023"}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://calirdr.usedirect.com/rdr/rdr/search/place
      response:
          body:
              string:
                  '{"Message":"Built in 30.9858 ms size 9415 bytes on CALIRDR1","SelectedPlaceId":678,"HighlightedPlaceId":0,"Latitude":0.0,"Longitude":0.0,"StartDate":"2023-02-11","EndDate":"2023-02-11","NightsRequested":1,"NightsActual":1,"CountNearby":true,"NearbyLimit":50,"Sort":"distance","CustomerId":null,"Filters":null,"AvailablePlaces":0,"SelectedPlace":{"PlaceId":678,"Name":"Millerton
                  Lake SRA","Description":"Millerton Lake SRA offers over 40 miles of shoreline
                  for water sports, swimming, fishing, and boating. Hills surround the lake
                  for hiking. The park is home to ground squirrels, cottontails, mule deer,
                  bald & golden eagles, and badgers. It contains the original Historic Fresno
                  County Courthouse.","HasAlerts":true,"IsFavourite":false,"Allhighlights":"Bicycling<br>Boating<br>Boat
                  launch<br>Body surfing<br>Camping<br>Fishing<br>Group Camping<br>Hiking<br>Horseback
                  riding<br>Picnic area<br>Rinse Showers<br>Scuba diving<br>Surfing<br>Swimming<br>","Url":"http://www.parks.ca.gov/?page_id=587","ImageUrl":"https://cali-content.usedirect.com/Images/California/ParkImages/Place/678.jpg","BannerUrl":"https://cali-content.usedirect.com/Images/California/ParkImages/banner.jpg","ParkSize":"Small","Latitude":37.02130207,"Longitude":-119.6680397,"TimeZone":"Pacific
                  Standard Time","TimeStamp":"2023-02-11 19:21:31","MilesFromSelected":0,"Available":false,"AvailableFiltered":false,"ParkCategoryId":6,"ParkActivity":3,"ParkPopularity":0,"AvailableUnitCount":0,"Restrictions":{"FutureBookingStarts":"2023-02-13T00:00:00-08:00","FutureBookingEnds":"2023-08-11T00:00:00-07:00","MinimumStay":1,"MaximumStay":14,"IsRestrictionValid":false,"Time":"0001-01-01T00:00:00"},"Facilities":{"543":{"FacilityId":543,"Name":"Meadows
                  Loop (sites 92-148)","Description":"Meadows Hookup Loop","RateMessage":null,"FacilityType":2,"FacilityTypeNew":1,"InSeason":true,"Available":false,"AvailableFiltered":false,"Restrictions":{"FutureBookingStarts":"2023-02-13T00:00:00-08:00","FutureBookingEnds":"2023-08-11T00:00:00-07:00","MinimumStay":1,"MaximumStay":30,"IsRestrictionValid":false,"Time":"0001-01-01T00:00:00"},"Latitude":37.018175,"Longitude":-119.668515,"Category":"Campgrounds","EnableCheckOccupancy":false,"AvailableOccupancy":null,"FacilityAllowWebBooking":true,"UnitTypes":{"4324":{"UnitTypeId":4324,"UseType":4,"Name":"Hook
                  Up (E/W/S) Campsite","Available":false,"AvailableFiltered":false,"UnitCategoryId":1015,"UnitTypeGroupId":18,"MaxVehicleLength":36,"HasAda":true,"Restrictions":null,"AvailableCount":0},"4303":{"UnitTypeId":4303,"UseType":4,"Name":"Campsite","Available":false,"AvailableFiltered":false,"UnitCategoryId":1,"UnitTypeGroupId":1,"MaxVehicleLength":36,"HasAda":false,"Restrictions":null,"AvailableCount":0},"4322":{"UnitTypeId":4322,"UseType":4,"Name":"Hook
                  Up (E/W) Campsite","Available":false,"AvailableFiltered":false,"UnitCategoryId":1015,"UnitTypeGroupId":16,"MaxVehicleLength":36,"HasAda":false,"Restrictions":null,"AvailableCount":0}},"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"FacilityBehaviourType":0},"572":{"FacilityId":572,"Name":"North
                  Shore Group Camp","Description":"North Shore Group Camp","RateMessage":null,"FacilityType":2,"FacilityTypeNew":1,"InSeason":true,"Available":false,"AvailableFiltered":false,"Restrictions":{"FutureBookingStarts":"2023-02-13T00:00:00-08:00","FutureBookingEnds":"2023-08-11T00:00:00-07:00","MinimumStay":1,"MaximumStay":7,"IsRestrictionValid":false,"Time":"0001-01-01T00:00:00"},"Latitude":37.02465,"Longitude":-119.68626,"Category":"Group
    [...]
