interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2584/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":12,\"TOTAL_COUNT\":12},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":100036,\"ActivityName\":\"BACKPACKING\",\"FacilityActivityDescription\":\"Backpacking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{\"ActivityID\":100017,\"ActivityName\":\"BIRDING\",\"FacilityActivityDescription\":\"Birding\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{\"ActivityID\":6,\"ActivityName\":\"BOATING\",\"FacilityActivityDescription\":\"Boating\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{[...]
[...]
