interactions:
    - request:
          body: '{"FacilityId": 706, "StartDate": "07-01-2023", "EndDate": "07-31-2023"}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://calirdr.usedirect.com/rdr/rdr/search/grid
      response:
          body:
              string:
                  '{"Message":"Built in 10.2729 ms size 158864 bytes on CALIRDR4","Filters":{"InSeasonOnly":"True","WebOnly":"True"},"UnitTypeId":0,"StartDate":"2023-07-01","EndDate":"2023-07-30","NightsRequested":31,"NightsActual":30,"TodayDate":"2023-02-11","TimeZone":"Pacific
                  Standard Time","TimeStamp":"2023-02-11 19:21:32","MinDate":"2023-02-11","MaxDate":"2023-08-11","AvailableUnitsOnly":false,"UnitSort":"orderby","TimeGrid":false,"ForUnit":false,"UnitId":0,"TimeBetween":"","TimeBetweenEval":"n/a","Facility":{"FacilityId":706,"Name":"Wright''s
                  Beach (sites 1-27)","Description":"Wright''s Beach (sites 1-27)","FacilityType":2,"FacilityBehaviourType":0,"FacilityMapSize":false,"FacilityImage":"California/Facilities/SC_718_Wrights_Beach_Camp_1_27.jpg","FacilityImageVBT":"https://cali-content.usedirect.com/Images/California/Facilities/SC_718_Wrights_Beach_Camp_1_27.jpg","DatesInSeason":30,"DatesOutOfSeason":0,"SeasonDates":{"2023-07-01T00:00:00":true,"2023-07-02T00:00:00":true,"2023-07-03T00:00:00":true,"2023-07-04T00:00:00":true,"2023-07-05T00:00:00":true,"2023-07-06T00:00:00":true,"2023-07-07T00:00:00":true,"2023-07-08T00:00:00":true,"2023-07-09T00:00:00":true,"2023-07-10T00:00:00":true,"2023-07-11T00:00:00":true,"2023-07-12T00:00:00":true,"2023-07-13T00:00:00":true,"2023-07-14T00:00:00":true,"2023-07-15T00:00:00":true,"2023-07-16T00:00:00":true,"2023-07-17T00:00:00":true,"2023-07-18T00:00:00":true,"2023-07-19T00:00:00":true,"2023-07-20T00:00:00":true,"2023-07-21T00:00:00":true,"2023-07-22T00:00:00":true,"2023-07-23T00:00:00":true,"2023-07-24T00:00:00":true,"2023-07-25T00:00:00":true,"2023-07-26T00:00:00":true,"2023-07-27T00:00:00":true,"2023-07-28T00:00:00":true,"2023-07-29T00:00:00":true,"2023-07-30T00:00:00":true},"TrafficStatuses":{},"UnitCount":24,"AvailableUnitCount":4,"SliceCount":720,"AvailableSliceCount":4,"Restrictions":{"FutureBookingStarts":"2023-02-13T00:00:00-08:00","FutureBookingEnds":"2023-08-11T00:00:00-07:00","MinimumStay":1,"MaximumStay":10,"IsRestrictionValid":true,"Time":"0001-01-01T00:00:00"},"Units":{"414.1":{"UnitId":45538,"Name":"Premium
                  Campsite #WB01","ShortName":"WB01","RecentPopups":0,"IsAda":false,"AllowWebBooking":true,"MapInfo":{"UnitImage":"California/Units/tent","UnitImageVBT":"https://cali-content.usedirect.com/images/California/Units/tent.NotAvailable.png","ImageCoordinateX":348,"ImageCoordinateY":376,"ImageWidth":35,"ImageHeight":35,"FontSize":8.0,"Latitude":0.0,"Longitude":0.0},"IsWebViewable":true,"IsFiltered":false,"UnitCategoryId":1,"SleepingUnitIds":[74,75,79,83],"UnitTypeGroupId":1,"UnitTypeId":4427,"UseType":4,"VehicleLength":31,"OrderBy":1,"SliceCount":30,"AvailableCount":0,"IsFavourite":false,"Slices":{"2023-07-01T00:00:00":{"Date":"2023-07-01","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":5022007,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-07-02T00:00:00":{"Date":"2023-07-02","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":5022007,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-07-03T00:00:00":{"Date":"2023-07-03","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":5022007,"Lock":null,"MinStay":1,"IsReservationDraw":false},"2023-07-04T00:00:00":{"Date":"2023-07-04","IsFree":false,"IsBlocked":false,"IsWalkin":false,"ReservationId":5028108,"Lock":null,"MinStay":1,"IsReservationDr[...]
[...]
