interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/campsites/93740
      response:
          body:
              string:
                  '[{"ATTRIBUTES":[{"AttributeName":"Base Number of Vehicles","AttributeValue":"0"},{"AttributeName":"BBQ","AttributeValue":"Y"},{"AttributeName":"Food
                  Locker","AttributeValue":"Y"},{"AttributeName":"Placed on Map","AttributeValue":"1"},{"AttributeName":"Base
                  Number of People","AttributeValue":"9"},{"AttributeName":"Picnic Table","AttributeValue":"Y"},{"AttributeName":"Checkin
                  Time","AttributeValue":"1:00 PM"},{"AttributeName":"Checkout Time","AttributeValue":"12:00
                  PM"},{"AttributeName":"Num of Beds",[...]
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/234013?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[{"ActivityID":9,"ActivityName":"CAMPING","FacilityActivityDescription":"Camping","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":14,"ActivityName":"HIKING","FacilityActivityDescription":"Hiking","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":26,"ActivityName":"WILDLIFE
                  VIEWING","FacilityActivityDescription":"Wildlife Viewing","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100017,"ActivityName":"BIRDING","FacilityActivityDescription":"Birding","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100026,"ActivityName":"EVENING
                  PROGRAMS","FacilityActivityDescription":"Evening Programs","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100027,"ActivityName":"GUIDED
                  INTERPRETIVE WALKS","FacilityActivityDescription":"Guided Interpretive Walks","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100065,"ActivityName":"PICNIC
                  TABLES","FacilityActivityDescription":"Picnic Tables","FacilityActivityFeeDescription":"","FacilityID":"234013"}],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"TX","City":"BIG
                  BEND NAT. PARK","FacilityAddressID":"20439357","FacilityAddressType":"Default","FacilityID":"234013","FacilityStreetAddress1":"PO
                  BOX 129","FacilityStreetAddress2":"","FacilityStreetAddress3":"","LastUpdatedDate":"2023-04-22","PostalCode":"79834"}],"FacilityAdaAccess":"N","FacilityDescription":"<h2>Overview</h2>\nChisos
                  Basin Group Campground, situated high in the rugged Chisos Mountains, is one
                  of the most sought-after campgrounds in Big Bend National Park. It has seven
                  group camping sites available for groups of nine to 20 people (size is site-dependent).
                  At an altitude of 5,400 ft., the campground is surrounded on all sides by
                  tall, rocky cliffs and conveniently located near some of the park''s mos[...]
[...]
