interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/recareas/2584/facilities?full=true&offset=0
      response:
          body:
              string:
                  "{\"METADATA\":{\"RESULTS\":{\"CURRENT_COUNT\":12,\"TOTAL_COUNT\":12},\"SEARCH_PARAMETERS\":{\"LIMIT\":1000,\"OFFSET\":0,\"QUERY\":\"\"}},\"RECDATA\":[{\"ACTIVITY\":[{\"ActivityID\":100036,\"ActivityName\":\"BACKPACKING\",\"FacilityActivityDescription\":\"Backpacking\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{\"ActivityID\":100017,\"ActivityName\":\"BIRDING\",\"FacilityActivityDescription\":\"Birding\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{\"ActivityID\":9,\"ActivityName\":\"CAMPING\",\"FacilityActivityDescription\":\"Camping\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{\"ActivityID\":6,\"ActivityName\":\"BOATING\",\"FacilityActivityDescription\":\"Boating\",\"FacilityActivityFeeDescription\":\"\",\"FacilityID\":\"10028875\"},{[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A10028875&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  "{\"campsites\":[{\"accessible\":\"false\",\"aggregate_cell_coverage\":1.4444444477558136,\"asset_id\":\"10028875\",\"asset_name\":\"Big
                  Bend Backcountry Camping\",\"asset_type\":\"Campground\",\"attributes\":[{\"attribute_category\":\"site_details\",\"attribute_id\":39,\"attribute_name\":\"Hike
                  In Distance to Site\",\"attribute_value\":\"4.0 miles\"},{\"attribute_category\":\"site_details\",\"attribute_id\":79,\"attribute_name\":\"Site
                  Access\",\"attribute_value\":\"Hike In\"},{\"attribute_category\":\"site_details\",\"attribute_id\":11,\"attribute_name\":\"Checkin
                  Time\",\"attribute_value\":\"12:00 PM\"},{\"attribute_category\":\"site_details\",\"attribute_id\":0,\"attribute_name\":\"Min
                  Num of People\",\"attribute_value\":\"1\"},{\"attribute_category\":\"site_details\",\"[...]
[...]
