interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapi.xanterra.net/v1/api/availability/hotels/yellowstonenationalparklodges?date=2022-01-01+00%3A00%3A00&limit=31&rate_code=INTERNET
  response:
    body:
      string: '{"availability":{"01\/01\/2022":{"YLCL":{"hotelCode":"YLCL","status":"CLOSED","message":"Canyon
        Lodge is closed for the season from 10\/11\/2021 to 05\/19\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLGV":{"hotelCode":"YLGV","status":"CLOSED","message":"Grant
        Village is closed for the season from 10\/03\/2021 to 05\/26\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLLH":{"hotelCode":"YLLH","status":"CLOSED","message":"Lake
        Yellowstone Hotel is closed for the season from 10\/03\/2021 to 05\/12\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLLL":{"hotelCode":"YLLL","status":"CLOSED","message":"Lake
        Lodge Cabins is closed for the season from 09\/26\/2021 to 06\/09\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLMH":{"hotelCode":"YLMH","status":"OPEN","message":"","min":291,"max":291,"perGuests":{"1":{"a":2,"b":291,"m":291,"r":"INTERNET","s":"black"},"2":{"a":2,"b":291,"m":291,"r":"INTERNET","s":"black"},"3":{"a":2,"b":310,"m":310,"r":"INTERNET","s":"black"},"4":{"a":2,"b":329,"m":329,"r":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Mammoth
        Hotel Internet Rate","description":"Mammoth Hotel Internet Rate | Standard
        Rate ROOM ONLY","category":"RACK","minstay":1,"start":"12\/15\/2021","available":{"1":2,"2":2,"3":2,"4":2},"mins":{"1":291,"2":291,"3":310,"4":329},"min":291}}},"YLOI":{"hotelCode":"YLOI","status":"CLOSED","message":"Old
        Faithful Inn is closed for the season from 10\/11\/2021 to 05\/05\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLOL":{"hotelCode":"YLOL","status":"CLOSED","message":"Old
        Faithful Lodge is closed for the season from 10\/03\/2021 to 05\/12\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLOS":{"hotelCode":"YLOS","status":"OPEN","message":"","min":180,"max":180,"perGuests":{"1":{"a":11,"b":180,"m":180,"r":"INTERNET","s":"black"},"2":{"a":11,"b":180,"m":180,"r":"INTERNET","s":"black"},"3":{"a":11,"b":199,"m":199,"r":"INTERNET","s":"black"},"4":{"a":10,"b":218,"m":218,"r":"INTERNET","s":"black"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Snowlodge
        Internet Rate","description":"Snow Lodge Internet Rate | Standard Rate ROOM
        ONLY","category":"RACK","minstay":1,"start":"12\/16\/2021","available":{"1":11,"2":11,"3":11,"4":10},"mins":{"1":180,"2":180,"3":199,"4":218},"min":180}}},"YLRL":{"hotelCode":"YLRL","status":"CLOSED","message":"Roosevelt
        Lodge is closed for the season from 04\/01\/2021 to 06\/02\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLYC:RV":{"hotelCode":"YLYC:RV","status":"CLOSED","message":"Canyon
        Campground is closed for the season from 09\/19\/2021 to 05\/26\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLYB:RV":{"hotelCode":"YLYB:RV","status"[...]
