interactions:
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/campsites/93740
      response:
          body:
              string:
                  '[{"ATTRIBUTES":[{"AttributeName":"Base Number of Vehicles","AttributeValue":"0"},{"AttributeName":"BBQ","AttributeValue":"Y"},{"AttributeName":"Food
                  Locker","AttributeValue":"Y"},{"AttributeName":"Placed on Map","AttributeValue":"1"},{"AttributeName":"Base
                  Number of People","AttributeValue":"9"},{"AttributeName":"Picnic Table","AttributeValue":"Y"},{"AttributeName":"Checkin
                  Time","AttributeValue":"1:00 PM"},{"AttributeName":"Checkout Time","AttributeValue":"12:00
                  PM"},{"AttributeName":"Num of Beds",[...]
    - request:
          body: null
          headers:
              apikey:
                  - REDACTED
          method: GET
          uri: https://ridb.recreation.gov/api/v1/facilities/234013?full=True
      response:
          body:
              string:
                  '{"ACTIVITY":[{"ActivityID":9,"ActivityName":"CAMPING","FacilityActivityDescription":"Camping","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":14,"ActivityName":"HIKING","FacilityActivityDescription":"Hiking","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":26,"ActivityName":"WILDLIFE
                  VIEWING","FacilityActivityDescription":"Wildlife Viewing","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100017,"ActivityName":"BIRDING","FacilityActivityDescription":"Birding","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100026,"ActivityName":"EVENING
                  PROGRAMS","FacilityActivityDescription":"Evening Programs","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100027,"ActivityName":"GUIDED
                  INTERPRETIVE WALKS","FacilityActivityDescription":"Guided Interpretive Walks","FacilityActivityFeeDescription":"","FacilityID":"234013"},{"ActivityID":100065,"ActivityName":"PICNIC
                  TABLES","FacilityActivityDescription":"Picnic Tables","FacilityActivityFeeDescription":"","FacilityID":"234013"}],"CAMPSITE":[],"EVENT":[],"Enabled":true,"FACILITYADDRESS":[{"AddressCountryCode":"USA","AddressStateCode":"TX","City":"BIG
                  BEND NAT. PARK","FacilityAddressID":"20439357","FacilityAddressType":"Default","FacilityID":"234013","FacilityStreetAddress1":"PO
                  BOX 129","FacilityStreetAddress2":"","FacilityStreetAddress3":"","LastUpdatedDate":"2023-04-22","PostalCode":"79834"}],"FacilityAdaAccess":"N","FacilityDescription":"<h2>Overview</h2>\nChisos
                  Basin Group Campground, situated high in the rugged Chisos Mountains, is one
                  of the most sought-after campgrounds in Big Bend National Park. It has seven
                  group camping sites available for groups of nine to 20 people (size is site-dependent).
                  At an altitude of 5,400 ft., the campground is surrounded on all sides by
                  tall, rocky cliffs and conveniently located near some of the park''s mos[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/search/campsites?fq=asset_id%3A234013&include_non_site_specific_campsites=True&size=1000&start=0
      response:
          body:
              string:
                  '{"campsites":[{"accessible":"false","aggregate_cell_coverage":2.200000047683716,"asset_id":"234013","asset_name":"CHISOS
                  BASIN GROUP CAMPGROUND","asset_type":"Campground","attributes":[{"attribute_category":"site_details","attribute_id":11,"attribute_name":"Checkin
                  Time","attribute_value":"1:00 PM"},{"attribute_category":"site_details","attribute_id":56,"attribute_name":"Min
                  Num of People","attribute_value":"9"},{"attribute_category":"site_details","attribute_id":16,"attribute_name":"Condition
                  Rating","attribute_value":"N/A"},{"attribute_category":"site_details","attribute_id":12,"attribute_name":"Checkout
                  Time","attribute_value":"12:00 PM"},{"attribute_category":"site_details","attribute_id":65,"attribute_name":"Pets
        [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://www.recreation.gov/api/camps/availability/campground/234013/month?start_date=2023-09-01T00%3A00%3A00.000Z
      response:
          body:
              string:
                  '{"campsites":{"93201":{"availabilities":{"2023-09-01T00:00:00Z":"Reserved","2023-09-02T00:00:00Z":"Reserved","2023-09-03T00:00:00Z":"Reserved","2023-09-04T00:00:00Z":"Available","2023-09-05T00:00:00Z":"Available","2023-09-06T00:00:00Z":"Available","2023-09-07T00:00:00Z":"Available","2023-09-08T00:00:00Z":"Available","2023-09-09T00:00:00Z":"Available","2023-09-10T00:00:00Z":"Available","2023-09-11T00:00:00Z":"Available","2023-09-12T00:00:00Z":"Available","2023-09-13T00:00:00Z":"Available","2023-09-14T00:00:00Z":"Available","2023-09-15T00:00:00Z":"Reserved","2023-09-16T00:00:00Z":"Reserved","2023-09-17T00:00:00Z":"Available","2023-09-18T00:00:00Z":"Available","2023-09-19T00:00:00Z":"Available","2023-09-20T00:00:00Z":"Available","2023-09-21T00:00:00Z":"Available","2023-09-22T00:00:00Z":"Available","2023-09-23T00:00:00Z":"Available","2023-09-24T00:00:00Z":"Available","2023-09-25T00:00:00Z":"Reserved","2023-09-26T00:00:00Z":"Reserved","2023-09-27T00:00:00Z":"Reserved","2023-09-28T00:00:00Z":"Reserved","2023-09-29T00:00:00Z":"Reserved","2023-09-30T00:00:00Z":"Reserved"},"campsite_id":"93201","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"GROUP
                  TENT ONLY AREA NONELECTRIC","capacity_rating":"N/A","loop":"Group Sites L-R","max_num_people":20,"min_num_people":9,"quantities":{"2023-09-01T00:00:00Z":0,"2023-09-02T00:00:00Z":0,"2023-09-03T00:00:00Z":0,"2023-09-04T00:00:00Z":1,"2023-09-05T00:00:00Z":1,"2023-09-06T00:00:00Z":1,"2023-09-07T00:00:00Z":1,"2023-09-08T00:00:00Z":1,"2023-09-09T00:00:00Z":1,"2023-09-10T00:00:00Z":1,"2023-09-11T00:00:00Z":1,"2023-09-12T00:00:00Z":1,"2023-09-13T00:00:00Z":1,"2023-09-14T00:00:00Z":1,"2023-09-15T00:00:00Z":0,"2023-09-16T00:00:00Z":0,"2023-09-17T00:00:00Z":1,"2023-09-18T00:00:00Z":1,"2023-09-19T00:00:00Z":1,"2023-09-20T00:00:00Z":1,"2023-09-21T00:00:00Z":1,"2023-09-22T00:00:00Z":1,"2023-09-23T00:00:00Z":1,"2023-09-24T00:00:00Z":1,"2023-09-25T00:00:00Z":0,"2023-09-26T00:00:00Z":0,"2023-09-27T00:00:00Z":0,"2023-09-28T00:00:00Z":0,"2023-09-29T00:00:00Z":0,"2023-09-30T00:00:00Z":0},"site":"Q","supplemental_camping":null,"type_of_use":"Overnight"},"93232":{"availabilities":{"2023-09-01T00:00:00Z":"Available","2023-09-02T00:00:00Z":"Available","2023-09-03T00:00:00Z":"Available","2023-09-04T00:00:00Z":"Available","2023-09-05T00:00:00Z":"Available","2023-09-06T00:00:00Z":"Available","2023-09-07T00:00:00Z":"Available","2023-09-08T00:00:00Z":"Available","2023-09-09T00:00:00Z":"Available","2023-09-10T00:00:00Z":"Available","2023-09-11T00:00:00Z":"Available","2023-09-12T00:00:00Z":"Available","2023-09-13T00:00:00Z":"Available","2023[...]
