interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://calirdr.usedirect.com/rdr/rdr/fd/facilities
      response:
          body:
              string:
                  "[{\"FacilityId\":327,\"RegionId\":5,\"PlaceId\":2,\"Name\":\"Borrego
                  Palm Canyon (sites 53-89)\",\"ShortName\":\"Borrego Palm Canyon (sites 53-89)\",\"Description\":\"Borrego
                  Palm Canyon (sites 53-89)\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"622\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2017-12-04T10:04:42.14\",\"RowGuid\":\"00000000-0000-0000-0000-000000000000\",\"FacilityTypeNew\":1,\"MaxPersonOccupancy\":0,\"IsAvailableForGroup\":false,\"IsAvailableForPatron\":false,\"IsAvailableForEducationalGorup\":false,\"IsAvailableForCto\":false,\"IsCaptcha\":false,\"FacilityBehaviourType\":0,\"EnableCheckOccupancy\":false,\"IsTrail\":null,\"TimebaseMaxHours\":0,\"TimebaseMinHours\":0,\"TimebaseDuration\":0},{\"FacilityId\":329,\"RegionId\":5,\"PlaceId\":2,\"Name\":\"Tamarisk
                  Grove Campground\",\"ShortName\":\"Tamarisk Grove Campground\",\"Description\":\"Tamarisk
                  Grove Campground\",\"OrderBy\":0,\"FacilityType\":2,\"UsePrepend\":true,\"PrependCode\":\"622\",\"AllowWebBooking\":true,\"AutoOpenInventory\":true,\"UDate\":\"2017-12-04T10:05:46.503\",\"RowGuid\":\"00000000-0000-0000-0000-000000000000\",\"FacilityTypeNew\":1,\"MaxPersonOccupancy\":0,\"IsAvailableFor[...]
