interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapi.xanterra.net/v1/api/availability/hotels/yellowstonenationalparklodges?date=2021-12-01+00%3A00%3A00&limit=31&rate_code=INTERNET
  response:
    body:
      string: '{"availability":{"12\/01\/2021":{"YLCL":{"hotelCode":"YLCL","status":"CLOSED","message":"Canyon
        Lodge is closed for the season from 10\/11\/2021 to 05\/19\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLGV":{"hotelCode":"YLGV","status":"CLOSED","message":"Grant
        Village is closed for the season from 10\/03\/2021 to 05\/26\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLLH":{"hotelCode":"YLLH","status":"CLOSED","message":"Lake
        Yellowstone Hotel is closed for the season from 10\/03\/2021 to 05\/12\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLLL":{"hotelCode":"YLLL","status":"CLOSED","message":"Lake
        Lodge Cabins is closed for the season from 09\/26\/2021 to 06\/09\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLMH":{"hotelCode":"YLMH","status":"CLOSED","message":"Mammoth
        Hotel  is closed for the season from 11\/28\/2021 to 12\/14\/2021","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Mammoth
        Hotel Internet Rate","description":"Mammoth Hotel Internet Rate | Standard
        Rate ROOM ONLY","category":"RACK","minstay":1,"start":"11\/03\/2021","available":{"1":0},"mins":{"1":0},"min":0}}},"YLOI":{"hotelCode":"YLOI","status":"CLOSED","message":"Old
        Faithful Inn is closed for the season from 10\/11\/2021 to 05\/05\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLOL":{"hotelCode":"YLOL","status":"CLOSED","message":"Old
        Faithful Lodge is closed for the season from 10\/03\/2021 to 05\/12\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLOS":{"hotelCode":"YLOS","status":"CLOSED","message":"Old
        Faithful Snow Lodge is closed for the season from 10\/31\/2021 to 12\/15\/2021","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":{"INTERNET":{"code":"INTERNET","title":"Snowlodge
        Internet Rate","description":"Snowlodge Internet Rate | Standard Rate ROOM
        ONLY","category":"RACK","minstay":1,"start":"12\/15\/2021","available":{"1":0},"mins":{"1":0},"min":0}}},"YLRL":{"hotelCode":"YLRL","status":"CLOSED","message":"Roosevelt
        Lodge is closed for the season from 04\/01\/2021 to 06\/02\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLYC:RV":{"hotelCode":"YLYC:RV","status":"CLOSED","message":"Canyon
        Campground is closed for the season from 09\/19\/2021 to 05\/26\/2022","min":0,"max":0,"perGuests":{"1":{"a":0,"b":0,"m":0,"r":"ALL","s":"closed"}},"rates":[]},"YLYB:RV":{"hotelCode":"YLYB:RV","status"[...]
