interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://msprdr.usedirect.com/msprdr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.5376 ms size 10195 bytes on IP-AC12071A","UnitCategories":[{"UnitCategoryId":25,"UnitCategoryName":"Camping","HasEquipment":true,"Icon":"camping"},{"UnitCategoryId":30,"UnitCategoryName":"GTA","HasEquipment":false,"Icon":"gta"},{"UnitCategoryId":27,"UnitCategoryName":"Lodging","HasEquipment":false,"Icon":"lodging"},{"UnitCategoryId":37,"UnitCategoryName":"Shelter
                  ","HasEquipment":false,"Icon":"shelter"}],"NightlySleepingUnits":[{"UnitCategoryId":25,"SleepingUnitId":86,"SleepingUnitName":"5th
                  Wheel & Vehicle","IsWheeled":true,"Icon":"5thwheelvehicle"},{"UnitCategoryId":25,"SleepingUnitId":100,"SleepingUnitName":"Bicycle
                  Camper","IsWheeled":false,"Icon":"bicyclecamper"},{"UnitCategoryId":25,"SleepingUnitId":88,"SleepingUnitName":"Motor
                  Home","IsWheeled":true,"Icon":"motorhome"},{"UnitCategoryId":25,"SleepingUnitId":97,"SleepingUnitName":"Motorcycle
                  Camper","IsWheeled":true,"Icon":"motorcyclecamper"},{"UnitCategoryId":25,"SleepingUnitId":99,"SleepingUnitName":"New
                  Sleeping Unit","IsWheeled":false,"Icon":"newsleepingunit"},{"UnitCategoryId":25,"SleepingUnitId":89,"SleepingUnitName":"No
                  Equipment ","IsWheeled":false,"Icon":"noequipment"},{"UnitCategoryId":25,"SleepingUnitId":92,"SleepingUnitName":"Tent
                  Trailer & Vehicle","IsWheeled":true,"Icon":"tenttrailervehicle"},{"UnitCategoryId":25,"SleepingUnitId":91,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":25,"SleepingUnitId":93,"SleepingUnitName":"Trailer
                  & Vehicle","IsWheeled":true,"Icon":"trailervehicle"},{"UnitCategoryId":25,"SleepingUnitId":94,"SleepingUnitName":"Truck
                  Camper","IsWheeled":true,"Icon":"truckcamper"},{"UnitCategoryId":25,"SleepingUnitId":95,"SleepingUnitName":"Van","IsWheeled":true,"Icon":"van"}],"MinVehicleLengths":[{"SleepingUnitId":93,"MinVehicleLength":10,"MinVehicleName":">
                  10","Icon":"10"},{"SleepingUnitId":93,"MinVehicleLength":20,"MinVehicleName":">
                  20","Icon":"20"},{"SleepingUnitId":93,"MinVehicleLength":30,"MinVehicleName":">
                  30","Icon":"30"},{"SleepingUnitId":93,"MinVehicleLength":40,"MinVehicleName":">
                  40","Icon":"40"},{"SleepingUnitId":93,"MinVehicleLength":50,"MinVehicleName":">
                  50","Icon":"50"},{"SleepingUnitId":93,"MinVehicleLength":60,"MinVehicleName":">
       [...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://msprdr.usedirect.com/msprdr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"3":{"CityParkId":3,"Name":"Arrow Rock State Historic Site","Latitude":39.0649341586605,"Longitude":-92.9420525793149,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":6},"4":{"CityParkId":4,"Name":"Battle
                  of Athens State Historic Site","Latitude":40.5881790465945,"Longitude":-91.7129614524836,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":7},"5":{"CityParkId":5,"Name":"Battle
                  of Carthage State Historic Site","Latitude":37.172734,"Longitude":-94.297603,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":8},"6":{"CityParkId":6,"Name":"Battle
                  of[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://msprdr.usedirect.com/msprdr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1,"RegionId":15,"Name":"St. Joe State Park","ShortName":"St.
                  Joe State Park","Description":"St. Joe State Park","OrderBy":98,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":10,"UsePrepend":true,"PrependCode":"131","Address1":"2800
                  Pimville Road","Address2":"","City":"Park Hills","State":"MO","Zip":"63601","VoicePhone":"5734311069","FaxPhone":"","UDate":"2011-10-17T12:35:59.04","UserId":1,"RowGuid":"00000000-0000-0000-0000-000000000000","CatalogToken":null,"IsWebViewable":true,"Superintendent":"","WeekdayCheckdays":2,"WeekendCheckdays":2,"Latitude":37.8113496343238,"Longitude":-90.5120276380545,"IsAvailableForGreatwalk":false,"Parksize":"small","ParkCategoryid":0,"ParkActivity":0,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":null,"ShipAddress2":null,"ShipCity":null,"ShipState":null,"ShipZip":null,"UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":4,"RegionId":17,"Name":"Montauk
                  State Park","ShortName":"Montauk State Park","Description":"Montauk State
                  Park","OrderBy":73,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":10,"UsePrepend":true,"PrependCode":"102","Address1":"345
                  County Road 6670","Address2":"345 County Road 6670","City":"Salem","State":"MO","Zip":"65560","VoicePhone":"5735482201","FaxPhone":"","UDate":"2014-02-25T16:07:18.75","UserId":1[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://msprdr.usedirect.com/msprdr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":761,"RegionId":18,"PlaceId":6,"Name":"Campground","ShortName":"Campground","Description":"Campground","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"43","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2023-03-10T10:10:51.37","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":null,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":762,"RegionId":7,"PlaceId":7,"Name":"Campground","ShortName":"Campground","Description":"Campground","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"46","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2023-03-10T10:30:37.913","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":null,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false[...]
