interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://floridardr.usedirect.com/FloridaRDR/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 1.1469 ms size 29238 bytes on IP-AC12013E","UnitCategories":[{"UnitCategoryId":1,"UnitCategoryName":"Boating","HasEquipment":false,"Icon":"boating"},{"UnitCategoryId":2,"UnitCategoryName":"Cabins","HasEquipment":false,"Icon":"cabins"},{"UnitCategoryId":3,"UnitCategoryName":"Camping","HasEquipment":true,"Icon":"camping"},{"UnitCategoryId":4,"UnitCategoryName":"Equestrian
                  Camping","HasEquipment":true,"Icon":"equestriancamping"},{"UnitCategoryId":5,"UnitCategoryName":"Group
                  Camping","HasEquipment":true,"Icon":"groupcamping"},{"UnitCategoryId":6,"UnitCategoryName":"Pavilion","HasEquipment":false,"Icon":"pavilion"},{"UnitCategoryId":7,"UnitCategoryName":"Primitive","HasEquipment":true,"Icon":"primitive"}],"NightlySleepingUnits":[{"UnitCategoryId":3,"SleepingUnitId":18,"SleepingUnitName":"Boat","IsWheeled":false,"Icon":"boat"},{"UnitCategoryId":3,"SleepingUnitId":19,"SleepingUnitName":"Bus","IsWheeled":true,"Icon":"bus"},{"UnitCategoryId":3,"SleepingUnitId":20,"SleepingUnitName":"Canoe/Kayak","IsWheeled":false,"Icon":"canoekayak"},{"UnitCategoryId":3,"SleepingUnitId":21,"SleepingUnitName":"Car","IsWheeled":true,"Icon":"car"},{"UnitCategoryId":3,"SleepingUnitId":22,"SleepingUnitName":"Caravan/Camper
                  Van","IsWheeled":true,"Icon":"caravancampervan"},{"UnitCategoryId":3,"SleepingUnit[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://floridardr.usedirect.com/FloridaRDR/rdr/fd/citypark
      response:
          body:
              string:
                  '{"3351":{"CityParkId":3351,"Name":"Big Pine Key","Latitude":24.6881,"Longitude":-81.3649,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3352":{"CityParkId":3352,"Name":"Malabar","Latitude":27.9686,"Longitude":-80.5772,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3353":{"CityParkId":3353,"Name":"Reddick","Latitude":29.3612,"Longitude":-82.2817,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","PlaceId":0},"3354":{"CityParkId":3354,"Name":"Altoona","Latitude":29.0591,"Longitude":-81.6175,"IsActive":true,"EntityType":"City","EnterpriseId":1,"ParkSize":"small","Place[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://floridardr.usedirect.com/FloridaRDR/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1,"RegionId":4,"Name":"Alafia River State Park","ShortName":"Alafia
                  River State Park","Description":"Alafia River State Park","OrderBy":1,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"ARSP","Address1":"14326
                  S.COUNTY ROAD 39","Address2":"","City":"LITHIA","State":"Florida","Zip":"33547","VoicePhone":"813-672-5320","FaxPhone":"","UDate":"2020-12-21T13:32:56.557","UserId":1,"RowGuid":"83d50720-0b2a-4a85-a356-8fb1639fbe1c","CatalogToken":null,"IsWebViewable":true,"Superintendent":"Hillsborough","WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":27.774408,"Longitude":-82.144444,"IsAvailableForGreatwalk":false,"Parksize":"Large","ParkCategoryid":1,"ParkActivity":4,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":null,"ShipAddress2":null,"ShipCity":null,"ShipState":null,"ShipZip":null,"UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":13},{"PlaceId":2,"RegionId":3,"Name":"Anastasia
                  State Park","ShortName":"Anastasia State Park","Description":"Anastasia State
                  Park","OrderBy":4,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"ANAS","Address1":"300
                  Anastasia Park Road","Address2":"","City":"ST. AUGUSTINE","State":"Florida","Zip":"32080","VoicePhone":"904-461-2033","FaxPhone":"904-461-2006","UDate":"2020-12-21T13:32:56.[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://floridardr.usedirect.com/FloridaRDR/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":1,"RegionId":4,"PlaceId":1,"Name":"Alafia River State
                  Park","ShortName":"Alafia River State Park","Description":"Alafia River State
                  Park","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"ARSP","AllowWebBooking":false,"AutoOpenInventory":true,"UDate":"2022-11-17T14:27:04.71","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":2,"RegionId":4,"PlaceId":1,"Name":"Loop
                  LAL","ShortName":"Loop LAL","Description":"LAL ","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"ARSP","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2021-01-08T11:56:44.363","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":[...]
    - request:
          body:
              '{"StartDate": "07-01-2023", "WebOnly": true, "EndDate": "07-31-2023", "UnitSort":
              "orderby", "InSeasonOnly": true, "FacilityId": 54}'
          headers:
              Content-Type:
                  - application/json
          method: POST
          uri: https://floridardr.usedirect.com/FloridaRDR/rdr/search/grid
      response:
          body:
              string:
                  '{"Message":"Built in 3.5712 ms size 1478 bytes on IP-AC12010B","Filters":{"InSeasonOnly":"True","WebOnly":"True"},"UnitTypeId":0,"StartDate":"2023-07-01","EndDate":"2023-07-31","NightsRequested":31,"NightsActual":31,"TodayDate":"2023-06-05","TimeZone":"Eastern
                  Standard Time","TimeStamp":"2023-06-05 23:04:38","MinDate":"2023-06-06","MaxDate":"2023-12-05","AvailableUnitsOnly":false,"UnitSort":"orderby","TimeGrid":false,"ForUnit":false,"UnitId":0,"TimeBetween":"","TimeBetweenEval":"n/a","Facility":{"FacilityId":54,"Name":"Fort
                  Cooper State Park","Description":"Fort Cooper State Park","FacilityType":2,"FacilityBehaviourType":0,"FacilityMapSize":false,"FacilityImage":"Florida/Facilities/no_place_template.jpg","FacilityImageVBT":"https://some-server/some-path/Florida/Facilities/no_place_template.jpg","DatesInSeason":0,"DatesOutOfSeason":31,"SeasonDates":{},"TrafficStatuses":{},"UnitCount":0,"AvailableUnitCount":0,"SliceCount":0,"AvailableSliceCount":0,"Restrictions":{"FutureBookingStarts":"2023-06-05T00:00:00-04:00","FutureBookingEnds":"2024-05-05T00:00:00-04:00","MinimumStay":1,"MaximumStay":14,"IsRestrictionValid":true,"Time":"0001-01-01T00:00:00"},"Units":null,"Latitude":28.81653,"Longitude":-82.30314,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0,"IsReservationDraw":false,"DrawBookingStartDate":"0001-01-01T00:00:00","DrawBookingEndDate":"0001-01-01T00:00:00"}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status:
              code: 200
              message: OK
version: 1
