interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://azrdr.usedirect.com/azrdr/rdr/search/filters
      response:
          body:
              string:
                  '{"Message":"Built in 0.6431 ms size 11153 bytes on IP-AC120B0C","UnitCategories":[{"UnitCategoryId":4,"UnitCategoryName":"Boat-In","HasEquipment":true,"Icon":"boatin"},{"UnitCategoryId":1,"UnitCategoryName":"Cabins","HasEquipment":false,"Icon":"cabins"},{"UnitCategoryId":2,"UnitCategoryName":"Camping","HasEquipment":false,"Icon":"camping"},{"UnitCategoryId":3,"UnitCategoryName":"Day
                  Use","HasEquipment":false,"Icon":"dayuse"},{"UnitCategoryId":9,"UnitCategoryName":"Group
                  Camping","HasEquipment":true,"Icon":"groupcamping"},{"UnitCategoryId":7,"UnitCategoryName":"Lodges","HasEquipment":true,"Icon":"lodges"},{"UnitCategoryId":8,"UnitCategoryName":"Ramada","HasEquipment":true,"Icon":"ramada"},{"UnitCategoryId":6,"UnitCategoryName":"Rooms","HasEquipment":true,"Icon":"rooms"}],"NightlySleepingUnits":[{"UnitCategoryId":4,"SleepingUnitId":2,"SleepingUnitName":"RV","IsWheeled":true,"Icon":"rv"},{"UnitCategoryId":4,"SleepingUnitId":5,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":6,"SleepingUnitId":2,"SleepingUnitName":"RV","IsWheeled":true,"Icon":"rv"},{"UnitCategoryId":6,"SleepingUnitId":5,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":7,"SleepingUnitId":2,"SleepingUnitName":"RV","IsWheeled":true,"Icon":"rv"},{"UnitCategoryId":7,"SleepingUnitId":5,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":8,"SleepingUnitId":2,"SleepingUnitName":"RV","IsWheeled":true,"Icon":"rv"},{"UnitCategoryId":8,"SleepingUnitId":5,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"},{"UnitCategoryId":9,"SleepingUnitId":2,"SleepingUnitName":"RV","IsWheeled":true,"Icon":"rv"},{"UnitCategoryId":9,"SleepingUnitId":5,"SleepingUnitName":"Tent","IsWheeled":false,"Icon":"tent"}],"MinVehicleLengths":[{"SleepingUnitId":2,"MinVehicleLength":10,"MinVehicleName":">
                  10","Icon":"10"},{"SleepingUnitId":2,"MinVehicleLength":20,"MinVehicleName":">
                  20","Icon":"20"},{"SleepingUnitId":2,"MinVehicleLength":30,"MinVehicleName":">
                  30","Icon":"30"},{"SleepingUnitId":2,"MinVehicleLength":40,"MinVehicleName":">
                  40","Icon":"40"},{"SleepingUnitId":2,"MinVehicleLength":50,"MinVehicleName":">
                  50","Icon":"50"},{"SleepingUnitId":2,"MinVehicleLength":60,"MinVehicleName":">
                  60","Icon":"60"},{"SleepingUnitId":2,"MinVehicleLength":70,"MinVehicleName":">
                  70","Icon":"70"}],"UnitTypesGroups":[{"UnitCategoryId":1,"UnitTypesGroupId":5,"UnitTypesGroupName":"Cabin","Icon":"cabin"},{"UnitCategoryId":1,"UnitTypesGroupId":6,"UnitTypesGroupName":"Cabin-Premium","Icon":"cabinpremium"},{"UnitCategoryId":2,"UnitTypesGroupId":7,"UnitTypesGroupName":"Electric
                  (20/30/50 amp), Water & Sewer","Icon":"electric203050ampwatersewer"},{"UnitCategoryId":2,"UnitTypesGroupId":8,"UnitTypesGroupName":"Rustic","Icon":"rustic"},{"UnitCategoryId":2,"UnitTypesGroupId":9,"UnitTypesGroupName":"Electric
                  (20/30 amp) & Water","Icon":"electric2[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://azrdr.usedirect.com/azrdr/rdr/fd/citypark
      response:
          body:
              string:
                  '{"25":{"CityParkId":25,"Name":"Alamo Lake","Latitude":34.235323,"Longitude":-113.555383,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":1},"26":{"CityParkId":26,"Name":"Buckskin
                  Mountain","Latitude":34.2570034764866,"Longitude":-114.162234470524,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"small","PlaceId":2},"27":{"CityParkId":27,"Name":"Catalina","Latitude":32.41766,"Longitude":-110.93069,"IsActive":true,"EntityType":"Park","EnterpriseId":1,"ParkSize":"Small","PlaceId":3},"28":{"CityParkId":28,"Name":"Cattail
                  Cove","Latitude":34.354296,"Longitude":-114.166678,"IsActive":t[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://azrdr.usedirect.com/azrdr/rdr/fd/places
      response:
          body:
              string:
                  '[{"PlaceId":1,"RegionId":2,"Name":"Alamo Lake","ShortName":"Alamo Lake","Description":"Alamo
                  Lake","OrderBy":1,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"1121","Address1":"37
                  mi N of Wenden & US Hwy 60","Address2":"","City":"Wenden","State":"AZ","Zip":"85357","VoicePhone":"928-669-2088","FaxPhone":"","UDate":"2022-07-06T07:09:12.447","UserId":1,"RowGuid":"89e5d2c6-fd34-4edd-898d-fb822cee3b6c","CatalogToken":null,"IsWebViewable":true,"Superintendent":"ALLA","WeekdayCheckdays":0,"WeekendCheckdays":0,"Latitude":34.2426874611939,"Longitude":-113.566992295618,"IsAvailableForGreatwalk":false,"Parksize":"medium","ParkCategoryid":1,"ParkActivity":4,"ParkPopularity":0,"SkipNightlyUnitsMaxOccupancyCheck":0,"SkipGroupByFacility":0,"IsAvailableForFixedgreatwalk":false,"ShipAddress1":"","ShipAddress2":"","ShipCity":"","ShipState":"","ShipZip":"","UseBillingAddress":false,"NumberofPerson":0,"FacilityDefaultZoom":12},{"PlaceId":2,"RegionId":2,"Name":"Buckskin
                  Mountain","ShortName":"Buckskin Mountain","Description":"Buckskin Mountain","OrderBy":2,"AllowWebBooking":true,"InventoryLocking":false,"InventoryLockDuration":0,"UsePrepend":true,"PrependCode":"1131","Address1":"5476
                  North US Highway 95","Address2":"","City":"Parker","State":"AZ","Zip":"85344","VoicePhone":"928-667-3231","FaxPhone":"","UDate":"2022-03-11T01:04:25.193","UserId":1,"RowGuid":"b10511fa-ab9a-45f0-a7e8[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://azrdr.usedirect.com/azrdr/rdr/fd/facilities
      response:
          body:
              string:
                  '[{"FacilityId":1,"RegionId":2,"PlaceId":1,"Name":"Cabins","ShortName":"Cabins","Description":"Cabins","OrderBy":0,"FacilityType":2,"UsePrepend":true,"PrependCode":"1121","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2022-06-24T12:09:42.367","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto":false,"IsCaptcha":false,"FacilityBehaviourType":0,"EnableCheckOccupancy":false,"IsTrail":false,"TimebaseMaxHours":0,"TimebaseMinHours":0,"TimebaseDuration":0},{"FacilityId":2,"RegionId":2,"PlaceId":1,"Name":"Campground
                  A Loop","ShortName":"Area A","Description":"Campground A Loop","OrderBy":3,"FacilityType":2,"UsePrepend":true,"PrependCode":"1121","AllowWebBooking":true,"AutoOpenInventory":true,"UDate":"2022-07-05T12:47:32.233","RowGuid":"00000000-0000-0000-0000-000000000000","FacilityTypeNew":1,"MaxPersonOccupancy":0,"IsAvailableForGroup":false,"IsAvailableForPatron":false,"IsAvailableForEducationalGorup":false,"IsAvailableForCto[...]
