sphinx
sphinx-rtd-theme
autodoc_pydantic
autodocsumm
myst-parser
autoclasstoc
sphinx-copybutton
sphinx_autodoc_defaultargs
sphinx-click
sphinx-argparse
sphinxcontrib-apidoc

PyYAML
pandas
python-dotenv
pytz
requests
tenacity
pydantic
