name: Release
on:
    push:
        branches: [main, next, beta, alpha, "*.x"]
concurrency:
    group: ${{ github.workflow }}
jobs:
    release:
        name: Release
        if: github.repository_owner == 'juftin'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Node.js
              uses: actions/setup-node@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"
            - name: Install Hatch
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install -q hatch
                  hatch env create
                  hatch --version
            - name: Release
              run: hatch run semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
                  GIT_AUTHOR_NAME: github-actions[bot]
                  GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
                  GIT_COMMITTER_NAME: github-actions[bot]
                  GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com

    github-pages-publish:
        runs-on: ubuntu-latest
        needs: release
        if: github.ref == 'refs/heads/main' && github.repository_owner == 'juftin'
        permissions:
            contents: write
        steps:
            - name: Checkout Latest Changes
              uses: actions/checkout@v3
              with:
                  ref: ${{ github.ref }}
                  fetch-depth: 0
            - name: Set up Python Environment
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"
            - name: Install Hatch
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install -q hatch
                  hatch env create
                  hatch --version
            - name: Set Up GitHub Actions User
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
            - name: Deploy Documentation Changes
              run: hatch run docs-deploy --force
